# Definimos las librer√≠as y los paquetes necesarios

In [1]:
import pandas as pd
import json
import os


pd.set_option('display.max_columns', 500)


data_path = os.getcwd()[:-len('notebooks')] + 'Exam1/archive/'

In [2]:
files = os.listdir(data_path)
files

['chicago_taxi_trips_2016_08.csv',
 'chicago_taxi_trips_2016_09.csv',
 'column_remapping.json',
 'chicago_taxi_trips_2016_01.csv',
 'chicago_taxi_trips_2016_02.csv',
 'data_dictionary.csv',
 'chicago_taxi_trips_2016_03.csv',
 'chicago_taxi_trips_2016_07.csv',
 'chicago_taxi_trips_2016_06.csv',
 'chicago_taxi_trips_2016_12.csv',
 'chicago_taxi_trips_2016_04.csv',
 'chicago_taxi_trips_2016_10.csv',
 'chicago_taxi_trips_2016_11.csv',
 'chicago_taxi_trips_2016_05.csv']

In [3]:
f = open(data_path + 'column_remapping.json',)
data = json.load(f)

In [4]:
data.keys()

dict_keys(['taxi_id', 'company', 'pickup_census_tract', 'dropoff_census_tract', 'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude'])

# Iniciamos

In [5]:
taxi_files = [f for f in files if 'chi' in f]
taxi_files

['chicago_taxi_trips_2016_08.csv',
 'chicago_taxi_trips_2016_09.csv',
 'chicago_taxi_trips_2016_01.csv',
 'chicago_taxi_trips_2016_02.csv',
 'chicago_taxi_trips_2016_03.csv',
 'chicago_taxi_trips_2016_07.csv',
 'chicago_taxi_trips_2016_06.csv',
 'chicago_taxi_trips_2016_12.csv',
 'chicago_taxi_trips_2016_04.csv',
 'chicago_taxi_trips_2016_10.csv',
 'chicago_taxi_trips_2016_11.csv',
 'chicago_taxi_trips_2016_05.csv']

In [6]:
df = pd.read_csv(data_path + taxi_files[0])
df['month'] = taxi_files[0][-6:-4]
df = df.loc[(df['taxi_id'].isna() == False) & (df['trip_seconds'] > 0) & (df['trip_miles'] > 0)].copy()
for f in taxi_files[1:]:
    aux = pd.read_csv(data_path + f)
    aux['month'] = f[-6:-4]
    aux = aux.loc[(aux['taxi_id'].isna() == False) & (aux['trip_seconds'] > 0) & (aux['trip_miles'] > 0)].copy()
    df = df.append(aux, ignore_index = True)
df.head(3)

/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/1874266456.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(aux, ignore_index = True)
/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/1874266456.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(aux, ignore_index = True)
/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/1874266456.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(aux, ignore_index = True)
/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/1874266456.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(aux, ignore_index = True)
/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/1874266456.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(aux, ignore_index = True)
/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/1874266456.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(aux, ignore_index = True)
/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/1874266456.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(aux, ignore_index = True)
/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/1874266456.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(aux, ignore_index = True)
/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/1874266456.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(aux, ignore_index = True)
/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/1874266456.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(aux, ignore_index = True)
/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/1874266456.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(aux, ignore_index = True)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,month
0,7106.0,2016-8-15 16:30:00,2016-8-15 16:45:00,360.0,0.6,NaN,40.0,32.0,28.0,6.00,0.0,0.0,0.0,6.00,Cash,107.0,18.0,610.0,395.0,408.0,08
1,1244.0,2016-8-23 11:00:00,2016-8-23 11:00:00,240.0,0.6,NaN,16.0,32.0,32.0,5.25,0.0,0.0,1.0,6.25,Cash,10.0,744.0,605.0,18.0,610.0,08
2,6243.0,2016-8-29 00:30:00,2016-8-29 00:30:00,420.0,3.7,NaN,NaN,7.0,3.0,11.50,0.0,0.0,0.0,11.50,Cash,109.0,173.0,203.0,660.0,120.0,08

In [7]:
df.shape

(15170220, 21)

# Validaci√≥n de los datos

In [8]:
#df = df.loc[(df['taxi_id'].isna() == False) & (df['trip_seconds'] > 0) & (df['trip_miles'] > 0)].copy()
df['taxi_id'] = df['taxi_id'].astype(int)
df.head()

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,month
0,7106,2016-8-15 16:30:00,2016-8-15 16:45:00,360.0,0.60,NaN,40.0,32.0,28.0,6.00,0.00,0.0,0.0,6.00,Cash,107.0,18.0,610.0,395.0,408.0,08
1,1244,2016-8-23 11:00:00,2016-8-23 11:00:00,240.0,0.60,NaN,16.0,32.0,32.0,5.25,0.00,0.0,1.0,6.25,Cash,10.0,744.0,605.0,18.0,610.0,08
2,6243,2016-8-29 00:30:00,2016-8-29 00:30:00,420.0,3.70,NaN,NaN,7.0,3.0,11.50,0.00,0.0,0.0,11.50,Cash,109.0,173.0,203.0,660.0,120.0,08
3,2677,2016-8-13 23:45:00,2016-8-14 00:15:00,1680.0,12.12,NaN,NaN,NaN,NaN,32.25,7.55,0.0,5.0,45.30,Credit Card,NaN,NaN,NaN,NaN,NaN,08
4,767,2016-8-23 10:45:00,2016-8-23 10:45:00,240.0,0.90,NaN,NaN,6.0,6.0,5.50,0.00,0.0,0.0,5.50,Cash,NaN,686.0,500.0,686.0,500.0,08

In [9]:
df['company'] = df['company'].fillna(13000).astype(int).astype(str).replace('13000', 'No_company')
df.head(1)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,month
0,7106,2016-8-15 16:30:00,2016-8-15 16:45:00,360.0,0.6,NaN,40.0,32.0,28.0,6.0,0.0,0.0,0.0,6.0,Cash,107,18.0,610.0,395.0,408.0,08

# Creaci√≥n de la TAD

In [10]:
aux = df[['company', 'taxi_id']].groupby('company').agg('count')
aux.columns = ['Number of Trips']
aux.insert(0, 'cid', aux.index)
aux.insert(1, 'Company', aux['cid'].astype(str))
aux_dict = dict(data['company'])
aux_dict.update({'No_company' : 'NoCompany'})
aux['Company'] = aux['Company'].map(aux_dict)
companies_ids = list(aux['cid'])
companies_names = list(aux['Company'])
aux.head(3)

         cid                     Company  Number of Trips
company
10        10       KOAM Taxi Association           323807
101      101   Dispatch Taxi Affiliation          1513418
102      102  2092 - 61288 Sbeih company             4426

# Variables por taxi

In [11]:
#taxi_vars = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 25, 26, 27, 28, 29, 30, 31, 32,]

taxi_id_vars = ['TaxiIDTripsNumber', 'TaxiIDMaxTotalCharge', 'TaxiIDMaxTotalTolls',
            'TaxiIDMaxTotalTips', 'TaxiIDMaxAccumTime', 'TaxiIDMaxAccumDistance']
taxi_vars_ = ['QuantityOfTaxis', 'AvgTripsPerTaxi', 'MaxTripsPerTaxi', 'MinTripsPerTaxi',
             'MaxTollsFeeTaxi', 'AvgTollsFeeTaxi',
             'MaxTripTotalForTaxi', 'AvgTotalForTaxi',
             'MaxExtraFeeTaxi', 'AvgExtraFeeTaxi']
df_taxi_cols = ['taxi_id', 'company', 'tolls', 'extras', 'tips', 'trip_total', 'trip_seconds', 'trip_miles']
df_taxi_func = {'tolls': ['count', 'sum'],
               'extras': 'sum',
               'trip_total': 'sum',
               'tips': 'sum',
               'trip_seconds': 'sum',
               'trip_miles': 'sum'}

In [12]:
taxis = df[df_taxi_cols].groupby(['company', 'taxi_id']).agg(df_taxi_func)
taxis.columns = [c[0] + '_' + c[1] for c in taxis.columns]
taxis_func = {'tolls_count' : ['count', 'mean', 'max', 'min'],
             'tolls_sum' : ['max', 'mean'],
             'trip_total_sum' : ['max', 'mean'],
             'extras_sum': ['max', 'mean']}
aux_taxis = taxis.groupby('company').agg(taxis_func)
aux_taxis.columns = taxi_vars_


taxiIdTripsNumber = dict()
taxiIdMaxTotalCharge = dict()
taxiIdMaxTotalTolls = dict()
taxiIdMaxTotalTips = dict()
taxiIdMaxAcumTime = dict()
taxiIdMaxAcumDistance = dict()
for c in companies_ids:
    aux_c = taxis.loc[c]
    taxiIdTripsNumber[c] = aux_c.loc[aux_c['tolls_count'] == aux_c['tolls_count'].max()].index.values[0]
    taxiIdMaxTotalCharge[c] = aux_c.loc[aux_c['trip_total_sum'] == aux_c['trip_total_sum'].max()].index.values[0]
    taxiIdMaxTotalTolls[c] = aux_c.loc[aux_c['tolls_sum'] == aux_c['tolls_sum'].max()].index.values[0]
    taxiIdMaxTotalTips[c] = aux_c.loc[aux_c['tips_sum'] == aux_c['tips_sum'].max()].index.values[0]
    taxiIdMaxAcumTime[c] = aux_c.loc[aux_c['trip_seconds_sum'] == aux_c['trip_seconds_sum'].max()].index.values[0]
    taxiIdMaxAcumDistance[c] = aux_c.loc[aux_c['trip_miles_sum'] == aux_c['trip_miles_sum'].max()].index.values[0]

id_dicts = [taxiIdTripsNumber, taxiIdMaxTotalCharge, taxiIdMaxTotalTolls, 
            taxiIdMaxTotalTips, taxiIdMaxAcumTime, taxiIdMaxAcumDistance]
idcols = dict(zip(taxi_id_vars, id_dicts))

for i in idcols:
    aux_taxis[i] = aux_taxis.index.map(idcols.get(i))

aux_taxis.head()

,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance
company,,,,,,,,,,,,,,,,
10,80,4047.587500,11410,29,1018.99,26.606500,148627.71,68914.205500,11876.75,4471.358250,8751,8751,6102,4152,8751,4152
101,380,3982.678947,9938,10,1567.60,50.938605,158697.30,66277.496421,23096.52,4359.192289,1283,2022,8349,2022,2022,2022
102,1,4426.000000,4426,4426,0.00,0.000000,70313.40,70313.400000,4662.00,4662.000000,3762,3762,3762,3762,3762,3762
103,1,3626.000000,3626,3626,0.00,0.000000,72076.77,72076.770000,5538.00,5538.000000,2065,2065,2065,2065,2065,2065
106,1,2452.000000,2452,2452,0.00,0.000000,38719.91,38719.910000,2034.01,2034.010000,8088,8088,8088,8088,8088,8088

In [13]:
aux = aux.merge(aux_taxis,
               left_on = 'cid', how = 'left', right_index = True)
aux['MaxTripsDoneByTaxi'] = aux['MaxTripsPerTaxi']
aux['MinTripsDoneByTaxi'] = aux['MinTripsPerTaxi']
aux.reset_index(inplace = True, drop = True)
aux.head()

,cid,Company,Number of Trips,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance,MaxTripsDoneByTaxi,MinTripsDoneByTaxi
0,10,KOAM Taxi Association,323807,80,4047.587500,11410,29,1018.99,26.606500,148627.71,68914.205500,11876.75,4471.358250,8751,8751,6102,4152,8751,4152,11410,29
1,101,Dispatch Taxi Affiliation,1513418,380,3982.678947,9938,10,1567.60,50.938605,158697.30,66277.496421,23096.52,4359.192289,1283,2022,8349,2022,2022,2022,9938,10
2,102,2092 - 61288 Sbeih company,4426,1,4426.000000,4426,4426,0.00,0.000000,70313.40,70313.400000,4662.00,4662.000000,3762,3762,3762,3762,3762,3762,4426,4426
3,103,4197 - 41842 Royal Star,3626,1,3626.000000,3626,3626,0.00,0.000000,72076.77,72076.770000,5538.00,5538.000000,2065,2065,2065,2065,2065,2065,3626,3626
4,106,1247 - 72807 Daniel Ayertey,2452,1,2452.000000,2452,2452,0.00,0.000000,38719.91,38719.910000,2034.01,2034.010000,8088,8088,8088,8088,8088,8088,2452,2452

In [14]:
del taxis
del aux_taxis

# Columnas Avg
# 12-18

In [15]:
df.head(1)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,month
0,7106,2016-8-15 16:30:00,2016-8-15 16:45:00,360.0,0.6,NaN,40.0,32.0,28.0,6.0,0.0,0.0,0.0,6.0,Cash,107,18.0,610.0,395.0,408.0,08

In [16]:
names = ['AvgFarePerTrip',
            'AvgTipPerTrip',
            'AvgTollsPerTrip',
            'AvgExtrasPerTrip',
            'AvgTripDuration',
            'AvgDistancePerTrip']

cols = ['fare', 'tips', 'tolls', 'extras', 'trip_seconds', 'trip_miles']
aux = aux.merge(df[cols + ['company']].groupby('company').mean(),
               how = 'left', left_on = 'cid', right_index = True)
aux.columns = list(aux.columns[:-len(names)]) + names
aux.head()

,cid,Company,Number of Trips,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,AvgDistancePerTrip
0,10,KOAM Taxi Association,323807,80,4047.587500,11410,29,1018.99,26.606500,148627.71,68914.205500,11876.75,4471.358250,8751,8751,6102,4152,8751,4152,11410,29,14.217719,1.697005,0.006573,1.104697,852.040506,4.236488
1,101,Dispatch Taxi Affiliation,1513418,380,3982.678947,9938,10,1567.60,50.938605,158697.30,66277.496421,23096.52,4359.192289,1283,2022,8349,2022,2022,2022,9938,10,13.807875,1.726233,0.012790,1.094538,815.660287,4.180818
2,102,2092 - 61288 Sbeih company,4426,1,4426.000000,4426,4426,0.00,0.000000,70313.40,70313.400000,4662.00,4662.000000,3762,3762,3762,3762,3762,3762,4426,4426,14.816968,0.016155,0.000000,1.053321,900.691369,4.425079
3,103,4197 - 41842 Royal Star,3626,1,3626.000000,3626,3626,0.00,0.000000,72076.77,72076.770000,5538.00,5538.000000,2065,2065,2065,2065,2065,2065,3626,3626,16.157129,2.193331,0.000000,1.527303,952.090458,5.117402
4,106,1247 - 72807 Daniel Ayertey,2452,1,2452.000000,2452,2452,0.00,0.000000,38719.91,38719.910000,2034.01,2034.010000,8088,8088,8088,8088,8088,8088,2452,2452,13.706485,1.255139,0.000000,0.829531,871.982055,4.033238

# Columnas time y miles

In [17]:
df.head(1)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,month
0,7106,2016-8-15 16:30:00,2016-8-15 16:45:00,360.0,0.6,NaN,40.0,32.0,28.0,6.0,0.0,0.0,0.0,6.0,Cash,107,18.0,610.0,395.0,408.0,08

In [18]:
cols = ['trip_seconds', 'trip_miles']
names = ['TotalTripsDuration',
         'MaxTimeForTrip',
         'MinTimeForTrip',
         'TotalDistance',
         'MaxDistanceForTrip',
         'MinDistanceForTrip']

aux = aux.merge(df[cols + ['company']].groupby('company').agg(['sum', 'max', 'min']),
               how = 'left', left_on = 'cid', right_index = True)

aux.columns = list(aux.columns[:-len(names)]) + names
aux.head()

/var/folders/fz/_vbtf0wj7gd4_6t6w657727c0000gn/T/ipykernel_5520/2381647264.py:9: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  aux = aux.merge(df[cols + ['company']].groupby('company').agg(['sum', 'max', 'min']),

,cid,Company,Number of Trips,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,AvgDistancePerTrip,TotalTripsDuration,MaxTimeForTrip,MinTimeForTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip
0,10,KOAM Taxi Association,323807,80,4047.587500,11410,29,1018.99,26.606500,148627.71,68914.205500,11876.75,4471.358250,8751,8751,6102,4152,8751,4152,11410,29,14.217719,1.697005,0.006573,1.104697,852.040506,4.236488,2.758967e+08,15180.0,60.0,1371804.6,247.9,0.1
1,101,Dispatch Taxi Affiliation,1513418,380,3982.678947,9938,10,1567.60,50.938605,158697.30,66277.496421,23096.52,4359.192289,1283,2022,8349,2022,2022,2022,9938,10,13.807875,1.726233,0.012790,1.094538,815.660287,4.180818,1.234435e+09,36720.0,60.0,6327325.0,425.9,0.1
2,102,2092 - 61288 Sbeih company,4426,1,4426.000000,4426,4426,0.00,0.000000,70313.40,70313.400000,4662.00,4662.000000,3762,3762,3762,3762,3762,3762,4426,4426,14.816968,0.016155,0.000000,1.053321,900.691369,4.425079,3.986460e+06,5460.0,60.0,19585.4,45.3,0.1
3,103,4197 - 41842 Royal Star,3626,1,3626.000000,3626,3626,0.00,0.000000,72076.77,72076.770000,5538.00,5538.000000,2065,2065,2065,2065,2065,2065,3626,3626,16.157129,2.193331,0.000000,1.527303,952.090458,5.117402,3.452280e+06,5280.0,60.0,18555.7,45.8,0.1
4,106,1247 - 72807 Daniel Ayertey,2452,1,2452.000000,2452,2452,0.00,0.000000,38719.91,38719.910000,2034.01,2034.010000,8088,8088,8088,8088,8088,8088,2452,2452,13.706485,1.255139,0.000000,0.829531,871.982055,4.033238,2.138100e+06,8520.0,60.0,9889.5,35.8,0.1

# Columnas de totales
sum

In [19]:
df.head(1)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,month
0,7106,2016-8-15 16:30:00,2016-8-15 16:45:00,360.0,0.6,NaN,40.0,32.0,28.0,6.0,0.0,0.0,0.0,6.0,Cash,107,18.0,610.0,395.0,408.0,08

In [20]:
cols = ['trip_total', 'tolls', 'tips']
names = ['YearTotalCharge', 'YearTotalTolls', 'YearTotalTips']

aux = aux.merge(df[cols + ['company']].groupby('company').sum(),
               how = 'left', left_on = 'cid', right_index = True)

aux.columns = list(aux.columns[:-len(names)]) + names
aux.head()

,cid,Company,Number of Trips,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,AvgDistancePerTrip,TotalTripsDuration,MaxTimeForTrip,MinTimeForTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip,YearTotalCharge,YearTotalTolls,YearTotalTips
0,10,KOAM Taxi Association,323807,80,4047.587500,11410,29,1018.99,26.606500,148627.71,68914.205500,11876.75,4471.358250,8751,8751,6102,4152,8751,4152,11410,29,14.217719,1.697005,0.006573,1.104697,852.040506,4.236488,2.758967e+08,15180.0,60.0,1371804.6,247.9,0.1,5513136.44,2128.52,549502.24
1,101,Dispatch Taxi Affiliation,1513418,380,3982.678947,9938,10,1567.60,50.938605,158697.30,66277.496421,23096.52,4359.192289,1283,2022,8349,2022,2022,2022,9938,10,13.807875,1.726233,0.012790,1.094538,815.660287,4.180818,1.234435e+09,36720.0,60.0,6327325.0,425.9,0.1,25185448.64,19356.67,2612512.53
2,102,2092 - 61288 Sbeih company,4426,1,4426.000000,4426,4426,0.00,0.000000,70313.40,70313.400000,4662.00,4662.000000,3762,3762,3762,3762,3762,3762,4426,4426,14.816968,0.016155,0.000000,1.053321,900.691369,4.425079,3.986460e+06,5460.0,60.0,19585.4,45.3,0.1,70313.40,0.00,71.50
3,103,4197 - 41842 Royal Star,3626,1,3626.000000,3626,3626,0.00,0.000000,72076.77,72076.770000,5538.00,5538.000000,2065,2065,2065,2065,2065,2065,3626,3626,16.157129,2.193331,0.000000,1.527303,952.090458,5.117402,3.452280e+06,5280.0,60.0,18555.7,45.8,0.1,72076.77,0.00,7953.02
4,106,1247 - 72807 Daniel Ayertey,2452,1,2452.000000,2452,2452,0.00,0.000000,38719.91,38719.910000,2034.01,2034.010000,8088,8088,8088,8088,8088,8088,2452,2452,13.706485,1.255139,0.000000,0.829531,871.982055,4.033238,2.138100e+06,8520.0,60.0,9889.5,35.8,0.1,38719.91,0.00,3077.60

# Columna MostFrequentPaymentType
columna de moda

In [21]:
df.head(1)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,month
0,7106,2016-8-15 16:30:00,2016-8-15 16:45:00,360.0,0.6,NaN,40.0,32.0,28.0,6.0,0.0,0.0,0.0,6.0,Cash,107,18.0,610.0,395.0,408.0,08

In [22]:
cols = ['payment_type']
names = ['MostFrequentPaymentType']

aux = aux.merge(df[cols + ['company']].groupby('company').agg(pd.Series.mode),
               how = 'left', left_on = 'cid', right_index = True)

aux.columns = list(aux.columns[:-len(names)]) + names
aux.head()

,cid,Company,Number of Trips,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,AvgDistancePerTrip,TotalTripsDuration,MaxTimeForTrip,MinTimeForTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip,YearTotalCharge,YearTotalTolls,YearTotalTips,MostFrequentPaymentType
0,10,KOAM Taxi Association,323807,80,4047.587500,11410,29,1018.99,26.606500,148627.71,68914.205500,11876.75,4471.358250,8751,8751,6102,4152,8751,4152,11410,29,14.217719,1.697005,0.006573,1.104697,852.040506,4.236488,2.758967e+08,15180.0,60.0,1371804.6,247.9,0.1,5513136.44,2128.52,549502.24,Cash
1,101,Dispatch Taxi Affiliation,1513418,380,3982.678947,9938,10,1567.60,50.938605,158697.30,66277.496421,23096.52,4359.192289,1283,2022,8349,2022,2022,2022,9938,10,13.807875,1.726233,0.012790,1.094538,815.660287,4.180818,1.234435e+09,36720.0,60.0,6327325.0,425.9,0.1,25185448.64,19356.67,2612512.53,Credit Card
2,102,2092 - 61288 Sbeih company,4426,1,4426.000000,4426,4426,0.00,0.000000,70313.40,70313.400000,4662.00,4662.000000,3762,3762,3762,3762,3762,3762,4426,4426,14.816968,0.016155,0.000000,1.053321,900.691369,4.425079,3.986460e+06,5460.0,60.0,19585.4,45.3,0.1,70313.40,0.00,71.50,Cash
3,103,4197 - 41842 Royal Star,3626,1,3626.000000,3626,3626,0.00,0.000000,72076.77,72076.770000,5538.00,5538.000000,2065,2065,2065,2065,2065,2065,3626,3626,16.157129,2.193331,0.000000,1.527303,952.090458,5.117402,3.452280e+06,5280.0,60.0,18555.7,45.8,0.1,72076.77,0.00,7953.02,Cash
4,106,1247 - 72807 Daniel Ayertey,2452,1,2452.000000,2452,2452,0.00,0.000000,38719.91,38719.910000,2034.01,2034.010000,8088,8088,8088,8088,8088,8088,2452,2452,13.706485,1.255139,0.000000,0.829531,871.982055,4.033238,2.138100e+06,8520.0,60.0,9889.5,35.8,0.1,38719.91,0.00,3077.60,Cash

# √öltimas dos
columnas de meses

In [23]:
df.head(1)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,month
0,7106,2016-8-15 16:30:00,2016-8-15 16:45:00,360.0,0.6,NaN,40.0,32.0,28.0,6.0,0.0,0.0,0.0,6.0,Cash,107,18.0,610.0,395.0,408.0,08

In [24]:
months = df[['company', 'month', 'trip_total']].groupby(['company', 'month']).agg(['count', 'sum'])
months.columns = ['trips', 'total']
MostChargedMonth = dict()
MonthWithMostTrips = dict()

for c in companies_ids:
    aux_months = months.loc[c]
    MostChargedMonth[c] = (aux_months
                            .loc[aux_months['total'] == aux_months['total']
                                 .max()]
                            .index.values[0])
    MonthWithMostTrips[c] = (aux_months
                            .loc[aux_months['trips'] == aux_months['trips']
                                 .max()]
                            .index.values[0])

aux['MostChargedMonth'] = aux['cid'].map(MostChargedMonth)
aux['MonthWithMostTrips'] = aux['cid'].map(MonthWithMostTrips)
#del aux_months
aux.head(1)

,cid,Company,Number of Trips,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,AvgDistancePerTrip,TotalTripsDuration,MaxTimeForTrip,MinTimeForTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip,YearTotalCharge,YearTotalTolls,YearTotalTips,MostFrequentPaymentType,MostChargedMonth,MonthWithMostTrips
0,10,KOAM Taxi Association,323807,80,4047.5875,11410,29,1018.99,26.6065,148627.71,68914.2055,11876.75,4471.35825,8751,8751,6102,4152,8751,4152,11410,29,14.217719,1.697005,0.006573,1.104697,852.040506,4.236488,275896680.0,15180.0,60.0,1371804.6,247.9,0.1,5513136.44,2128.52,549502.24,Cash,05,05

In [25]:
aux.loc[aux['Company'] == '4732 - Maude Lamy']

,cid,Company,Number of Trips,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,AvgDistancePerTrip,TotalTripsDuration,MaxTimeForTrip,MinTimeForTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip,YearTotalCharge,YearTotalTolls,YearTotalTips,MostFrequentPaymentType,MostChargedMonth,MonthWithMostTrips
38,7,4732 - Maude Lamy,2,1,2.0,2,2,0.0,0.0,49.0,49.0,1.0,1.0,7454,7454,7454,7454,7454,7454,2,2,24.0,0.0,0.0,0.5,1410.0,7.2,2820.0,2580.0,240.0,14.4,11.1,3.3,49.0,0.0,0.0,"[Cash, No Charge]",04,04

In [26]:
(months.loc['7']
 .loc[aux_months['total'] == aux_months['total']
      .max()])

       trips  total
month
06         1   12.5

# PivotTables

In [27]:
df.head(1)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,month
0,7106,2016-8-15 16:30:00,2016-8-15 16:45:00,360.0,0.6,NaN,40.0,32.0,28.0,6.0,0.0,0.0,0.0,6.0,Cash,107,18.0,610.0,395.0,408.0,08

In [28]:
# Columnas de payment Type
aux_payment_type = (pd.pivot_table(df[['company', 'payment_type', 'trip_total']],
                                   columns = 'payment_type',
                                   index = 'company',
                                   values = 'trip_total',
                                   aggfunc = ['mean', 'sum'])[[('mean', 'Cash'), ('mean', 'Credit Card'),
                                                               ('sum', 'Cash'), ('sum', 'Credit Card')]])
aux_payment_type.columns = ['AvgCashTicket', 'AvgCreditCardTicket', 'TotalCashCharge', 'TotalCreditCardCharge']

aux = aux.merge(aux_payment_type, how = 'left', right_index = True, left_on = 'cid')
del aux_payment_type
aux.head(3)

,cid,Company,Number of Trips,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,AvgDistancePerTrip,TotalTripsDuration,MaxTimeForTrip,MinTimeForTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip,YearTotalCharge,YearTotalTolls,YearTotalTips,MostFrequentPaymentType,MostChargedMonth,MonthWithMostTrips,AvgCashTicket,AvgCreditCardTicket,TotalCashCharge,TotalCreditCardCharge
0,10,KOAM Taxi Association,323807,80,4047.587500,11410,29,1018.99,26.606500,148627.71,68914.205500,11876.75,4471.358250,8751,8751,6102,4152,8751,4152,11410,29,14.217719,1.697005,0.006573,1.104697,852.040506,4.236488,2.758967e+08,15180.0,60.0,1371804.6,247.9,0.1,5513136.44,2128.52,549502.24,Cash,05,05,12.780219,22.049460,2160304.36,3278953.09
1,101,Dispatch Taxi Affiliation,1513418,380,3982.678947,9938,10,1567.60,50.938605,158697.30,66277.496421,23096.52,4359.192289,1283,2022,8349,2022,2022,2022,9938,10,13.807875,1.726233,0.012790,1.094538,815.660287,4.180818,1.234435e+09,36720.0,60.0,6327325.0,425.9,0.1,25185448.64,19356.67,2612512.53,Credit Card,05,05,12.401952,21.032953,9011556.18,15522635.01
2,102,2092 - 61288 Sbeih company,4426,1,4426.000000,4426,4426,0.00,0.000000,70313.40,70313.400000,4662.00,4662.000000,3762,3762,3762,3762,3762,3762,4426,4426,14.816968,0.016155,0.000000,1.053321,900.691369,4.425079,3.986460e+06,5460.0,60.0,19585.4,45.3,0.1,70313.40,0.00,71.50,Cash,06,03,15.914518,12.431818,69880.65,410.25

In [29]:
months_labels = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
month_dict = dict(zip([f'0{i}' for i in range(1, 10)] + ['10', '11', '12'], months_labels))

In [30]:
# Columnas de months
df_months = df[['company', 'month', 'trip_total', 'tips', 'tolls']].copy()
df_months['month'] = df_months['month'].map(month_dict)
aux_months_values = (pd.pivot_table(df_months,
                                   columns = 'month',
                                   index = 'company',
                                   values = ['trip_total', 'tips', 'tolls'],
                                   aggfunc = 'sum',
                                   fill_value = 0))
aux_months_values.columns = [c[1] + 'Total' + c[0] for c in aux_months_values.columns]
aux_months_values.columns = [c.replace('tips', 'Tips').replace('tolls', 'Tolls').replace('trip_total', 'Charge')
                            for c in aux_months_values.columns]
aux_months_values.head(3)

,AprTotalTips,AugTotalTips,DecTotalTips,FebTotalTips,JanTotalTips,JulTotalTips,JunTotalTips,MarTotalTips,MayTotalTips,NovTotalTips,OctTotalTips,SepTotalTips,AprTotalTolls,AugTotalTolls,DecTotalTolls,FebTotalTolls,JanTotalTolls,JulTotalTolls,JunTotalTolls,MarTotalTolls,MayTotalTolls,NovTotalTolls,OctTotalTolls,SepTotalTolls,AprTotalCharge,AugTotalCharge,DecTotalCharge,FebTotalCharge,JanTotalCharge,JulTotalCharge,JunTotalCharge,MarTotalCharge,MayTotalCharge,NovTotalCharge,OctTotalCharge,SepTotalCharge
company,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
10,54253.95,46573.00,27699.52,41457.91,39356.26,47329.36,54606.66,48419.99,54795.65,40715.78,48213.38,46080.78,74.50,58.30,52.88,34.60,55.60,148.50,162.20,71.70,1177.44,99.8,102.10,90.90,527055.79,468937.46,278873.84,429521.14,418767.71,485033.50,539294.35,490887.04,541689.76,393196.56,473504.67,466374.62
101,250560.03,197006.19,162887.90,196994.40,175003.76,213716.82,250773.40,240095.62,260413.56,211946.91,238942.11,214171.83,1667.98,1304.89,1759.98,1514.67,1398.14,1678.89,1868.17,1717.48,1831.09,1352.7,1687.89,1574.79,2416975.71,1942210.49,1567415.98,1918218.93,1755625.16,2145021.82,2400232.01,2335611.70,2491767.07,1950121.38,2224779.89,2037468.50
102,1.90,0.00,5.00,3.55,9.00,0.00,18.25,6.00,11.75,7.00,5.00,4.05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,6434.15,5917.00,4808.50,5500.55,4906.40,5268.50,6605.25,6357.25,6393.75,5526.00,6455.25,6140.80

In [31]:
aux = aux.merge(aux_months_values, 
               how = 'left',
               right_index = True,
               left_on = 'cid')
aux.head(10)

,cid,Company,Number of Trips,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,AvgDistancePerTrip,TotalTripsDuration,MaxTimeForTrip,MinTimeForTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip,YearTotalCharge,YearTotalTolls,YearTotalTips,MostFrequentPaymentType,MostChargedMonth,MonthWithMostTrips,AvgCashTicket,AvgCreditCardTicket,TotalCashCharge,TotalCreditCardCharge,AprTotalTips,AugTotalTips,DecTotalTips,FebTotalTips,JanTotalTips,JulTotalTips,JunTotalTips,MarTotalTips,MayTotalTips,NovTotalTips,OctTotalTips,SepTotalTips,AprTotalTolls,AugTotalTolls,DecTotalTolls,FebTotalTolls,JanTotalTolls,JulTotalTolls,JunTotalTolls,MarTotalTolls,MayTotalTolls,NovTotalTolls,OctTotalTolls,SepTotalTolls,AprTotalCharge,AugTotalCharge,DecTotalCharge,FebTotalCharge,JanTotalCharge,JulTotalCharge,JunTotalCharge,MarTotalCharge,MayTotalCharge,NovTotalCharge,OctTotalCharge,SepTotalCharge
0,10,KOAM Taxi Association,323807,80,4047.587500,11410,29,1018.99,26.606500,148627.71,68914.205500,11876.75,4471.358250,8751,8751,6102,4152,8751,4152,11410,29,14.217719,1.697005,6.573422e-03,1.104697,852.040506,4.236488,2.758967e+08,15180.0,60.0,1371804.6,247.9,0.1,5513136.44,2128.52,549502.24,Cash,05,05,12.780219,22.049460,2160304.36,3278953.09,54253.95,46573.00,27699.52,41457.91,39356.26,47329.36,54606.66,48419.99,54795.65,40715.78,48213.38,46080.78,74.50,58.30,52.88,34.60,55.60,148.50,162.20,71.70,1177.44,99.80,102.10,90.90,527055.79,468937.46,278873.84,429521.14,418767.71,485033.50,539294.35,490887.04,541689.76,393196.56,473504.67,466374.62
1,101,Dispatch Taxi Affiliation,1513418,380,3982.678947,9938,10,1567.60,50.938605,158697.30,66277.496421,23096.52,4359.192289,1283,2022,8349,2022,2022,2022,9938,10,13.807875,1.726233,1.279004e-02,1.094538,815.660287,4.180818,1.234435e+09,36720.0,60.0,6327325.0,425.9,0.1,25185448.64,19356.67,2612512.53,Credit Card,05,05,12.401952,21.032953,9011556.18,15522635.01,250560.03,197006.19,162887.90,196994.40,175003.76,213716.82,250773.40,240095.62,260413.56,211946.91,238942.11,214171.83,1667.98,1304.89,1759.98,1514.67,1398.14,1678.89,1868.17,1717.48,1831.09,1352.70,1687.89,1574.79,2416975.71,1942210.49,1567415.98,1918218.93,1755625.16,2145021.82,2400232.01,2335611.70,2491767.07,1950121.38,2224779.89,2037468.50
2,102,2092 - 61288 Sbeih company,4426,1,4426.000000,4426,4426,0.00,0.000000,70313.40,70313.400000,4662.00,4662.000000,3762,3762,3762,3762,3762,3762,4426,4426,14.816968,0.016155,0.000000e+00,1.053321,900.691369,4.425079,3.986460e+06,5460.0,60.0,19585.4,45.3,0.1,70313.40,0.00,71.50,Cash,06,03,15.914518,12.431818,69880.65,410.25,1.90,0.00,5.00,3.55,9.00,0.00,18.25,6.00,11.75,7.00,5.00,4.05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6434.15,5917.00,4808.50,5500.55,4906.40,5268.50,6605.25,6357.25,6393.75,5526.00,6455.25,6140.80
3,103,4197 - 41842 Royal Star,3626,1,3626.000000,3626,3626,0.00,0.000000,72076.77,72076.770000,5538.00,5538.000000,2065,2065,2065,2065,2065,2065,3626,3626,16.157129,2.193331,0.000000e+00,1.527303,952.090458,5.117402,3.452280e+06,5280.0,60.0,18555.7,45.8,0.1,72076.77,0.00,7953.02,Cash,03,01,13.073360,26.943744,24120.35,47932.92,703.30,595.34,547.23,659.21,509.99,638.85,761.51,792.71,787.32,562.19,670.46,724.91,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5787.35,5715.84,5065.98,5347.76,5091.89,6421.60,6670.76,6758.46,6695.32,5675.44,6268.71,6577.66
4,106,1247 - 72807 Daniel Ayertey,2452,1,2452.000000,2452,2452,0.00,0.000000,38719.91,38719.910000,2034.01,2034.010000,8088,8088,8088,8088,8088,8088,2452,2452,13.706485,1.255139,0.000000e+00,0.829531,871.982055,4.033238,2.138100e+06,8520.0,60.0,9889.5,35.8,0.1,38719.91,0.00,3077.60,Cash,07,07,13.012730,20.267998,19688.26,19031.65,516.23,121.10,0.00,352.10,228.41,480.06,522.30,417.66,439.74,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5715.23,1738.85,0.00,4538.61,3329.21,6260.06,5877.05,5470.91,5789.99,0.00,0.00,0.00
5,107,Taxi Affiliation Services,3550774,1136,3125.654930,11886,1,1.50,0.001320,147507.04,57243.737077,33269.73,3906.014930,336,2953,35,3069,336,7581,11886,1,15.291317,1.773178,4.224467e-07,1.249663,917.482217,2.985698,3.257772e+09,80040.0,60.0,10601538.9,995.5,0.1,65028885.32,1.50,6296100.46,Cash,05,03,14.263340,23.013838,26972274.96,37894148.02,647497.55,510600.95,248004.80,553044.60,528093.98,555791.75,679603.77,626987.61,669228.15,344025.09,454529.19,478693.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.50,0.00,0.00,6528249.99,5412150.78,2653075.96,5713357.68,5620991.53,6027161.15,6758138.86,6457070.71,6844702.93,3498093.47,4596340.57,4919551.69
6,109,Choice Taxi Association,981602,278,3530.942446,7457,440,561.50,20.050899,107572.92,63803.294173,9897.50,4064.698885,7791,5180,3326,4194,5180,6445,7457,440,14.870149,2.042770,5.678625e-03,1.151165,889.701671,4.599908,8.733329e+08,36780.0,60.0,4515279.2,415.4,0.1,17737315.78,5574.15,2005186.86,Credit Card,06,03,12.507736,22.854174,5633559.53,11995310.31,191390.87,156775.07,118555.67,156557.16,139076.58,167935.81,201403.88,184191.64,193242.06,149388.02,178406.62,168263.48,424.11,522.51,294.65,303.30,397.28,711.33,590.90,333.95,515.40,396.75,606.38,477.59,1661820.86,1404288.44,1084512.74,1390188.69,1288805.82,1537258.69,1728913.47,1624278.56,1690441.13,1288871.10,1556539.15,1481397.13
7,111,2823 - 73307 Seung Lee,597,1,597.000000,597,597,0.00,0.000000,21073.60,21073.600000,2336.50,2336.500000,109,109,109,109,109,109,597,597,27.594891,3.790536,0.000000e+00,3.913735,1539.396985,9.955946,9.190200e+05,6060.0,120.0,5943.7,43.8,0.1,21073.60,0.00,2262.95,Credit Card,03,03,24.579762,41.220888,5161.75,15787.60,543.11,0.00,0.00,516.76,313.00,0.00,0.00,635.73,254.35,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4685.36,0.00,0.00,4922.01,3671.40,0.00,0.00,5575.23,2219.60,0.00,0.00,0.00
8,115,6742 - 83735 Tasha ride inc,2823,1,2823.000000,2823,2823,0.00,0.000000,49284.85,49284.850000,3619.00,3619.000000,558,558,558,558,558,558,2823,2823,14.096387,2.079968,0.000000e+00,1.281970,936.514346,4.065285,2.643780e+06,6180.0,60.0,11476.3,32.3,0.1,49284.85,0.00,5871.75,Credit Card,10,10,10.858955,23.695627,14855.05,34406.05,580.50,476.45,341.93,516.06,398.05,621.35,669.17,568.03,655.80,430.37,596.04,18.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4512.50,4133.95,2953.43,4500.56,3418.40,4922.10,5508.42,4768.53,5100.05,3611.12,5570.79,285.00
9,116,2241 - 44667 - Felman Corp Manuel Alonso,203,1,203.000000,203,203,7.70,7.700000,8273.00,8273.000000,922.00,922.000000,6941,6941,6941,6941,6941,6941,203,203,30.839901,5.333990,3.793103e-02,4.541872,1943.940887,11.700985,3.946200e+05,15060.0,120.0,2375.3,53.0,0.5,8273.00,7.70,1082.80,Credit Card,11,11,30.610000,44.068627,1530.50,6742.50,0.00,0.00,272.50,0.00,0.00,0.00,0.00,0.00,0.00,490.45,319.85,0.00,0.00,0.00,7.70,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2266.70,0.00,0.00,0.00,0.00,0.00,0.00,3534.20,2472.10,0.00

In [32]:
del aux_months_values

In [33]:
f_cols = [c for c in '''1. Company
            2. QuantityOfTaxis
            3. AvgTripsPerTaxi
            4. MaxTripsPerTaxi
            5. MinTripsPerTaxi
            6. MaxTripTotalForTaxi 7. AvgTotalForTaxi
            8. MaxTollsFeeTaxi
            9. AvgTollsFeeTaxi
            10. MaxExtraFeeTaxi
            11. AvgExtraFeeTaxi 12. AvgFarePerTrip
            13. AvgTipPerTrip
            14. AvgTollsPerTrip
            15. AvgExtrasPerTrip 16. AvgTripDuration 17. TotalTripsDuration 18. AvgDistancePerTrip 19. TotalDistance
            20. MaxDistanceForTrip 21. MinDistanceForTrip 22. MaxTimeForTrip 23. MinTimeForTrip
            24. MostFrequentPaymentType 25. MaxTripsDoneByTaxi
            26. MinTripsDoneByTaxi
            27. TaxiIDTripsNumber
            28. TaxiIDMaxTotalCharge 29. TaxiIDMaxTotalTolls
            30. TaxiIDMaxTotalTips
            31. TaxiIDMaxAccumTime 32. TaxiIDMaxAccumDistance 33. TotalCreditCardCharge 34. TotalCashCharge
            35. AvgCreditCardTicket
            36. AvgCashTicket'''.replace('\n', ' ').split(' ') if '.' not in c and len(c)>0]
months_columns = ([m + 'TotalCharge' for m in months_labels] + 
                 [m + 'TotalTips' for m in months_labels] + 
                 [m + 'TotalTolls' for m in months_labels])
last_cols = [c for c in '''53. YearTotalCharge
            54. YearTotalTolls
            55. YearTotalTips
            56. MostChargedMonth
            57. MonthWithMostTrips'''.replace('\n', ' ').split(' ') if '.' not in c and len(c)>0]

In [34]:
final_columns = f_cols + months_columns + last_cols

In [35]:
aux = aux[final_columns].sort_values(by = 'Company')

In [36]:
aux[final_columns].to_csv('TAD_Oviedo_Quezada_Rolando.csv', index = False)

In [37]:
aux[final_columns].shape

(56, 77)