In [1]:
import pandas as pd
import os
import json

with open('/Users/jesusarredondo/Documents/Diplomado/Modulo1/Data/archive/column_remapping.json')\
    as json_file: 
    data_json = json.load(json_file)

company = data_json['company']
taxi_id = data_json['taxi_id']
dropoff_census_tract = data_json['dropoff_census_tract']
pickup_census_tract = data_json['pickup_census_tract']
pickup_latitude = data_json['pickup_latitude']
pickup_longitude = data_json['pickup_longitude']
dropoff_latitude = data_json['dropoff_latitude']
dropoff_longitude = data_json['dropoff_longitude']

"""Importamos los datos, como la union de todos los datos es muy pesada, vamos a hacerlo por separado"""
data_path = os.getcwd()[:-len('notebooks')] + 'Data/'
data_path

'/Users/jesusarredondo/Documents/Diplomado/Modulo1/Data/'

In [2]:
db_archive_path = data_path + 'archive/'
os.listdir(db_archive_path)

['chicago_taxi_trips_2016_08.csv',
 'chicago_taxi_trips_2016_09.csv',
 'column_remapping.json',
 'data_concat.csv',
 'TAD.csv',
 '.ipynb_checkpoints',
 'chicago_taxi_trips_2016_01.csv',
 'chicago_taxi_trips_2016_02.csv',
 'data_dictionary.csv',
 'chicago_taxi_trips_2016_03.csv',
 'chicago_taxi_trips_2016_07.csv',
 'chicago_taxi_trips_2016_06.csv',
 'chicago_taxi_trips_2016_12.csv',
 'chicago_taxi_trips_2016_04.csv',
 'chicago_taxi_trips_2016_10.csv',
 'chicago_taxi_trips_2016_11.csv',
 'chicago_taxi_trips_2016_05.csv']

In [3]:
"""Solo vamos a cargar los archivos csv"""
csv = os.listdir(db_archive_path)
csv.remove('column_remapping.json')
csv.remove('data_dictionary.csv')
csv.remove('data_concat.csv')
csv.remove('.ipynb_checkpoints')
csv.remove('TAD.csv')
csv.sort()

In [4]:
csv

['chicago_taxi_trips_2016_01.csv',
 'chicago_taxi_trips_2016_02.csv',
 'chicago_taxi_trips_2016_03.csv',
 'chicago_taxi_trips_2016_04.csv',
 'chicago_taxi_trips_2016_05.csv',
 'chicago_taxi_trips_2016_06.csv',
 'chicago_taxi_trips_2016_07.csv',
 'chicago_taxi_trips_2016_08.csv',
 'chicago_taxi_trips_2016_09.csv',
 'chicago_taxi_trips_2016_10.csv',
 'chicago_taxi_trips_2016_11.csv',
 'chicago_taxi_trips_2016_12.csv']

In [5]:
"""Cargamos los csv"""
df_1 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_01.csv')
df_2 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_02.csv')
df_3 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_03.csv')
df_4 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_04.csv')
df_5 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_05.csv')
df_6 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_06.csv')
df_7 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_07.csv')
df_8 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_08.csv')
df_9 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_09.csv')
df_10 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_10.csv')
df_11 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_11.csv')
df_12 = pd.read_csv(db_archive_path+'chicago_taxi_trips_2016_12.csv')

In [6]:
"""Como nuestra unidad muestral son las compañias vamos a crear primero el diccionario"""

company = data_json['company']
company

{'0': '3623-Arrington Enterprises',
 '1': '5874 - Sergey Cab Corp.',
 '2': '5874 - 73628 Sergey Cab Corp.',
 '3': 'Chicago Medallion Management',
 '4': '3011 - JBL Cab Inc.',
 '5': '5997 - 65283 AW Services Inc.',
 '6': '3152 - 97284 Crystal Abernathy',
 '7': '4732 - Maude Lamy',
 '8': 'Blue Ribbon Taxi Association Inc.',
 '9': '2241 - 44667 Manuel Alonso',
 '10': 'KOAM Taxi Association',
 '11': 'Blue Cab Co',
 '12': '6747 - Mueen Abdalla',
 '13': '3141 - Zip Cab',
 '14': '3094 - 24059 G.L.B. Cab Co',
 '15': '4787 - 56058 Reny Cab Co',
 '16': '4053 - Adwar H. Nikola',
 '17': '5724 - 75306 KYVI Cab Inc',
 '18': '3385 -  Eman Cab',
 '19': '0118 - 42111 Godfrey S.Awir',
 '20': '3201 - C&D Cab Co Inc',
 '21': '2192 - 73487 Zeymane Corp',
 '22': '5864 - 73614 Thomas Owusu',
 '23': 'Park Ridge Taxi and Livery',
 '24': '4787 - Reny Cab Co',
 '25': '2733 - Benny Jona',
 '26': '3669 - 85800 Jordan Taxi Inc',
 '27': '1408 - 89599 Donald Barnes',
 '28': '6057 - 24657 Richard Addo',
 '29': '5129 - Mengisti Taxi',
 '30': '5724 - 72965 KYVI Cab Inc',
 '31': '3011 - 66308 JBL Cab Inc.',
 '32': '2823 - 73307 Lee Express Inc',
 '33': '2241 - Manuel Alonso',
 '34': '0118 - Godfray S.Awir',
 '35': '2809 - 95474 C & D Cab Co Inc.',
 '36': '3620 - David K. Cab Corp.',
 '37': '6488 - 83287 Zuha Taxi',
 '38': '3591 - 63480 Chuks Cab',
 '39': '0694 - Chinesco Trans Inc',
 '40': '6743 - Luhak Corp',
 '41': '3094 - G.L.B. Cab Co',
 '42': '2733 - 74600 Benny Jona',
 '43': 'Chicago Medallion Leasing INC',
 '44': '5074 - 54002 Ahzmi Inc',
 '45': '6488 - Zuha Taxi',
 '46': '5724 - KYVI Cab Inc',
 '47': '3253 - 91138 Gaither Cab Co.',
 '48': '3556 - RC Andrews Cab',
 '49': '1247 - Daniel Ayertey',
 '50': '3253 - Gaither Cab Co.',
 '51': 'Patriot Trans Inc',
 '52': '2809 - 95474 C&D Cab Co Inc.',
 '53': '4615 - Tyrone Henderson',
 '54': '3897 - Ilie Malec',
 '55': '3141 - 87803 Zip Cab',
 '56': '2092 - Sbeih company',
 '57': '3620 - 52292 David K. Cab Corp.',
 '58': '3385 - 23210 Eman Cab',
 '59': '5776 - Mekonen Cab Company',
 '60': '5074 - Ahzmi Inc',
 '61': '3152 - Crystal Abernathy',
 '62': '3201 - CD Cab Co Inc',
 '63': '585 - 88805 Valley Cab Co',
 '64': '3201 - CID Cab Co Inc',
 '65': '1085 - 72312 N and W Cab Co',
 '66': '5062 - Sam Mestas',
 '67': "3591- Chuk's Cab",
 '68': 'T.A.S. - Payment Only',
 '69': '5437 - Great American Cab Co',
 '70': '4623 - Jay Kim',
 '71': 'Chicago Elite Cab Corp.',
 '72': '0694 - 59280 Chinesco Trans Inc',
 '73': '4615 - 83503 Tyrone Henderson',
 '74': '3623 - 72222 Arrington Enterprises',
 '75': '4623 - 27290 Jay Kim',
 '76': '3319 - CD Cab Co',
 '77': '585 - Valley Cab Co',
 '78': '1085 - N and W Cab Co',
 '79': '5006 - 39261 Salifu Bawa',
 '80': '4053 - 40193 Adwar H. Nikola',
 '81': 'DTA Test',
 '82': 'Northwest Management LLC',
 '83': '3385 - 23210  Eman Cab',
 '84': '3319 - C&D Cab Company',
 '85': 'American United Cab Association',
 '86': '5864 - Thomas Owusu',
 '87': 'C & D Cab Co Inc',
 '88': '0118 - Godfrey S.Awir',
 '89': '6574 - Babylon Express Inc.',
 '90': 'Suburban Dispatch LLC',
 '91': '5062 - 34841 Sam Mestas',
 '92': 'Top Cab Affiliation',
 '93': '2823 - Seung Lee',
 '94': '5006 - Salifu Bawa',
 '95': '5997 - AW Services Inc.',
 '96': '5129 - 98755 Mengisti Taxi',
 '97': '6743 - 78771 Luhak Corp',
 '98': '3201 - C & D Cab Co Inc',
 '99': '3556 - 36214 RC Andrews Cab',
 '100': '2767 - Sayed M Badri',
 '101': 'Dispatch Taxi Affiliation',
 '102': '2092 - 61288 Sbeih company',
 '103': '4197 - 41842 Royal Star',
 '104': '2192 - Zeymane Corp',
 '105': "3591- 63480 Chuk's Cab",
 '106': '1247 - 72807 Daniel Ayertey',
 '107': 'Taxi Affiliation Services',
 '108': '3385 - Eman Cab',
 '109': 'Choice Taxi Association',
 '110': '3669 - Jordan Taxi Inc',
 '111': '2823 - 73307 Seung Lee',
 '112': '3897 - 57856 Ilie Malec',
 '113': "3591 - 63480 Chuk's Cab",
 '114': '1408 - Donald Barnes',
 '115': '6742 - 83735 Tasha ride inc',
 '116': '2241 - 44667 - Felman Corp Manuel Alonso',
 '117': '4197 - Royal Star',
 '118': '5129 - 87128',
 '119': 'Chicago Elite Cab Corp. (Chicago Carriag'}

In [7]:
df_junto = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12])

In [8]:
df_junto.head(3)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.4,NaN,NaN,24.0,24.0,4.50,0.00,0.0,0.0,4.50,Cash,107.0,199.0,510.0,199.0,510.0
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.7,NaN,NaN,NaN,NaN,4.45,4.45,0.0,0.0,8.90,Credit Card,NaN,NaN,NaN,NaN,NaN
2,3168.0,2016-1-31 21:30:00,2016-1-31 21:30:00,0.0,0.0,NaN,NaN,NaN,NaN,42.75,5.00,0.0,0.0,47.75,Credit Card,119.0,NaN,NaN,NaN,NaN

In [9]:
"""Eliminamos los valores nulos en taxi idm trip seconds y trip miles"""
print(len(df_junto))
df_junto=df_junto.dropna(subset=["taxi_id"])
df_junto=df_junto.dropna(subset=["trip_seconds"])
df_junto=df_junto.dropna(subset=["trip_miles"])
df_junto=df_junto.reset_index(drop=True)

19866157

In [10]:
df_junto.shape[0]

19859779

In [24]:
"""Eliminamos las filas que tengan 0 en trip_seconds o en trip miles"""
cero_miles_secods_idx = df_junto[(df_junto["trip_seconds"]==0.0) | (df_junto["trip_miles"]==0.0)].index
df_junto = df_junto.drop(cero_miles_secods_idx)
df_junto.head(3)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.4,NaN,NaN,24.0,24.0,4.50,0.00,0.0,0.0,4.5,Cash,107.0,199.0,510.0,199.0,510.0
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.7,NaN,NaN,NaN,NaN,4.45,4.45,0.0,0.0,8.9,Credit Card,NaN,NaN,NaN,NaN,NaN
3,4237.0,2016-1-23 17:30:00,2016-1-23 17:30:00,480.0,1.1,NaN,NaN,6.0,6.0,7.00,0.00,0.0,0.0,7.0,Cash,NaN,686.0,500.0,686.0,500.0

In [25]:
df_junto=df_junto.reset_index(drop=True)
df_junto.head(3)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.4,NaN,NaN,24.0,24.0,4.50,0.00,0.0,0.0,4.5,Cash,107.0,199.0,510.0,199.0,510.0
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.7,NaN,NaN,NaN,NaN,4.45,4.45,0.0,0.0,8.9,Credit Card,NaN,NaN,NaN,NaN,NaN
2,4237.0,2016-1-23 17:30:00,2016-1-23 17:30:00,480.0,1.1,NaN,NaN,6.0,6.0,7.00,0.00,0.0,0.0,7.0,Cash,NaN,686.0,500.0,686.0,500.0

In [26]:
df_junto["company"]=df_junto["company"].fillna(200)
df_junto.head(3)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.4,NaN,NaN,24.0,24.0,4.50,0.00,0.0,0.0,4.5,Cash,107.0,199.0,510.0,199.0,510.0
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.7,NaN,NaN,NaN,NaN,4.45,4.45,0.0,0.0,8.9,Credit Card,200.0,NaN,NaN,NaN,NaN
2,4237.0,2016-1-23 17:30:00,2016-1-23 17:30:00,480.0,1.1,NaN,NaN,6.0,6.0,7.00,0.00,0.0,0.0,7.0,Cash,200.0,686.0,500.0,686.0,500.0

In [27]:
df_junto["company"]=df_junto["company"].astype(int).astype(str)
df_junto.head(3)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.4,NaN,NaN,24.0,24.0,4.50,0.00,0.0,0.0,4.5,Cash,107,199.0,510.0,199.0,510.0
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.7,NaN,NaN,NaN,NaN,4.45,4.45,0.0,0.0,8.9,Credit Card,200,NaN,NaN,NaN,NaN
2,4237.0,2016-1-23 17:30:00,2016-1-23 17:30:00,480.0,1.1,NaN,NaN,6.0,6.0,7.00,0.00,0.0,0.0,7.0,Cash,200,686.0,500.0,686.0,500.0

In [28]:
company["200"]="NoCompany"
company

{'0': '3623-Arrington Enterprises',
 '1': '5874 - Sergey Cab Corp.',
 '2': '5874 - 73628 Sergey Cab Corp.',
 '3': 'Chicago Medallion Management',
 '4': '3011 - JBL Cab Inc.',
 '5': '5997 - 65283 AW Services Inc.',
 '6': '3152 - 97284 Crystal Abernathy',
 '7': '4732 - Maude Lamy',
 '8': 'Blue Ribbon Taxi Association Inc.',
 '9': '2241 - 44667 Manuel Alonso',
 '10': 'KOAM Taxi Association',
 '11': 'Blue Cab Co',
 '12': '6747 - Mueen Abdalla',
 '13': '3141 - Zip Cab',
 '14': '3094 - 24059 G.L.B. Cab Co',
 '15': '4787 - 56058 Reny Cab Co',
 '16': '4053 - Adwar H. Nikola',
 '17': '5724 - 75306 KYVI Cab Inc',
 '18': '3385 -  Eman Cab',
 '19': '0118 - 42111 Godfrey S.Awir',
 '20': '3201 - C&D Cab Co Inc',
 '21': '2192 - 73487 Zeymane Corp',
 '22': '5864 - 73614 Thomas Owusu',
 '23': 'Park Ridge Taxi and Livery',
 '24': '4787 - Reny Cab Co',
 '25': '2733 - Benny Jona',
 '26': '3669 - 85800 Jordan Taxi Inc',
 '27': '1408 - 89599 Donald Barnes',
 '28': '6057 - 24657 Richard Addo',
 '29': '5129 - Mengisti Taxi',
 '30': '5724 - 72965 KYVI Cab Inc',
 '31': '3011 - 66308 JBL Cab Inc.',
 '32': '2823 - 73307 Lee Express Inc',
 '33': '2241 - Manuel Alonso',
 '34': '0118 - Godfray S.Awir',
 '35': '2809 - 95474 C & D Cab Co Inc.',
 '36': '3620 - David K. Cab Corp.',
 '37': '6488 - 83287 Zuha Taxi',
 '38': '3591 - 63480 Chuks Cab',
 '39': '0694 - Chinesco Trans Inc',
 '40': '6743 - Luhak Corp',
 '41': '3094 - G.L.B. Cab Co',
 '42': '2733 - 74600 Benny Jona',
 '43': 'Chicago Medallion Leasing INC',
 '44': '5074 - 54002 Ahzmi Inc',
 '45': '6488 - Zuha Taxi',
 '46': '5724 - KYVI Cab Inc',
 '47': '3253 - 91138 Gaither Cab Co.',
 '48': '3556 - RC Andrews Cab',
 '49': '1247 - Daniel Ayertey',
 '50': '3253 - Gaither Cab Co.',
 '51': 'Patriot Trans Inc',
 '52': '2809 - 95474 C&D Cab Co Inc.',
 '53': '4615 - Tyrone Henderson',
 '54': '3897 - Ilie Malec',
 '55': '3141 - 87803 Zip Cab',
 '56': '2092 - Sbeih company',
 '57': '3620 - 52292 David K. Cab Corp.',
 '58': '3385 - 23210 Eman Cab',
 '59': '5776 - Mekonen Cab Company',
 '60': '5074 - Ahzmi Inc',
 '61': '3152 - Crystal Abernathy',
 '62': '3201 - CD Cab Co Inc',
 '63': '585 - 88805 Valley Cab Co',
 '64': '3201 - CID Cab Co Inc',
 '65': '1085 - 72312 N and W Cab Co',
 '66': '5062 - Sam Mestas',
 '67': "3591- Chuk's Cab",
 '68': 'T.A.S. - Payment Only',
 '69': '5437 - Great American Cab Co',
 '70': '4623 - Jay Kim',
 '71': 'Chicago Elite Cab Corp.',
 '72': '0694 - 59280 Chinesco Trans Inc',
 '73': '4615 - 83503 Tyrone Henderson',
 '74': '3623 - 72222 Arrington Enterprises',
 '75': '4623 - 27290 Jay Kim',
 '76': '3319 - CD Cab Co',
 '77': '585 - Valley Cab Co',
 '78': '1085 - N and W Cab Co',
 '79': '5006 - 39261 Salifu Bawa',
 '80': '4053 - 40193 Adwar H. Nikola',
 '81': 'DTA Test',
 '82': 'Northwest Management LLC',
 '83': '3385 - 23210  Eman Cab',
 '84': '3319 - C&D Cab Company',
 '85': 'American United Cab Association',
 '86': '5864 - Thomas Owusu',
 '87': 'C & D Cab Co Inc',
 '88': '0118 - Godfrey S.Awir',
 '89': '6574 - Babylon Express Inc.',
 '90': 'Suburban Dispatch LLC',
 '91': '5062 - 34841 Sam Mestas',
 '92': 'Top Cab Affiliation',
 '93': '2823 - Seung Lee',
 '94': '5006 - Salifu Bawa',
 '95': '5997 - AW Services Inc.',
 '96': '5129 - 98755 Mengisti Taxi',
 '97': '6743 - 78771 Luhak Corp',
 '98': '3201 - C & D Cab Co Inc',
 '99': '3556 - 36214 RC Andrews Cab',
 '100': '2767 - Sayed M Badri',
 '101': 'Dispatch Taxi Affiliation',
 '102': '2092 - 61288 Sbeih company',
 '103': '4197 - 41842 Royal Star',
 '104': '2192 - Zeymane Corp',
 '105': "3591- 63480 Chuk's Cab",
 '106': '1247 - 72807 Daniel Ayertey',
 '107': 'Taxi Affiliation Services',
 '108': '3385 - Eman Cab',
 '109': 'Choice Taxi Association',
 '110': '3669 - Jordan Taxi Inc',
 '111': '2823 - 73307 Seung Lee',
 '112': '3897 - 57856 Ilie Malec',
 '113': "3591 - 63480 Chuk's Cab",
 '114': '1408 - Donald Barnes',
 '115': '6742 - 83735 Tasha ride inc',
 '116': '2241 - 44667 - Felman Corp Manuel Alonso',
 '117': '4197 - Royal Star',
 '118': '5129 - 87128',
 '119': 'Chicago Elite Cab Corp. (Chicago Carriag',
 '200': 'NoCompany'}

In [29]:
df_junto["Company"]=df_junto["company"].map(company)
df_junto.head(3)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,...,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,Company
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.4,NaN,NaN,24.0,24.0,4.50,...,0.0,0.0,4.5,Cash,107,199.0,510.0,199.0,510.0,Taxi Affiliation Services
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.7,NaN,NaN,NaN,NaN,4.45,...,0.0,0.0,8.9,Credit Card,200,NaN,NaN,NaN,NaN,NoCompany
2,4237.0,2016-1-23 17:30:00,2016-1-23 17:30:00,480.0,1.1,NaN,NaN,6.0,6.0,7.00,...,0.0,0.0,7.0,Cash,200,686.0,500.0,686.0,500.0,NoCompany

## Nombre de la compañia

In [30]:
companias= list(company.values())

In [31]:
df_compania = pd.DataFrame()
df_compania["Company"] = companias
df_compania.shape[0]

121

In [32]:
df_compania

                                      Company
0                  3623-Arrington Enterprises
1                     5874 - Sergey Cab Corp.
2               5874 - 73628 Sergey Cab Corp.
3                Chicago Medallion Management
4                         3011 - JBL Cab Inc.
..                                        ...
116  2241 - 44667 - Felman Corp Manuel Alonso
117                         4197 - Royal Star
118                              5129 - 87128
119  Chicago Elite Cab Corp. (Chicago Carriag
120                                 NoCompany

[121 rows x 1 columns]

## Taxis

In [33]:
df_junto["trip_miles"].isnull().values.any()

False

In [34]:
df_taxis_unicos = df_junto[["taxi_id","Company"]]
df_taxis_unicos = df_taxis_unicos.drop_duplicates(subset=["taxi_id"])
df_taxis_unicos = df_taxis_unicos.reset_index(drop = True)

In [35]:
"""Agrpamos por compañia"""
df_taxis_unicos.groupby("Company").count()

                                    taxi_id
Company
0118 - 42111 Godfrey S.Awir               1
0694 - 59280 Chinesco Trans Inc           1
1085 - 72312 N and W Cab Co               1
1247 - 72807 Daniel Ayertey               1
2092 - 61288 Sbeih company                1
2192 - 73487 Zeymane Corp                 1
2241 - 44667 Manuel Alonso                1
2733 - 74600 Benny Jona                   1
2809 - 95474 C & D Cab Co Inc.            1
2823 - 73307 Seung Lee                    1
3011 - 66308 JBL Cab Inc.                 1
3094 - 24059 G.L.B. Cab Co                1
3141 - 87803 Zip Cab                      1
3152 - 97284 Crystal Abernathy            1
3201 - C&D Cab Co Inc                     2
3556 - 36214 RC Andrews Cab               1
3620 - 52292 David K. Cab Corp.           1
3623 - 72222 Arrington Enterprises        1
3669 - 85800 Jordan Taxi Inc              1
4053 - 40193 Adwar H. Nikola              1
4197 - 41842 Royal Star                   1
4615 - 83503 Tyrone Henderson             1
4623 - 27290 Jay Kim                      1
4732 - Maude Lamy                         1
4787 - 56058 Reny Cab Co                  1
5006 - 39261 Salifu Bawa                  1
5062 - 34841 Sam Mestas                   1
5074 - 54002 Ahzmi Inc                    1
5129 - 87128                              1
5724 - 75306 KYVI Cab Inc                 1
585 - 88805 Valley Cab Co                 1
5874 - 73628 Sergey Cab Corp.             1
5997 - 65283 AW Services Inc.             1
6057 - 24657 Richard Addo                 1
6574 - Babylon Express Inc.               1
6742 - 83735 Tasha ride inc               1
6743 - 78771 Luhak Corp                   1
6747 - Mueen Abdalla                      1
Blue Ribbon Taxi Association Inc.       147
Chicago Medallion Leasing INC            28
Chicago Medallion Management             32
Choice Taxi Association                 278
Dispatch Taxi Affiliation               345
KOAM Taxi Association                    79
NoCompany                              2470
Northwest Management LLC                114
Suburban Dispatch LLC                     1
Taxi Affiliation Services              1135
Top Cab Affiliation                      60

In [36]:
df_taxis = pd.DataFrame()
df_taxis["Company"] =  list(company.values())
aux_1 = df_taxis_unicos.groupby("Company").count()
df_taxis = df_taxis.merge(aux_1,how = "left", left_on = "Company",right_index = True)

In [37]:
aux_2 = df_junto[["taxi_id","Company"]].groupby("Company").count()
df_taxis

                                      Company  taxi_id
0                  3623-Arrington Enterprises      NaN
1                     5874 - Sergey Cab Corp.      NaN
2               5874 - 73628 Sergey Cab Corp.      1.0
3                Chicago Medallion Management     32.0
4                         3011 - JBL Cab Inc.      NaN
..                                        ...      ...
116  2241 - 44667 - Felman Corp Manuel Alonso      NaN
117                         4197 - Royal Star      NaN
118                              5129 - 87128      1.0
119  Chicago Elite Cab Corp. (Chicago Carriag      NaN
120                                 NoCompany   2470.0

[121 rows x 2 columns]

In [38]:
df_taxis = df_taxis.merge(aux_2, how = "left", left_on = "Company",right_index = True)
df_taxis

                                      Company  taxi_id_x  taxi_id_y
0                  3623-Arrington Enterprises        NaN        NaN
1                     5874 - Sergey Cab Corp.        NaN        NaN
2               5874 - 73628 Sergey Cab Corp.        1.0     2839.0
3                Chicago Medallion Management       32.0    72861.0
4                         3011 - JBL Cab Inc.        NaN        NaN
..                                        ...        ...        ...
116  2241 - 44667 - Felman Corp Manuel Alonso        NaN      203.0
117                         4197 - Royal Star        NaN        NaN
118                              5129 - 87128        1.0     5618.0
119  Chicago Elite Cab Corp. (Chicago Carriag        NaN        NaN
120                                 NoCompany     2470.0  7329835.0

[121 rows x 3 columns]

In [39]:
df_taxis["AvgTripsPerTaxi"]=df_taxis["taxi_id_y"]/df_taxis["taxi_id_x"]
df_taxis.head(3)

                         Company  taxi_id_x  taxi_id_y  AvgTripsPerTaxi
0     3623-Arrington Enterprises        NaN        NaN              NaN
1        5874 - Sergey Cab Corp.        NaN        NaN              NaN
2  5874 - 73628 Sergey Cab Corp.        1.0     2839.0           2839.0

In [40]:
df_taxis = df_taxis.rename(columns = {"taxi_id_x":"QuantityOfTaxis","taxi_id_y":"Viajes totales"})
df_taxis

,Company,QuantityOfTaxis,Viajes totales,AvgTripsPerTaxi
0,3623-Arrington Enterprises,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.0,2839.000000
3,Chicago Medallion Management,32.0,72861.0,2276.906250
4,3011 - JBL Cab Inc.,NaN,NaN,NaN
...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,203.0,NaN
117,4197 - Royal Star,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.0,5618.000000
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN
120,NoCompany,2470.0,7329835.0,2967.544534

In [41]:
Taxis = df_taxis[["Company","QuantityOfTaxis","AvgTripsPerTaxi"]]
Taxis.head(3)

                         Company  QuantityOfTaxis  AvgTripsPerTaxi
0     3623-Arrington Enterprises              NaN              NaN
1        5874 - Sergey Cab Corp.              NaN              NaN
2  5874 - 73628 Sergey Cab Corp.              1.0           2839.0

In [42]:
aux3 = df_junto[["taxi_id","Company","payment_type"]].groupby(["Company","taxi_id"]).agg({"payment_type":"count"}).sort_values(by = ("payment_type"),ascending = False)

In [43]:
int(aux3.loc[("NoCompany")].max())

12100

In [44]:
aux3.loc[("NoCompany")]

         payment_type
taxi_id
5071.0          12100
1462.0          12078
8561.0          11433
6818.0          10522
5767.0          10270
...               ...
2516.0              1
740.0               1
2384.0              1
6731.0              1
2466.0              1

[2532 rows x 1 columns]

In [45]:
aux3.index

MultiIndex([(                        'NoCompany', 5071.0),
            (                        'NoCompany', 1462.0),
            (        'Taxi Affiliation Services',  336.0),
            (        'Taxi Affiliation Services', 1265.0),
            (                        'NoCompany', 8561.0),
            (            'KOAM Taxi Association', 8751.0),
            (                        'NoCompany', 6818.0),
            (                        'NoCompany', 5767.0),
            (                        'NoCompany', 2914.0),
            (        'Dispatch Taxi Affiliation', 1283.0),
            ...
            (                        'NoCompany',  337.0),
            (                        'NoCompany', 8663.0),
            (        'Taxi Affiliation Services', 5283.0),
            (                        'NoCompany', 2516.0),
            (                        'NoCompany',  740.0),
            (                        'NoCompany', 2384.0),
            ('Blue Ribbon Taxi Association Inc.',  728.0),
            (        'Taxi Affiliation Services', 4470.0),
            (                        'NoCompany', 6731.0),
            (                        'NoCompany', 2466.0)],
           names=['Company', 'taxi_id'], length=4904)

In [46]:
aux5 = dict()
for c in company.values():
    try:
        aux5[c]=int(aux3.loc[(c)].max())
    except:
        pass
aux5

{'5874 - 73628 Sergey Cab Corp.': 2839,
 'Chicago Medallion Management': 7341,
 '5997 - 65283 AW Services Inc.': 1950,
 '3152 - 97284 Crystal Abernathy': 3870,
 '4732 - Maude Lamy': 2,
 'Blue Ribbon Taxi Association Inc.': 8041,
 '2241 - 44667 Manuel Alonso': 882,
 'KOAM Taxi Association': 11410,
 '6747 - Mueen Abdalla': 3233,
 '3094 - 24059 G.L.B. Cab Co': 3294,
 '4787 - 56058 Reny Cab Co': 2905,
 '5724 - 75306 KYVI Cab Inc': 4064,
 '0118 - 42111 Godfrey S.Awir': 4991,
 '3201 - C&D Cab Co Inc': 1551,
 '2192 - 73487 Zeymane Corp': 2528,
 '3669 - 85800 Jordan Taxi Inc': 284,
 '6057 - 24657 Richard Addo': 1625,
 '3011 - 66308 JBL Cab Inc.': 4476,
 '2823 - 73307 Lee Express Inc': 1069,
 '2809 - 95474 C & D Cab Co Inc.': 3359,
 '6488 - 83287 Zuha Taxi': 239,
 '3591 - 63480 Chuks Cab': 3037,
 '2733 - 74600 Benny Jona': 3235,
 'Chicago Medallion Leasing INC': 7190,
 '5074 - 54002 Ahzmi Inc': 3078,
 'Patriot Trans Inc': 1042,
 '3141 - 87803 Zip Cab': 4910,
 '3620 - 52292 David K. Cab Corp.': 1606,
 '3201 - CD Cab Co Inc': 2475,
 '585 - 88805 Valley Cab Co': 3502,
 '1085 - 72312 N and W Cab Co': 4711,
 '0694 - 59280 Chinesco Trans Inc': 3146,
 '4615 - 83503 Tyrone Henderson': 2514,
 '3623 - 72222 Arrington Enterprises': 2688,
 '4623 - 27290 Jay Kim': 2877,
 '3319 - CD Cab Co': 2240,
 '5006 - 39261 Salifu Bawa': 3508,
 '4053 - 40193 Adwar H. Nikola': 1834,
 'Northwest Management LLC': 8343,
 '6574 - Babylon Express Inc.': 4253,
 'Suburban Dispatch LLC': 1,
 '5062 - 34841 Sam Mestas': 1103,
 'Top Cab Affiliation': 8531,
 '6743 - 78771 Luhak Corp': 6217,
 '3556 - 36214 RC Andrews Cab': 1060,
 'Dispatch Taxi Affiliation': 9938,
 '2092 - 61288 Sbeih company': 4426,
 '4197 - 41842 Royal Star': 3626,
 '1247 - 72807 Daniel Ayertey': 2452,
 'Taxi Affiliation Services': 11886,
 'Choice Taxi Association': 7457,
 '2823 - 73307 Seung Lee': 597,
 '6742 - 83735 Tasha ride inc': 2823,
 '2241 - 44667 - Felman Corp Manuel Alonso': 203,
 '5129 - 87128': 5618,
 'NoCompany': 12100}

In [47]:
Taxis["MaxTripsPerTaxi"]=Taxis["Company"].map(aux5)
Taxis.head(3)

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi
0,3623-Arrington Enterprises,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.0,2839.0

In [48]:
aux4 = dict()
for c in company.values():
    try:
        aux4[c]=int(aux3.loc[(c)].min())
    except:
        pass
aux4
Taxis["MinTripsPerTaxi"]=Taxis["Company"].map(aux4)
Taxis.head(3)

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.0,2839.0,2839.0

In [49]:
Taxis.tail(10)

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi
111,2823 - 73307 Seung Lee,1.0,597.000000,597.0,597.0
112,3897 - 57856 Ilie Malec,NaN,NaN,NaN,NaN
113,3591 - 63480 Chuk's Cab,NaN,NaN,NaN,NaN
114,1408 - Donald Barnes,NaN,NaN,NaN,NaN
115,6742 - 83735 Tasha ride inc,1.0,2823.000000,2823.0,2823.0
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0
117,4197 - Royal Star,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0

In [50]:
aux6 = df_junto[["taxi_id","Company","trip_total"]].groupby(["Company","taxi_id"]).agg({"trip_total":"sum"}).sort_values(by = ("trip_total"),ascending = False)
aux6.head(6)

                                   trip_total
Company                   taxi_id
NoCompany                 7611.0    219719.39
                          2914.0    164801.59
Dispatch Taxi Affiliation 2022.0    158697.30
NoCompany                 1627.0    157915.95
                          2655.0    156285.47
                          2789.0    154266.90

In [51]:
aux7 = dict()
for c in company.values():
    try:
        aux7[c]=int(aux6.loc[(c)].max())
    except:
        pass
aux7
Taxis["MaxTripTotalForTaxi"]=Taxis["Company"].map(aux7)
Taxis.head(3)

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.0,2839.0,2839.0,61122.0

In [52]:
aux8 = dict()
for c in company.values():
    try:
        aux8[c]=int(aux6.loc[(c)].mean())
    except:
        pass
aux8
Taxis["AvgTotalForTaxi"]=Taxis["Company"].map(aux8)
Taxis.head(3)

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.0,2839.0,2839.0,61122.0,61122.0

In [53]:
Taxis.tail(10)

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi
111,2823 - 73307 Seung Lee,1.0,597.000000,597.0,597.0,21073.0,21073.0
112,3897 - 57856 Ilie Malec,NaN,NaN,NaN,NaN,NaN,NaN
113,3591 - 63480 Chuk's Cab,NaN,NaN,NaN,NaN,NaN,NaN
114,1408 - Donald Barnes,NaN,NaN,NaN,NaN,NaN,NaN
115,6742 - 83735 Tasha ride inc,1.0,2823.000000,2823.0,2823.0,49284.0,49284.0
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0

In [55]:
del(aux_1)
del(aux_2)
del(aux3)
del(aux4)
del(aux5)
del(aux6)
del(aux7)
del(aux8)

In [56]:
aux1 = df_junto[["taxi_id","Company","tolls"]].groupby(["Company","taxi_id"]).agg({"tolls":"sum"}).sort_values(by = ("tolls"),ascending = False)
aux1.head(6)

                                     tolls
Company                   taxi_id
NoCompany                 7611.0   1750.00
Dispatch Taxi Affiliation 8349.0   1567.60
                          7415.0   1222.60
KOAM Taxi Association     6102.0   1018.99
Dispatch Taxi Affiliation 8048.0    805.70
Northwest Management LLC  5472.0    618.05

In [58]:
aux2 = dict()
for c in company.values():
    try:
        aux2[c]=int(aux1.loc[(c)].max())
    except:
        pass
aux2
Taxis["MaxTollsFeeTaxi"]=Taxis["Company"].map(aux2)
Taxis.head(3)

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.0,2839.0,2839.0,61122.0,61122.0,0.0

In [60]:
"""Promedio de gastos de peaje por taxi"""
aux3 = dict()
for c in company.values():
    try:
        aux3[c]=int(aux1.loc[(c)].sum())
    except:
        pass

In [61]:
df_taxis["Suma de peajes"]= df_taxis["Company"].map(aux3)
df_taxis

,Company,QuantityOfTaxis,Viajes totales,AvgTripsPerTaxi,Suma de peajes
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.0,2839.000000,0.0
3,Chicago Medallion Management,32.0,72861.0,2276.906250,20.0
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN
...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,203.0,NaN,7.0
117,4197 - Royal Star,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.0,5618.000000,0.0
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,7329835.0,2967.544534,6871.0

In [64]:
df_taxis["AvgTollsFeeTaxi"] = df_taxis["Suma de peajes"]/df_taxis["QuantityOfTaxis"]

In [65]:
df_taxis

,Company,QuantityOfTaxis,Viajes totales,AvgTripsPerTaxi,Suma de peajes,AvgTollsFeeTaxi
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.0,2839.000000,0.0,0.000000
3,Chicago Medallion Management,32.0,72861.0,2276.906250,20.0,0.625000
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,203.0,NaN,7.0,NaN
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.0,5618.000000,0.0,0.000000
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,7329835.0,2967.544534,6871.0,2.781781

In [66]:
Taxis["AvgTollsFeeTaxi"] = df_taxis["AvgTollsFeeTaxi"]

In [67]:
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781

In [68]:
del(aux1)
del(aux2)
del(aux3)

In [69]:
"""Maximo Cobrado en extras por un mismo taxi"""
aux1 = df_junto[["taxi_id","Company","extras"]].groupby(["Company","taxi_id"]).agg({"extras":"sum"}).sort_values(by = ("extras"),ascending = False)
aux2 = dict()
for c in company.values():
    try:
        aux2[c]=int(aux1.loc[(c)].max())
    except:
        pass
Taxis["MaxExtraFeeTaxi"]=Taxis["Company"].map(aux2)
Taxis.head(3)

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.0,2839.0,2839.0,61122.0,61122.0,0.0,0.0,3337.0

In [70]:
"""Promedio cobrado de extras por taxi"""
aux3 = dict()
for c in company.values():
    try:
        aux3[c]=int(aux1.loc[(c)].sum())
    except:
        pass
    
df_taxis["Suma de extras"]= df_taxis["Company"].map(aux3)
df_taxis["AvgExtraFeeTaxi"] = df_taxis["Suma de extras"]/df_taxis["QuantityOfTaxis"]
Taxis["AvgExtraFeeTaxi"]=df_taxis["AvgExtraFeeTaxi"]
Taxis.head(3)

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.0,2839.0,2839.0,61122.0,61122.0,0.0,0.0,3337.0,3337.0

In [71]:
del(aux1)
del(aux2)
del(aux3)

In [72]:
"""Tarifa promedio por viaje"""
aux_1 = df_junto[["fare","Company"]].groupby("Company").mean()
Taxis = Taxis.merge(aux_1,how = "left", left_on = "Company",right_index = True)
Taxis.head(3)

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,fare
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.0,2839.0,2839.0,61122.0,61122.0,0.0,0.0,3337.0,3337.0,18.138376

In [73]:
Taxis = Taxis.rename(columns = {"fare":"AvgFarePerTrip"})
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,AvgFarePerTrip
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,3337.000000,18.138376
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,1597.906250,12.073144
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,NaN,30.839901
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,5557.000000,13.004779
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,2912.089474,14.018902

In [75]:
del(aux_1)

In [76]:
"""Propina Promedio por viaje"""
aux_1 = df_junto[["tips","Company"]].groupby("Company").mean()
Taxis = Taxis.merge(aux_1,how = "left", left_on = "Company",right_index = True)
Taxis = Taxis.rename(columns = {"tips":"AvgTipPerTrip"})
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,AvgFarePerTrip,AvgTipPerTrip
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,3337.000000,18.138376,2.215717
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,1597.906250,12.073144,1.288572
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,NaN,30.839901,5.333990
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,5557.000000,13.004779,1.907763
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,2912.089474,14.018902,1.562520

In [77]:
del(aux_1)

In [78]:
"""Costo promedio del peaje por viaje"""
aux_1 = df_junto[["tolls","Company"]].groupby("Company").mean()
Taxis = Taxis.merge(aux_1,how = "left", left_on = "Company",right_index = True)
Taxis = Taxis.rename(columns = {"tolls":"AvgTollsPerTrip"})
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,3337.000000,18.138376,2.215717,0.000000
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,1597.906250,12.073144,1.288572,0.000285
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,NaN,30.839901,5.333990,0.037931
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,5557.000000,13.004779,1.907763,0.000000
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,2912.089474,14.018902,1.562520,0.000937

In [81]:
del(aux_1)

In [82]:
"""Extras promedio"""
aux_1 = df_junto[["extras","Company"]].groupby("Company").mean()
Taxis = Taxis.merge(aux_1,how = "left", left_on = "Company",right_index = True)
Taxis = Taxis.rename(columns = {"extras":"AvgExtrasPerTrip"})
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,3337.000000,18.138376,2.215717,0.000000,1.175414
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,1597.906250,12.073144,1.288572,0.000285,0.701792
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,NaN,30.839901,5.333990,0.037931,4.541872
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,5557.000000,13.004779,1.907763,0.000000,0.989231
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,2912.089474,14.018902,1.562520,0.000937,0.981314

In [83]:
del(aux_1)

In [84]:
"""Duración promedio de los viajes"""
aux_1 = df_junto[["trip_seconds","Company"]].groupby("Company").mean()
Taxis = Taxis.merge(aux_1,how = "left", left_on = "Company",right_index = True)
Taxis = Taxis.rename(columns = {"trip_seconds":"AvgTripDuration"})
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,3337.000000,18.138376,2.215717,0.000000,1.175414,887.932371
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,1597.906250,12.073144,1.288572,0.000285,0.701792,735.929510
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,NaN,30.839901,5.333990,0.037931,4.541872,1943.940887
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,5557.000000,13.004779,1.907763,0.000000,0.989231,762.602350
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,2912.089474,14.018902,1.562520,0.000937,0.981314,857.109843

In [85]:
del(aux_1)

In [86]:
"""Duracion total de los viajes"""
aux_1 = df_junto[["trip_seconds","Company"]].groupby("Company").sum()
Taxis = Taxis.merge(aux_1,how = "left", left_on = "Company",right_index = True)
Taxis = Taxis.rename(columns = {"trip_seconds":"TotalTripsDuration"})
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,TotalTripsDuration
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,3337.000000,18.138376,2.215717,0.000000,1.175414,887.932371,2.520840e+06
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,1597.906250,12.073144,1.288572,0.000285,0.701792,735.929510,5.362056e+07
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,NaN,30.839901,5.333990,0.037931,4.541872,1943.940887,3.946200e+05
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,5557.000000,13.004779,1.907763,0.000000,0.989231,762.602350,4.284300e+06
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,2912.089474,14.018902,1.562520,0.000937,0.981314,857.109843,6.282474e+09

In [87]:
del(aux_1)

In [88]:
"""Distancia Promedio por viaje"""
aux_1 = df_junto[["trip_miles","Company"]].groupby("Company").mean()
Taxis = Taxis.merge(aux_1,how = "left", left_on = "Company",right_index = True)
Taxis = Taxis.rename(columns = {"trip_miles":"AvgDistancePerTrip"})
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,TotalTripsDuration,AvgDistancePerTrip
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,3337.000000,18.138376,2.215717,0.000000,1.175414,887.932371,2.520840e+06,6.023389
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,1597.906250,12.073144,1.288572,0.000285,0.701792,735.929510,5.362056e+07,3.211899
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,NaN,30.839901,5.333990,0.037931,4.541872,1943.940887,3.946200e+05,11.700985
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,5557.000000,13.004779,1.907763,0.000000,0.989231,762.602350,4.284300e+06,3.818690
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,2912.089474,14.018902,1.562520,0.000937,0.981314,857.109843,6.282474e+09,5.424768

In [89]:
del(aux_1)

In [90]:
"""Distancia Total Recorrida por sus Taxis"""
aux_1 = df_junto[["trip_miles","Company"]].groupby("Company").sum()
Taxis = Taxis.merge(aux_1,how = "left", left_on = "Company",right_index = True)
Taxis = Taxis.rename(columns = {"trip_miles":"Total Distance"})
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,AvgExtraFeeTaxi,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,TotalTripsDuration,AvgDistancePerTrip,Total Distance
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,3337.000000,18.138376,2.215717,0.000000,1.175414,887.932371,2.520840e+06,6.023389,17100.40
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,1597.906250,12.073144,1.288572,0.000285,0.701792,735.929510,5.362056e+07,3.211899,234022.20
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,NaN,30.839901,5.333990,0.037931,4.541872,1943.940887,3.946200e+05,11.700985,2375.30
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,5557.000000,13.004779,1.907763,0.000000,0.989231,762.602350,4.284300e+06,3.818690,21453.40
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,2912.089474,14.018902,1.562520,0.000937,0.981314,857.109843,6.282474e+09,5.424768,39762656.54

In [91]:
del(aux_1)

In [92]:
"""Distancia maxima y minima recorida en un viaje"""
aux_1 = df_junto[["trip_miles","Company"]].groupby("Company").agg(["max","min"])
aux_1.columns = [f[0] + '_' + f[1] for f in aux_1.columns]
aux_1.head()

                                 trip_miles_max  trip_miles_min
Company
0118 - 42111 Godfrey S.Awir                47.3             0.1
0694 - 59280 Chinesco Trans Inc            60.3             0.1
1085 - 72312 N and W Cab Co                19.3             0.1
1247 - 72807 Daniel Ayertey                35.8             0.1
2092 - 61288 Sbeih company                 45.3             0.1

In [93]:
Taxis = Taxis.merge(aux_1,how = "left", left_on = "Company",right_index = True)
Taxis = Taxis.rename(columns = {"trip_miles_max":"MaxDistanceForTrip","trip_miles_min":"MinDistanceForTrip","Total Distance":"TotalDistance"})
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,AvgFarePerTrip,AvgTipPerTrip,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,TotalTripsDuration,AvgDistancePerTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,18.138376,2.215717,0.000000,1.175414,887.932371,2.520840e+06,6.023389,17100.40,59.3,0.10
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,12.073144,1.288572,0.000285,0.701792,735.929510,5.362056e+07,3.211899,234022.20,89.4,0.10
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,30.839901,5.333990,0.037931,4.541872,1943.940887,3.946200e+05,11.700985,2375.30,53.0,0.50
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,13.004779,1.907763,0.000000,0.989231,762.602350,4.284300e+06,3.818690,21453.40,39.8,0.10
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,14.018902,1.562520,0.000937,0.981314,857.109843,6.282474e+09,5.424768,39762656.54,3353.1,0.01

In [94]:
del(aux_1)

In [95]:
"""Tiempo maximo y minimo recorrido en un viaje"""
aux_1 = df_junto[["trip_seconds","Company"]].groupby("Company").agg(["max","min"])
aux_1.columns = [f[0] + '_' + f[1] for f in aux_1.columns]
aux_1.head()

                                 trip_seconds_max  trip_seconds_min
Company
0118 - 42111 Godfrey S.Awir                5760.0              60.0
0694 - 59280 Chinesco Trans Inc            7860.0              60.0
1085 - 72312 N and W Cab Co                4440.0              60.0
1247 - 72807 Daniel Ayertey                8520.0              60.0
2092 - 61288 Sbeih company                 5460.0              60.0

In [96]:
Taxis = Taxis.merge(aux_1,how = "left", left_on = "Company",right_index = True)
Taxis = Taxis.rename(columns = {"trip_seconds_max":"MaxTimeForTrip","trip_seconds_min":"MinTimeForTrip"})
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,AvgTollsPerTrip,AvgExtrasPerTrip,AvgTripDuration,TotalTripsDuration,AvgDistancePerTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip,MaxTimeForTrip,MinTimeForTrip
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,0.000000,1.175414,887.932371,2.520840e+06,6.023389,17100.40,59.3,0.10,5580.0,60.0
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,0.000285,0.701792,735.929510,5.362056e+07,3.211899,234022.20,89.4,0.10,9600.0,60.0
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,0.037931,4.541872,1943.940887,3.946200e+05,11.700985,2375.30,53.0,0.50,15060.0,120.0
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,0.000000,0.989231,762.602350,4.284300e+06,3.818690,21453.40,39.8,0.10,5520.0,60.0
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,0.000937,0.981314,857.109843,6.282474e+09,5.424768,39762656.54,3353.1,0.01,86399.0,1.0

In [98]:
del(aux_1)

In [104]:
"""Tipo de pago con mayor recurrencia"""
aux1 = df_junto[["payment_type","Company","taxi_id"]].groupby(["Company","payment_type"]).agg({"taxi_id":"count"}).sort_values(by = ("taxi_id"),ascending = False)
aux1

                                             taxi_id
Company                        payment_type
NoCompany                      Cash          4098723
                               Credit Card   3224356
Taxi Affiliation Services      Cash          1891025
                               Credit Card   1646604
Dispatch Taxi Affiliation      Credit Card    738015
...                                              ...
5129 - 87128                   No Charge           1
3201 - C&D Cab Co Inc          No Charge           1
3152 - 97284 Crystal Abernathy Unknown             1
3141 - 87803 Zip Cab           No Charge           1
4732 - Maude Lamy              No Charge           1

[198 rows x 1 columns]

In [110]:
aux1.loc[("NoCompany")].head(1).index[0]

'Cash'

In [111]:
aux1.loc[("NoCompany")]

              taxi_id
payment_type
Cash          4098723
Credit Card   3224356
Prcard           3563
Pcard            3193

In [114]:
aux2 = dict()
for c in company.values():
    try:
        aux2[c]=aux1.loc[(c)].head(1).index[0]
    except:
        pass
Taxis["MostFrequentPaymentType"]=Taxis["Company"].map(aux2)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,AvgExtrasPerTrip,AvgTripDuration,TotalTripsDuration,AvgDistancePerTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip,MaxTimeForTrip,MinTimeForTrip,MostFrequentPaymentType
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,1.175414,887.932371,2.520840e+06,6.023389,17100.40,59.3,0.10,5580.0,60.0,Cash
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,0.701792,735.929510,5.362056e+07,3.211899,234022.20,89.4,0.10,9600.0,60.0,Cash
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,4.541872,1943.940887,3.946200e+05,11.700985,2375.30,53.0,0.50,15060.0,120.0,Credit Card
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,0.989231,762.602350,4.284300e+06,3.818690,21453.40,39.8,0.10,5520.0,60.0,Credit Card
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,0.981314,857.109843,6.282474e+09,5.424768,39762656.54,3353.1,0.01,86399.0,1.0,Cash

In [116]:
"""Máximo numero de viajes hechos por un mismo taxi"""
#Es el mismo calculo que en MaxTripsPerTaxi y MinTripsPerTaxi
Taxis["MaxTripsDoneByTaxi"]=Taxis["MaxTripsPerTaxi"]
Taxis["MinTripsDoneByTaxi"]=Taxis["MinTripsPerTaxi"]
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,TotalTripsDuration,AvgDistancePerTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip,MaxTimeForTrip,MinTimeForTrip,MostFrequentPaymentType,MaxTripsDoneByTaxi,MinTripsDoneByTaxi
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,2.520840e+06,6.023389,17100.40,59.3,0.10,5580.0,60.0,Cash,2839.0,2839.0
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,5.362056e+07,3.211899,234022.20,89.4,0.10,9600.0,60.0,Cash,7341.0,55.0
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,3.946200e+05,11.700985,2375.30,53.0,0.50,15060.0,120.0,Credit Card,203.0,203.0
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,4.284300e+06,3.818690,21453.40,39.8,0.10,5520.0,60.0,Credit Card,5618.0,5618.0
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,6.282474e+09,5.424768,39762656.54,3353.1,0.01,86399.0,1.0,Cash,12100.0,1.0

In [117]:
del(aux1)
del(aux2)

In [119]:
"""Calculo del ID de taxi con mayor cantidad de viajes"""
aux1 = df_junto[["payment_type","Company","taxi_id"]].groupby(["Company","taxi_id"]).agg({"payment_type":"count"}).sort_values(by = ("payment_type"),ascending = False)
aux1

                                           payment_type
Company                           taxi_id
NoCompany                         5071.0          12100
                                  1462.0          12078
Taxi Affiliation Services         336.0           11886
                                  1265.0          11591
NoCompany                         8561.0          11433
...                                                 ...
                                  2384.0              1
Blue Ribbon Taxi Association Inc. 728.0               1
Taxi Affiliation Services         4470.0              1
NoCompany                         6731.0              1
                                  2466.0              1

[4904 rows x 1 columns]

In [120]:
aux2 = dict()
for c in company.values():
    try:
        aux2[c]=aux1.loc[(c)].head(1).index[0]
    except:
        pass
Taxis["TaxiIDTripsNumber"]=Taxis["Company"].map(aux2)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,AvgDistancePerTrip,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip,MaxTimeForTrip,MinTimeForTrip,MostFrequentPaymentType,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,TaxiIDTripsNumber
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,6.023389,17100.40,59.3,0.10,5580.0,60.0,Cash,2839.0,2839.0,687.0
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,3.211899,234022.20,89.4,0.10,9600.0,60.0,Cash,7341.0,55.0,8380.0
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,11.700985,2375.30,53.0,0.50,15060.0,120.0,Credit Card,203.0,203.0,6941.0
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,3.818690,21453.40,39.8,0.10,5520.0,60.0,Credit Card,5618.0,5618.0,7767.0
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,5.424768,39762656.54,3353.1,0.01,86399.0,1.0,Cash,12100.0,1.0,5071.0

In [121]:
del(aux1)
del(aux2)

In [122]:
"""Id de taxi con mayor cobro total del viaje"""

aux1 = df_junto[["trip_total","Company","taxi_id"]].groupby(["Company","taxi_id"]).agg({"trip_total":"sum"}).sort_values(by = ("trip_total"),ascending = False)
aux1

                                   trip_total
Company                   taxi_id
NoCompany                 7611.0    219719.39
                          2914.0    164801.59
Dispatch Taxi Affiliation 2022.0    158697.30
NoCompany                 1627.0    157915.95
                          2655.0    156285.47
...                                       ...
                          8663.0         6.50
                          2466.0         5.80
Taxi Affiliation Services 5283.0         5.50
NoCompany                 740.0          5.50
Taxi Affiliation Services 4470.0         3.65

[4904 rows x 1 columns]

In [123]:
aux2 = dict()
for c in company.values():
    try:
        aux2[c]=aux1.loc[(c)].head(1).index[0]
    except:
        pass
Taxis["TaxiIDMaxTotalCharge"]=Taxis["Company"].map(aux2)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,TotalDistance,MaxDistanceForTrip,MinDistanceForTrip,MaxTimeForTrip,MinTimeForTrip,MostFrequentPaymentType,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,17100.40,59.3,0.10,5580.0,60.0,Cash,2839.0,2839.0,687.0,687.0
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,234022.20,89.4,0.10,9600.0,60.0,Cash,7341.0,55.0,8380.0,8380.0
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,2375.30,53.0,0.50,15060.0,120.0,Credit Card,203.0,203.0,6941.0,6941.0
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,21453.40,39.8,0.10,5520.0,60.0,Credit Card,5618.0,5618.0,7767.0,7767.0
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,39762656.54,3353.1,0.01,86399.0,1.0,Cash,12100.0,1.0,5071.0,7611.0

In [124]:
del(aux1)
del(aux2)

In [126]:
"""Taxi id con mayor cobro por uso de peajes"""
aux1 = df_junto[["tolls","Company","taxi_id"]].groupby(["Company","taxi_id"]).agg({"tolls":"sum"}).sort_values(by = ("tolls"),ascending = False)
aux1

                                     tolls
Company                   taxi_id
NoCompany                 7611.0   1750.00
Dispatch Taxi Affiliation 8349.0   1567.60
                          7415.0   1222.60
KOAM Taxi Association     6102.0   1018.99
Dispatch Taxi Affiliation 8048.0    805.70
...                                    ...
NoCompany                 3420.0      0.00
                          3423.0      0.00
                          3425.0      0.00
                          3426.0      0.00
Top Cab Affiliation       8612.0      0.00

[4904 rows x 1 columns]

In [127]:
aux2 = dict()
for c in company.values():
    try:
        aux2[c]=aux1.loc[(c)].head(1).index[0]
    except:
        pass
Taxis["TaxiIDMaxTotalTolls"]=Taxis["Company"].map(aux2)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,MaxDistanceForTrip,MinDistanceForTrip,MaxTimeForTrip,MinTimeForTrip,MostFrequentPaymentType,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,59.3,0.10,5580.0,60.0,Cash,2839.0,2839.0,687.0,687.0,687.0
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,89.4,0.10,9600.0,60.0,Cash,7341.0,55.0,8380.0,8380.0,2556.0
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,53.0,0.50,15060.0,120.0,Credit Card,203.0,203.0,6941.0,6941.0,6941.0
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,39.8,0.10,5520.0,60.0,Credit Card,5618.0,5618.0,7767.0,7767.0,7767.0
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,3353.1,0.01,86399.0,1.0,Cash,12100.0,1.0,5071.0,7611.0,7611.0

In [128]:
del(aux1)
del(aux2)

In [129]:
"""Id de Taxi con mayor cobro por propinas"""
aux1 = df_junto[["tips","Company","taxi_id"]].groupby(["Company","taxi_id"]).agg({"tips":"sum"}).sort_values(by = ("tips"),ascending = False)
aux1

                                           tips
Company                       taxi_id
NoCompany                     5538.0   15957.49
Taxi Affiliation Services     3069.0   15362.34
NoCompany                     8561.0   15189.16
Chicago Medallion Leasing INC 8696.0   14872.84
NoCompany                     2914.0   14864.16
...                                         ...
Taxi Affiliation Services     5051.0       0.00
NoCompany                     1450.0       0.00
                              6731.0       0.00
Taxi Affiliation Services     5242.0       0.00
NoCompany                     1275.0       0.00

[4904 rows x 1 columns]

In [130]:
aux2 = dict()
for c in company.values():
    try:
        aux2[c]=aux1.loc[(c)].head(1).index[0]
    except:
        pass
Taxis["TaxiIDMaxTotalTips"]=Taxis["Company"].map(aux2)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,MinDistanceForTrip,MaxTimeForTrip,MinTimeForTrip,MostFrequentPaymentType,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,0.10,5580.0,60.0,Cash,2839.0,2839.0,687.0,687.0,687.0,687.0
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,0.10,9600.0,60.0,Cash,7341.0,55.0,8380.0,8380.0,2556.0,5712.0
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,0.50,15060.0,120.0,Credit Card,203.0,203.0,6941.0,6941.0,6941.0,6941.0
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,0.10,5520.0,60.0,Credit Card,5618.0,5618.0,7767.0,7767.0,7767.0,7767.0
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,0.01,86399.0,1.0,Cash,12100.0,1.0,5071.0,7611.0,7611.0,5538.0

In [131]:
del(aux1)
del(aux2)

In [132]:
"""ID de taxi con mayor cantidad de tiempo de viajes acumulado."""
aux1 = df_junto[["trip_seconds","Company","taxi_id"]].groupby(["Company","taxi_id"]).agg({"trip_seconds":"sum"}).sort_values(by = ("trip_seconds"),ascending = False)
aux1

                                   trip_seconds
Company                   taxi_id
NoCompany                 8149.0      8309400.0
                          8561.0      8251080.0
                          5071.0      8205660.0
                          2655.0      8117400.0
                          3420.0      7842480.0
...                                         ...
                          8362.0           77.0
Suburban Dispatch LLC     185.0            60.0
Taxi Affiliation Services 4470.0           60.0
NoCompany                 2344.0           24.0
                          6731.0            8.0

[4904 rows x 1 columns]

In [134]:
aux2 = dict()
for c in company.values():
    try:
        aux2[c]=aux1.loc[(c)].head(1).index[0]
    except:
        pass
Taxis["TaxiIDMaxAccumTime"]=Taxis["Company"].map(aux2)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,MaxTimeForTrip,MinTimeForTrip,MostFrequentPaymentType,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,5580.0,60.0,Cash,2839.0,2839.0,687.0,687.0,687.0,687.0,687.0
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,9600.0,60.0,Cash,7341.0,55.0,8380.0,8380.0,2556.0,5712.0,8380.0
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,15060.0,120.0,Credit Card,203.0,203.0,6941.0,6941.0,6941.0,6941.0,6941.0
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,5520.0,60.0,Credit Card,5618.0,5618.0,7767.0,7767.0,7767.0,7767.0,7767.0
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,86399.0,1.0,Cash,12100.0,1.0,5071.0,7611.0,7611.0,5538.0,8149.0

In [135]:
del(aux1)
del(aux2)

In [136]:
"""ID de taxi con mayor distancia recorrida"""
aux1 = df_junto[["trip_miles","Company","taxi_id"]].groupby(["Company","taxi_id"]).agg({"trip_miles":"sum"}).sort_values(by = ("trip_miles"),ascending = False)
aux1

                                   trip_miles
Company                   taxi_id
NoCompany                 4303.0    970088.70
                          5272.0    941818.90
                          4362.0    792506.30
                          1191.0    674164.80
                          1081.0    648651.50
...                                       ...
                          337.0          1.01
                          8663.0         1.00
Taxi Affiliation Services 5283.0         1.00
NoCompany                 740.0          1.00
Taxi Affiliation Services 4470.0         0.10

[4904 rows x 1 columns]

In [137]:
aux2 = dict()
for c in company.values():
    try:
        aux2[c]=aux1.loc[(c)].head(1).index[0]
    except:
        pass
Taxis["TaxiIDMaxAccumDistance"]=Taxis["Company"].map(aux2)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,MinTimeForTrip,MostFrequentPaymentType,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,60.0,Cash,2839.0,2839.0,687.0,687.0,687.0,687.0,687.0,687.0
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,60.0,Cash,7341.0,55.0,8380.0,8380.0,2556.0,5712.0,8380.0,8380.0
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,120.0,Credit Card,203.0,203.0,6941.0,6941.0,6941.0,6941.0,6941.0,6941.0
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,60.0,Credit Card,5618.0,5618.0,7767.0,7767.0,7767.0,7767.0,7767.0,7767.0
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,1.0,Cash,12100.0,1.0,5071.0,7611.0,7611.0,5538.0,8149.0,4303.0

In [138]:
del(aux1)
del(aux2)

In [139]:
"""Total cobrado con Tarjeta de Crédito y Total cobrado en Efectivo."""
aux_tipo_pago = (df_junto[["payment_type","Company","trip_total"]].pivot_table(index = 'Company', columns = 'payment_type', aggfunc = 'sum', fill_value = 0, 
                             values = 'trip_total'))
aux_tipo_pago

payment_type,Cash,Credit Card,Dispute,No Charge,Pcard,Prcard,Unknown
Company,,,,,,,
0118 - 42111 Godfrey S.Awir,48721.50,37080.71,143.00,0.00,0,0.00,38.75
0694 - 59280 Chinesco Trans Inc,22183.15,21046.19,25.00,0.00,0,0.00,12.30
1085 - 72312 N and W Cab Co,25560.10,24990.03,0.00,58.25,0,0.00,15.50
1247 - 72807 Daniel Ayertey,19688.26,19031.65,0.00,0.00,0,0.00,0.00
2092 - 61288 Sbeih company,69880.65,410.25,0.00,0.00,0,0.00,22.50
2192 - 73487 Zeymane Corp,14045.70,29704.31,0.00,0.00,0,0.00,0.00
2241 - 44667 - Felman Corp Manuel Alonso,1530.50,6742.50,0.00,0.00,0,0.00,0.00
2241 - 44667 Manuel Alonso,5781.00,30269.55,38.00,87.75,0,0.00,0.00
2733 - 74600 Benny Jona,22639.65,45327.08,13.50,0.00,0,0.00,13.50
2809 - 95474 C & D Cab Co Inc.,19333.00,41145.90,65.00,25.50,0,0.00,27.00
2823 - 73307 Lee Express Inc,7019.75,27481.20,69.00,0.00,0,0.00,0.00
2823 - 73307 Seung Lee,5161.75,15787.60,124.25,0.00,0,0.00,0.00
3011 - 66308 JBL Cab Inc.,21584.35,43674.04,17.50,0.00,0,0.00,13.50
3094 - 24059 G.L.B. Cab Co,23297.25,13331.11,34.50,0.00,0,0.00,0.00
3141 - 87803 Zip Cab,29058.50,32677.93,0.00,6.25,0,0.00,22.00
3152 - 97284 Crystal Abernathy,24465.85,18748.17,1480.50,0.00,0,0.00,5.50
3201 - C&D Cab Co Inc,8405.25,13090.49,4828.75,13.25,0,0.00,12.35
3201 - CD Cab Co Inc,12695.50,14808.84,8725.00,0.00,0,0.00,47.14
3319 - CD Cab Co,18012.25,17300.62,116.50,0.00,0,0.00,13.50
3556 - 36214 RC Andrews Cab,9634.20,3882.94,49.50,0.00,0,0.00,4204.75
3591 - 63480 Chuks Cab,16389.00,18677.72,0.00,0.00,0,0.00,10.75
3620 - 52292 David K. Cab Corp.,9293.50,34744.16,72.75,359.25,0,0.00,0.00
3623 - 72222 Arrington Enterprises,20935.80,35227.44,0.00,0.00,0,0.00,4.25
3669 - 85800 Jordan Taxi Inc,6565.50,4578.47,0.00,106.25,0,0.00,0.00
4053 - 40193 Adwar H. Nikola,13116.40,40994.02,0.00,0.00,0,0.00,0.00
4197 - 41842 Royal Star,24120.35,47932.92,10.75,0.00,0,0.00,12.75
4615 - 83503 Tyrone Henderson,22911.40,9904.37,0.00,278.25,0,0.00,39.25
4623 - 27290 Jay Kim,17415.30,48659.00,0.00,0.00,0,0.00,9.75
4732 - Maude Lamy,36.50,0.00,0.00,12.50,0,0.00,0.00
4787 - 56058 Reny Cab Co,24618.65,11271.09,19.25,0.00,0,0.00,13.50
5006 - 39261 Salifu Bawa,20496.95,24544.95,0.00,0.00,0,0.00,23.25
5062 - 34841 Sam Mestas,6106.60,6725.63,32.60,0.00,0,0.00,0.00
5074 - 54002 Ahzmi Inc,35359.00,33170.16,45.25,0.00,0,0.00,52.50
5129 - 87128,28039.10,61260.56,23.00,6.50,0,0.00,7.00
5724 - 75306 KYVI Cab Inc,20467.70,34335.11,0.00,9.50,0,0.00,0.00
585 - 88805 Valley Cab Co,21838.20,27257.59,0.00,0.00,0,0.00,0.00
5874 - 73628 Sergey Cab Corp.,22208.60,38841.67,72.00,0.00,0,0.00,0.00
5997 - 65283 AW Services Inc.,39068.50,5063.04,288.75,0.00,0,0.00,0.00
6057 - 24657 Richard Addo,13126.00,12181.76,0.00,0.00,0,0.00,0.00
6488 - 83287 Zuha Taxi,2448.95,655.37,0.00,0.00,0,0.00,0.00
6574 - Babylon Express Inc.,24705.25,43029.67,24.25,0.00,0,0.00,0.00
6742 - 83735 Tasha ride inc,14855.05,34406.05,5.75,0.00,0,0.00,18.00
6743 - 78771 Luhak Corp,63504.70,24903.52,13.25,0.00,0,0.00,49.00
6747 - Mueen Abdalla,21887.75,37736.79,0.00,0.00,0,0.00,11.50
Blue Ribbon Taxi Association Inc.,2929165.11,4801680.15,0.00,0.00,0,0.00,5042.30
Chicago Medallion Leasing INC,1373393.27,1715426.79,2987.65,9411.25,0,0.00,1343.01
Chicago Medallion Management,475737.16,536960.37,2201.70,9432.15,0,0.00,370.65
Choice Taxi Association,5633559.53,11995310.31,32527.66,67189.85,0,0.00,8728.43
Dispatch Taxi Affiliation,9011556.18,15522635.01,63655.11,569045.52,0,0.00,18556.82
KOAM Taxi Association,2160304.36,3278953.09,10422.16,61519.90,0,0.00,1936.93
NoCompany,52969639.55,69336829.90,0.00,0.00,41278,41239.92,0.00
Northwest Management LLC,2521250.23,4168423.39,9289.50,129702.69,0,0.00,2765.06
Patriot Trans Inc,19102.50,16108.79,61.25,0.00,0,0.00,251.10
Suburban Dispatch LLC,0.00,46.23,0.00,0.00,0,0.00,0.00
Taxi Affiliation Services,26972274.96,37894148.02,0.00,0.00,0,0.00,162462.34
Top Cab Affiliation,2191530.61,2554982.69,10092.32,2717.01,0,0.00,3127.62

In [141]:
aux_tipo_pago.loc[("NoCompany")]["Cash"]

52969639.55

In [149]:
aux_credit_card=dict()
aux_cash=dict()
for c in company.values():
    try:
        aux_credit_card[c]=aux_tipo_pago.loc[(c)]["Credit Card"]
        aux_cash[c]=aux_tipo_pago.loc[(c)]["Cash"]
    except:
        pass

In [150]:
Taxis["TotalCreditCardCharge"]=Taxis["Company"].map(aux_credit_card)
Taxis["TotalCashCharge"]=Taxis["Company"].map(aux_cash)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,MaxTripsDoneByTaxi,MinTripsDoneByTaxi,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance,TotalCreditCardCharge,TotalCashCharge
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,2839.0,2839.0,687.0,687.0,687.0,687.0,687.0,687.0,38841.67,22208.60
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,7341.0,55.0,8380.0,8380.0,2556.0,5712.0,8380.0,8380.0,536960.37,475737.16
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,203.0,203.0,6941.0,6941.0,6941.0,6941.0,6941.0,6941.0,6742.50,1530.50
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,5618.0,5618.0,7767.0,7767.0,7767.0,7767.0,7767.0,7767.0,61260.56,28039.10
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,12100.0,1.0,5071.0,7611.0,7611.0,5538.0,8149.0,4303.0,69336829.90,52969639.55

In [148]:
aux_cash

52969639.55

In [151]:
del(aux_tipo_pago)
del(aux_credit_card)
del(aux_cash)

In [152]:
"""Ticket promedio cobrado a Tarjeta de Crédito y Ticket promedio cobrado en efectivo."""
aux_tipo_pago = (df_junto[["payment_type","Company","trip_total"]].pivot_table(index = 'Company', columns = 'payment_type', aggfunc = 'mean', fill_value = 0, 
                             values = 'trip_total'))
aux_tipo_pago

payment_type,Cash,Credit Card,Dispute,No Charge,Pcard,Prcard,Unknown
Company,,,,,,,
0118 - 42111 Godfrey S.Awir,14.972803,21.508532,15.888889,0.000000,0.000000,0.000000,9.687500
0694 - 59280 Chinesco Trans Inc,11.805828,16.663650,8.333333,0.000000,0.000000,0.000000,12.300000
1085 - 72312 N and W Cab Co,9.128607,13.159573,0.000000,5.825000,0.000000,0.000000,7.750000
1247 - 72807 Daniel Ayertey,13.012730,20.267998,0.000000,0.000000,0.000000,0.000000,0.000000
2092 - 61288 Sbeih company,15.914518,12.431818,0.000000,0.000000,0.000000,0.000000,11.250000
2192 - 73487 Zeymane Corp,12.077128,21.761399,0.000000,0.000000,0.000000,0.000000,0.000000
2241 - 44667 - Felman Corp Manuel Alonso,30.610000,44.068627,0.000000,0.000000,0.000000,0.000000,0.000000
2241 - 44667 Manuel Alonso,28.200000,44.977043,38.000000,29.250000,0.000000,0.000000,0.000000
2733 - 74600 Benny Jona,14.283691,27.520996,6.750000,0.000000,0.000000,0.000000,13.500000
2809 - 95474 C & D Cab Co Inc.,12.888667,22.217009,21.666667,12.750000,0.000000,0.000000,13.500000
2823 - 73307 Lee Express Inc,18.185881,40.413529,23.000000,0.000000,0.000000,0.000000,0.000000
2823 - 73307 Seung Lee,24.579762,41.220888,31.062500,0.000000,0.000000,0.000000,0.000000
3011 - 66308 JBL Cab Inc.,10.072025,18.744223,8.750000,0.000000,0.000000,0.000000,13.500000
3094 - 24059 G.L.B. Cab Co,9.481990,16.003733,8.625000,0.000000,0.000000,0.000000,0.000000
3141 - 87803 Zip Cab,10.264394,15.740814,0.000000,6.250000,0.000000,0.000000,11.000000
3152 - 97284 Crystal Abernathy,10.323143,13.595482,12.337500,0.000000,0.000000,0.000000,5.500000
3201 - C&D Cab Co Inc,10.653042,14.943482,14.160557,13.250000,0.000000,0.000000,6.175000
3201 - CD Cab Co Inc,11.049173,14.377515,16.277985,0.000000,0.000000,0.000000,9.428000
3319 - CD Cab Co,13.273581,19.704579,29.125000,0.000000,0.000000,0.000000,13.500000
3556 - 36214 RC Andrews Cab,20.368288,18.060186,12.375000,0.000000,0.000000,0.000000,11.425951
3591 - 63480 Chuks Cab,9.766985,13.763979,0.000000,0.000000,0.000000,0.000000,5.375000
3620 - 52292 David K. Cab Corp.,15.437708,34.848706,24.250000,89.812500,0.000000,0.000000,0.000000
3623 - 72222 Arrington Enterprises,14.458425,28.432155,0.000000,0.000000,0.000000,0.000000,4.250000
3669 - 85800 Jordan Taxi Inc,37.093220,43.604476,0.000000,53.125000,0.000000,0.000000,0.000000
4053 - 40193 Adwar H. Nikola,17.772900,37.403303,0.000000,0.000000,0.000000,0.000000,0.000000
4197 - 41842 Royal Star,13.073360,26.943744,10.750000,0.000000,0.000000,0.000000,12.750000
4615 - 83503 Tyrone Henderson,12.364490,15.331842,0.000000,23.187500,0.000000,0.000000,13.083333
4623 - 27290 Jay Kim,13.489775,30.699685,0.000000,0.000000,0.000000,0.000000,9.750000
4732 - Maude Lamy,36.500000,0.000000,0.000000,12.500000,0.000000,0.000000,0.000000
4787 - 56058 Reny Cab Co,12.003242,13.244524,9.625000,0.000000,0.000000,0.000000,13.500000
5006 - 39261 Salifu Bawa,10.310337,16.169269,0.000000,0.000000,0.000000,0.000000,11.625000
5062 - 34841 Sam Mestas,9.961827,13.838745,8.150000,0.000000,0.000000,0.000000,0.000000
5074 - 54002 Ahzmi Inc,19.524572,26.304647,45.250000,0.000000,0.000000,0.000000,10.500000
5129 - 87128,11.315214,19.534617,11.500000,6.500000,0.000000,0.000000,7.000000
5724 - 75306 KYVI Cab Inc,9.835512,17.323466,0.000000,9.500000,0.000000,0.000000,0.000000
585 - 88805 Valley Cab Co,11.849267,16.430133,0.000000,0.000000,0.000000,0.000000,0.000000
5874 - 73628 Sergey Cab Corp.,14.365201,30.109822,24.000000,0.000000,0.000000,0.000000,0.000000
5997 - 65283 AW Services Inc.,25.907493,11.774512,24.062500,0.000000,0.000000,0.000000,0.000000
6057 - 24657 Richard Addo,12.500952,21.185670,0.000000,0.000000,0.000000,0.000000,0.000000
6488 - 83287 Zuha Taxi,14.074425,10.082615,0.000000,0.000000,0.000000,0.000000,0.000000
6574 - Babylon Express Inc.,11.798114,19.958103,8.083333,0.000000,0.000000,0.000000,0.000000
6742 - 83735 Tasha ride inc,10.858955,23.695627,5.750000,0.000000,0.000000,0.000000,9.000000
6743 - 78771 Luhak Corp,12.965435,18.966885,13.250000,0.000000,0.000000,0.000000,9.800000
6747 - Mueen Abdalla,13.217240,23.944664,0.000000,0.000000,0.000000,0.000000,11.500000
Blue Ribbon Taxi Association Inc.,17.961412,27.782999,0.000000,0.000000,0.000000,0.000000,13.269211
Chicago Medallion Leasing INC,11.997321,19.771409,14.573902,15.633306,0.000000,0.000000,10.744080
Chicago Medallion Management,11.364415,17.683529,12.653448,22.404157,0.000000,0.000000,9.503846
Choice Taxi Association,12.507736,22.854174,16.836263,18.804884,0.000000,0.000000,10.541582
Dispatch Taxi Affiliation,12.401952,21.032953,15.163199,13.206896,0.000000,0.000000,12.420897
KOAM Taxi Association,12.780219,22.049460,17.085508,11.682472,0.000000,0.000000,10.357914
NoCompany,12.923453,21.504126,0.000000,0.000000,12.927654,11.574493,0.000000
Northwest Management LLC,11.342218,19.200830,20.238562,14.053818,0.000000,0.000000,10.240963
Patriot Trans Inc,21.487627,26.193154,20.416667,0.000000,0.000000,0.000000,10.917391
Suburban Dispatch LLC,0.000000,46.230000,0.000000,0.000000,0.000000,0.000000,0.000000
Taxi Affiliation Services,14.263340,23.013838,0.000000,0.000000,0.000000,0.000000,12.362071
Top Cab Affiliation,13.517203,20.627156,19.223467,15.982412,0.000000,0.000000,10.530707

In [153]:
aux_credit_card=dict()
aux_cash=dict()
for c in company.values():
    try:
        aux_credit_card[c]=aux_tipo_pago.loc[(c)]["Credit Card"]
        aux_cash[c]=aux_tipo_pago.loc[(c)]["Cash"]
    except:
        pass
Taxis["AvgCreditCardTicket"]=Taxis["Company"].map(aux_credit_card)
Taxis["AvgCashTicket"]=Taxis["Company"].map(aux_cash)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,TaxiIDTripsNumber,TaxiIDMaxTotalCharge,TaxiIDMaxTotalTolls,TaxiIDMaxTotalTips,TaxiIDMaxAccumTime,TaxiIDMaxAccumDistance,TotalCreditCardCharge,TotalCashCharge,AvgCreditCardTicket,AvgCashTicket
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,687.0,687.0,687.0,687.0,687.0,687.0,38841.67,22208.60,30.109822,14.365201
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,8380.0,8380.0,2556.0,5712.0,8380.0,8380.0,536960.37,475737.16,17.683529,11.364415
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,6941.0,6941.0,6941.0,6941.0,6941.0,6941.0,6742.50,1530.50,44.068627,30.610000
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,7767.0,7767.0,7767.0,7767.0,7767.0,7767.0,61260.56,28039.10,19.534617,11.315214
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,5071.0,7611.0,7611.0,5538.0,8149.0,4303.0,69336829.90,52969639.55,21.504126,12.923453

In [154]:
"""Guardamos un checkpoint"""
Taxis.to_csv(db_archive_path+"TAD.csv",index=False, encoding="utf-8")

## A nivel mes

In [155]:
df_junto_mes = df_junto.copy()

In [156]:
df_junto_mes.head(5)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,...,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,Company
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.40,NaN,NaN,24.0,24.0,4.50,...,0.0,0.0,4.50,Cash,107,199.0,510.0,199.0,510.0,Taxi Affiliation Services
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.70,NaN,NaN,NaN,NaN,4.45,...,0.0,0.0,8.90,Credit Card,200,NaN,NaN,NaN,NaN,NoCompany
2,4237.0,2016-1-23 17:30:00,2016-1-23 17:30:00,480.0,1.10,NaN,NaN,6.0,6.0,7.00,...,0.0,0.0,7.00,Cash,200,686.0,500.0,686.0,500.0,NoCompany
3,5710.0,2016-1-14 05:45:00,2016-1-14 06:00:00,480.0,2.71,NaN,NaN,32.0,NaN,10.25,...,0.0,0.0,10.25,Cash,200,385.0,478.0,NaN,NaN,NoCompany
4,1987.0,2016-1-8 18:15:00,2016-1-8 18:45:00,1080.0,6.20,NaN,NaN,8.0,3.0,17.75,...,0.0,0.0,17.75,Cash,200,599.0,346.0,660.0,120.0,NoCompany

In [166]:
df_junto_mes["Anio"]=df_junto_mes["trip_start_timestamp"].map(lambda x: x.split("-")[0])
df_junto_mes["Anio"].unique()

array(['2016'], dtype=object)

In [168]:
df_junto_mes["Mes"]=df_junto_mes["trip_start_timestamp"].map(lambda x: x.split("-")[1])
df_junto_mes["Mes"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dtype=object)

In [170]:
diccionario_meses={"1":"Jan","2": "Feb","3": "Mar","4": "Apr","5": "May","6": "Jun","7": "Jul","8": "Aug","9": "Sep","10": "Oct","11": "Nov","12": "Dic"}

In [171]:
diccionario_meses

{'1': 'Jan',
 '2': 'Feb',
 '3': 'Mar',
 '4': 'Apr',
 '5': 'May',
 '6': 'Jun',
 '7': 'Jul',
 '8': 'Aug',
 '9': 'Sep',
 '10': 'Oct',
 '11': 'Nov',
 '12': 'Dic'}

In [172]:
df_junto_mes["Mes"]=df_junto_mes["Mes"].map(diccionario_meses)

In [173]:
df_junto_mes.head(3)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,...,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,Company,Anio,Mes
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.4,NaN,NaN,24.0,24.0,4.50,...,4.5,Cash,107,199.0,510.0,199.0,510.0,Taxi Affiliation Services,2016,Jan
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.7,NaN,NaN,NaN,NaN,4.45,...,8.9,Credit Card,200,NaN,NaN,NaN,NaN,NoCompany,2016,Jan
2,4237.0,2016-1-23 17:30:00,2016-1-23 17:30:00,480.0,1.1,NaN,NaN,6.0,6.0,7.00,...,7.0,Cash,200,686.0,500.0,686.0,500.0,NoCompany,2016,Jan

In [175]:
"""Cobro Total de cada Mes"""
aux_pago_mes = (df_junto_mes[["Mes","Company","trip_total"]].pivot_table(index = 'Company', columns = 'Mes', aggfunc = 'sum', fill_value = 0, 
                             values = 'trip_total'))
aux_pago_mes

Mes,Apr,Aug,Dic,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
Company,,,,,,,,,,,,
0118 - 42111 Godfrey S.Awir,9631.02,7162.00,6941.86,2650.00,0.00,8603.25,8732.73,8856.54,8927.50,7530.35,8794.60,8154.11
0694 - 59280 Chinesco Trans Inc,4698.72,3238.21,2720.97,3996.65,3885.30,0.00,3094.70,5153.72,3770.80,3460.36,4395.03,4852.18
1085 - 72312 N and W Cab Co,4774.57,2432.70,4589.10,4052.95,2787.08,1774.07,5066.30,4463.93,5054.46,5121.28,5575.84,4931.60
1247 - 72807 Daniel Ayertey,5715.23,1738.85,0.00,4538.61,3329.21,6260.06,5877.05,5470.91,5789.99,0.00,0.00,0.00
2092 - 61288 Sbeih company,6434.15,5917.00,4808.50,5500.55,4906.40,5268.50,6605.25,6357.25,6393.75,5526.00,6455.25,6140.80
2192 - 73487 Zeymane Corp,3802.08,3409.95,3412.98,3318.00,3384.95,3242.90,4008.30,4526.93,3582.60,3829.30,3700.95,3531.07
2241 - 44667 - Felman Corp Manuel Alonso,0.00,0.00,2266.70,0.00,0.00,0.00,0.00,0.00,0.00,3534.20,2472.10,0.00
2241 - 44667 Manuel Alonso,3858.95,4035.10,0.00,4033.00,2932.30,3910.35,4618.65,5131.75,4319.35,0.00,1059.80,2277.05
2733 - 74600 Benny Jona,7329.98,6410.01,4264.85,3741.94,2011.37,7090.66,7435.23,6737.36,7601.59,4955.56,5365.89,5049.29
2809 - 95474 C & D Cab Co Inc.,4071.02,1383.60,4919.05,4760.16,5007.40,7573.22,6918.61,4516.97,3929.45,5168.95,5980.90,6367.07
2823 - 73307 Lee Express Inc,0.00,3966.48,3254.41,0.00,0.00,4200.64,6051.97,0.00,3123.50,4425.40,4874.70,4672.85
2823 - 73307 Seung Lee,4685.36,0.00,0.00,4922.01,3671.40,0.00,0.00,5575.23,2219.60,0.00,0.00,0.00
3011 - 66308 JBL Cab Inc.,4536.53,4804.10,5599.58,5801.83,5436.67,4837.62,6167.65,7016.57,5737.64,4398.46,5090.31,5862.43
3094 - 24059 G.L.B. Cab Co,4077.85,2411.55,2519.15,2321.10,2906.35,3176.45,3432.91,2957.20,3334.71,2832.90,3081.52,3611.17
3141 - 87803 Zip Cab,5783.13,4264.70,3465.10,4145.65,5182.98,5660.71,5724.01,5207.55,6242.43,6888.11,6149.68,3050.63
3152 - 97284 Crystal Abernathy,3830.48,4149.56,2338.25,3846.55,2754.92,4162.94,4831.27,4500.86,4033.05,2867.15,3616.06,3768.93
3201 - C&D Cab Co Inc,9435.86,0.00,0.00,3837.93,5512.81,0.00,0.00,5126.75,2436.74,0.00,0.00,0.00
3201 - CD Cab Co Inc,0.00,4113.58,4187.03,0.00,0.00,4562.08,4551.81,0.00,6946.45,4699.54,2498.20,4717.79
3319 - CD Cab Co,0.00,6030.85,0.00,0.00,0.00,8487.97,10208.59,0.00,3689.49,0.00,0.00,7025.97
3556 - 36214 RC Andrews Cab,1447.70,1754.75,1584.40,1640.64,1530.80,1250.22,949.90,1554.56,1829.82,1839.00,1197.45,1192.15
3591 - 63480 Chuks Cab,0.00,7109.09,3014.45,0.00,0.00,7225.34,1229.85,0.00,0.00,2687.19,7146.73,6664.82
3620 - 52292 David K. Cab Corp.,3802.57,3466.50,1927.70,2649.80,3361.52,3922.04,5275.08,4390.78,3817.87,2942.60,4170.35,4742.85
3623 - 72222 Arrington Enterprises,4087.77,4924.51,3821.72,4990.05,4451.35,4598.85,5488.48,5411.15,5524.40,4348.08,3821.28,4699.85
3669 - 85800 Jordan Taxi Inc,0.00,0.00,1884.05,2379.05,1259.95,0.00,0.00,1134.50,0.00,1568.30,1398.22,1626.15
4053 - 40193 Adwar H. Nikola,4605.80,4031.95,3404.85,4608.56,4916.06,4872.51,4905.90,4857.53,4830.10,4120.45,4552.07,4404.64
4197 - 41842 Royal Star,5787.35,5715.84,5065.98,5347.76,5091.89,6421.60,6670.76,6758.46,6695.32,5675.44,6268.71,6577.66
4615 - 83503 Tyrone Henderson,2582.35,3248.55,2882.40,2933.45,2483.05,2354.70,3274.22,3259.65,2815.65,2775.00,3198.35,1325.90
4623 - 27290 Jay Kim,6055.86,5648.30,4452.28,4857.35,5351.50,5349.46,5943.90,5888.85,5868.57,5060.49,5903.85,5703.64
4732 - Maude Lamy,36.50,0.00,0.00,0.00,0.00,0.00,12.50,0.00,0.00,0.00,0.00,0.00
4787 - 56058 Reny Cab Co,2467.25,3384.25,2466.90,2959.25,2620.13,1687.05,3786.18,3095.01,3009.97,2853.20,3828.10,3765.20
5006 - 39261 Salifu Bawa,4085.82,3022.80,3710.98,3694.96,3590.22,3721.62,4096.26,5033.23,3329.16,3652.68,4608.42,2519.00
5062 - 34841 Sam Mestas,1061.35,939.56,1136.80,603.05,905.06,939.85,1524.05,1054.10,2276.00,944.40,815.46,665.15
5074 - 54002 Ahzmi Inc,6115.30,4745.20,3612.85,5932.55,6303.05,6297.05,6907.73,6472.38,6347.15,5304.06,5235.10,5354.49
5129 - 87128,8820.14,8109.07,2162.95,6313.55,6326.62,7384.85,9517.28,8716.51,8945.48,6677.15,7858.38,8504.18
5724 - 75306 KYVI Cab Inc,5002.25,4989.12,1325.85,4708.45,4628.65,4376.95,5654.40,5191.33,4420.62,4585.77,5040.64,4888.28
585 - 88805 Valley Cab Co,4141.15,1788.07,4532.87,5244.20,2973.37,3626.80,3803.95,6220.27,1786.71,3334.04,5909.66,5734.70
5874 - 73628 Sergey Cab Corp.,5572.45,5662.35,4490.60,4890.85,4685.95,5198.68,5475.73,5720.97,5125.04,4098.69,4945.81,5255.15
5997 - 65283 AW Services Inc.,4214.60,3822.30,1617.35,4599.15,3862.84,3049.52,2497.65,3773.48,4517.07,4031.31,4736.21,3698.81
6057 - 24657 Richard Addo,3097.90,2799.86,2168.70,0.00,2042.65,3182.40,3311.21,187.80,1655.65,1686.05,2088.60,3086.94
6488 - 83287 Zuha Taxi,0.00,0.00,0.00,0.00,3104.32,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6574 - Babylon Express Inc.,5759.45,4868.45,4535.62,6444.23,5331.15,5467.60,6189.38,6148.36,6641.20,5604.31,3996.97,6772.45
6742 - 83735 Tasha ride inc,4512.50,4133.95,2953.43,4500.56,3418.40,4922.10,5508.42,4768.53,5100.05,3611.12,5570.79,285.00
6743 - 78771 Luhak Corp,8292.35,7727.07,6254.47,7519.40,5346.26,8039.55,8727.90,5941.07,7330.15,6400.62,8306.00,8585.63
6747 - Mueen Abdalla,4549.30,4849.11,4144.35,5277.06,4916.50,4915.65,5956.75,6087.70,5529.90,3699.61,5034.42,4675.69
Blue Ribbon Taxi Association Inc.,743996.41,647837.54,434770.22,549022.45,520958.23,655934.28,812345.58,686056.67,819746.92,563114.53,660054.32,642050.41
Chicago Medallion Leasing INC,284541.97,283903.33,236196.17,86950.47,69738.00,276700.15,307476.03,202694.80,317305.68,326591.93,376748.84,333714.60
Chicago Medallion Management,72176.57,69671.94,134310.01,57842.05,37946.55,67883.02,74145.20,62849.01,73475.97,126340.53,144014.31,104046.87
Choice Taxi Association,1661820.86,1404288.44,1084512.74,1390188.69,1288805.82,1537258.69,1728913.47,1624278.56,1690441.13,1288871.10,1556539.15,1481397.13
Dispatch Taxi Affiliation,2416975.71,1942210.49,1567415.98,1918218.93,1755625.16,2145021.82,2400232.01,2335611.70,2491767.07,1950121.38,2224779.89,2037468.50
KOAM Taxi Association,527055.79,468937.46,278873.84,429521.14,418767.71,485033.50,539294.35,490887.04,541689.76,393196.56,473504.67,466374.62
NoCompany,11238442.62,9898886.14,8405614.89,9593670.13,9316503.07,11311159.05,12041130.15,11086905.88,11620462.47,9541545.63,10890660.57,7444006.77
Northwest Management LLC,691200.95,443715.39,419239.94,571423.35,480694.46,515971.70,668030.68,703928.45,712742.80,558036.60,622196.67,444249.88
Patriot Trans Inc,0.00,0.00,12917.95,0.00,0.00,0.00,0.00,0.00,0.00,14668.04,7173.05,764.60
Suburban Dispatch LLC,0.00,0.00,0.00,0.00,46.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Taxi Affiliation Services,6528249.99,5412150.78,2653075.96,5713357.68,5620991.53,6027161.15,6758138.86,6457070.71,6844702.93,3498093.47,4596340.57,4919551.69
Top Cab Affiliation,415025.38,395145.91,314185.85,368180.97,387875.73,415453.67,454538.58,393125.53,447009.69,355907.99,414496.92,401504.03

In [176]:
meses=["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dic"]
aux_pago_mes=aux_pago_mes[meses]
aux_pago_mes

Mes,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dic
Company,,,,,,,,,,,,
0118 - 42111 Godfrey S.Awir,0.00,2650.00,8856.54,9631.02,8927.50,8732.73,8603.25,7162.00,8154.11,8794.60,7530.35,6941.86
0694 - 59280 Chinesco Trans Inc,3885.30,3996.65,5153.72,4698.72,3770.80,3094.70,0.00,3238.21,4852.18,4395.03,3460.36,2720.97
1085 - 72312 N and W Cab Co,2787.08,4052.95,4463.93,4774.57,5054.46,5066.30,1774.07,2432.70,4931.60,5575.84,5121.28,4589.10
1247 - 72807 Daniel Ayertey,3329.21,4538.61,5470.91,5715.23,5789.99,5877.05,6260.06,1738.85,0.00,0.00,0.00,0.00
2092 - 61288 Sbeih company,4906.40,5500.55,6357.25,6434.15,6393.75,6605.25,5268.50,5917.00,6140.80,6455.25,5526.00,4808.50
2192 - 73487 Zeymane Corp,3384.95,3318.00,4526.93,3802.08,3582.60,4008.30,3242.90,3409.95,3531.07,3700.95,3829.30,3412.98
2241 - 44667 - Felman Corp Manuel Alonso,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2472.10,3534.20,2266.70
2241 - 44667 Manuel Alonso,2932.30,4033.00,5131.75,3858.95,4319.35,4618.65,3910.35,4035.10,2277.05,1059.80,0.00,0.00
2733 - 74600 Benny Jona,2011.37,3741.94,6737.36,7329.98,7601.59,7435.23,7090.66,6410.01,5049.29,5365.89,4955.56,4264.85
2809 - 95474 C & D Cab Co Inc.,5007.40,4760.16,4516.97,4071.02,3929.45,6918.61,7573.22,1383.60,6367.07,5980.90,5168.95,4919.05
2823 - 73307 Lee Express Inc,0.00,0.00,0.00,0.00,3123.50,6051.97,4200.64,3966.48,4672.85,4874.70,4425.40,3254.41
2823 - 73307 Seung Lee,3671.40,4922.01,5575.23,4685.36,2219.60,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3011 - 66308 JBL Cab Inc.,5436.67,5801.83,7016.57,4536.53,5737.64,6167.65,4837.62,4804.10,5862.43,5090.31,4398.46,5599.58
3094 - 24059 G.L.B. Cab Co,2906.35,2321.10,2957.20,4077.85,3334.71,3432.91,3176.45,2411.55,3611.17,3081.52,2832.90,2519.15
3141 - 87803 Zip Cab,5182.98,4145.65,5207.55,5783.13,6242.43,5724.01,5660.71,4264.70,3050.63,6149.68,6888.11,3465.10
3152 - 97284 Crystal Abernathy,2754.92,3846.55,4500.86,3830.48,4033.05,4831.27,4162.94,4149.56,3768.93,3616.06,2867.15,2338.25
3201 - C&D Cab Co Inc,5512.81,3837.93,5126.75,9435.86,2436.74,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3201 - CD Cab Co Inc,0.00,0.00,0.00,0.00,6946.45,4551.81,4562.08,4113.58,4717.79,2498.20,4699.54,4187.03
3319 - CD Cab Co,0.00,0.00,0.00,0.00,3689.49,10208.59,8487.97,6030.85,7025.97,0.00,0.00,0.00
3556 - 36214 RC Andrews Cab,1530.80,1640.64,1554.56,1447.70,1829.82,949.90,1250.22,1754.75,1192.15,1197.45,1839.00,1584.40
3591 - 63480 Chuks Cab,0.00,0.00,0.00,0.00,0.00,1229.85,7225.34,7109.09,6664.82,7146.73,2687.19,3014.45
3620 - 52292 David K. Cab Corp.,3361.52,2649.80,4390.78,3802.57,3817.87,5275.08,3922.04,3466.50,4742.85,4170.35,2942.60,1927.70
3623 - 72222 Arrington Enterprises,4451.35,4990.05,5411.15,4087.77,5524.40,5488.48,4598.85,4924.51,4699.85,3821.28,4348.08,3821.72
3669 - 85800 Jordan Taxi Inc,1259.95,2379.05,1134.50,0.00,0.00,0.00,0.00,0.00,1626.15,1398.22,1568.30,1884.05
4053 - 40193 Adwar H. Nikola,4916.06,4608.56,4857.53,4605.80,4830.10,4905.90,4872.51,4031.95,4404.64,4552.07,4120.45,3404.85
4197 - 41842 Royal Star,5091.89,5347.76,6758.46,5787.35,6695.32,6670.76,6421.60,5715.84,6577.66,6268.71,5675.44,5065.98
4615 - 83503 Tyrone Henderson,2483.05,2933.45,3259.65,2582.35,2815.65,3274.22,2354.70,3248.55,1325.90,3198.35,2775.00,2882.40
4623 - 27290 Jay Kim,5351.50,4857.35,5888.85,6055.86,5868.57,5943.90,5349.46,5648.30,5703.64,5903.85,5060.49,4452.28
4732 - Maude Lamy,0.00,0.00,0.00,36.50,0.00,12.50,0.00,0.00,0.00,0.00,0.00,0.00
4787 - 56058 Reny Cab Co,2620.13,2959.25,3095.01,2467.25,3009.97,3786.18,1687.05,3384.25,3765.20,3828.10,2853.20,2466.90
5006 - 39261 Salifu Bawa,3590.22,3694.96,5033.23,4085.82,3329.16,4096.26,3721.62,3022.80,2519.00,4608.42,3652.68,3710.98
5062 - 34841 Sam Mestas,905.06,603.05,1054.10,1061.35,2276.00,1524.05,939.85,939.56,665.15,815.46,944.40,1136.80
5074 - 54002 Ahzmi Inc,6303.05,5932.55,6472.38,6115.30,6347.15,6907.73,6297.05,4745.20,5354.49,5235.10,5304.06,3612.85
5129 - 87128,6326.62,6313.55,8716.51,8820.14,8945.48,9517.28,7384.85,8109.07,8504.18,7858.38,6677.15,2162.95
5724 - 75306 KYVI Cab Inc,4628.65,4708.45,5191.33,5002.25,4420.62,5654.40,4376.95,4989.12,4888.28,5040.64,4585.77,1325.85
585 - 88805 Valley Cab Co,2973.37,5244.20,6220.27,4141.15,1786.71,3803.95,3626.80,1788.07,5734.70,5909.66,3334.04,4532.87
5874 - 73628 Sergey Cab Corp.,4685.95,4890.85,5720.97,5572.45,5125.04,5475.73,5198.68,5662.35,5255.15,4945.81,4098.69,4490.60
5997 - 65283 AW Services Inc.,3862.84,4599.15,3773.48,4214.60,4517.07,2497.65,3049.52,3822.30,3698.81,4736.21,4031.31,1617.35
6057 - 24657 Richard Addo,2042.65,0.00,187.80,3097.90,1655.65,3311.21,3182.40,2799.86,3086.94,2088.60,1686.05,2168.70
6488 - 83287 Zuha Taxi,3104.32,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6574 - Babylon Express Inc.,5331.15,6444.23,6148.36,5759.45,6641.20,6189.38,5467.60,4868.45,6772.45,3996.97,5604.31,4535.62
6742 - 83735 Tasha ride inc,3418.40,4500.56,4768.53,4512.50,5100.05,5508.42,4922.10,4133.95,285.00,5570.79,3611.12,2953.43
6743 - 78771 Luhak Corp,5346.26,7519.40,5941.07,8292.35,7330.15,8727.90,8039.55,7727.07,8585.63,8306.00,6400.62,6254.47
6747 - Mueen Abdalla,4916.50,5277.06,6087.70,4549.30,5529.90,5956.75,4915.65,4849.11,4675.69,5034.42,3699.61,4144.35
Blue Ribbon Taxi Association Inc.,520958.23,549022.45,686056.67,743996.41,819746.92,812345.58,655934.28,647837.54,642050.41,660054.32,563114.53,434770.22
Chicago Medallion Leasing INC,69738.00,86950.47,202694.80,284541.97,317305.68,307476.03,276700.15,283903.33,333714.60,376748.84,326591.93,236196.17
Chicago Medallion Management,37946.55,57842.05,62849.01,72176.57,73475.97,74145.20,67883.02,69671.94,104046.87,144014.31,126340.53,134310.01
Choice Taxi Association,1288805.82,1390188.69,1624278.56,1661820.86,1690441.13,1728913.47,1537258.69,1404288.44,1481397.13,1556539.15,1288871.10,1084512.74
Dispatch Taxi Affiliation,1755625.16,1918218.93,2335611.70,2416975.71,2491767.07,2400232.01,2145021.82,1942210.49,2037468.50,2224779.89,1950121.38,1567415.98
KOAM Taxi Association,418767.71,429521.14,490887.04,527055.79,541689.76,539294.35,485033.50,468937.46,466374.62,473504.67,393196.56,278873.84
NoCompany,9316503.07,9593670.13,11086905.88,11238442.62,11620462.47,12041130.15,11311159.05,9898886.14,7444006.77,10890660.57,9541545.63,8405614.89
Northwest Management LLC,480694.46,571423.35,703928.45,691200.95,712742.80,668030.68,515971.70,443715.39,444249.88,622196.67,558036.60,419239.94
Patriot Trans Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,764.60,7173.05,14668.04,12917.95
Suburban Dispatch LLC,46.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Taxi Affiliation Services,5620991.53,5713357.68,6457070.71,6528249.99,6844702.93,6758138.86,6027161.15,5412150.78,4919551.69,4596340.57,3498093.47,2653075.96
Top Cab Affiliation,387875.73,368180.97,393125.53,415025.38,447009.69,454538.58,415453.67,395145.91,401504.03,414496.92,355907.99,314185.85

In [178]:
aux_pago_mes.columns = [c + 'TotalCharge' for c in aux_pago_mes.columns]
aux_pago_mes

,JanTotalCharge,FebTotalCharge,MarTotalCharge,AprTotalCharge,MayTotalCharge,JunTotalCharge,JulTotalCharge,AugTotalCharge,SepTotalCharge,OctTotalCharge,NovTotalCharge,DicTotalCharge
Company,,,,,,,,,,,,
0118 - 42111 Godfrey S.Awir,0.00,2650.00,8856.54,9631.02,8927.50,8732.73,8603.25,7162.00,8154.11,8794.60,7530.35,6941.86
0694 - 59280 Chinesco Trans Inc,3885.30,3996.65,5153.72,4698.72,3770.80,3094.70,0.00,3238.21,4852.18,4395.03,3460.36,2720.97
1085 - 72312 N and W Cab Co,2787.08,4052.95,4463.93,4774.57,5054.46,5066.30,1774.07,2432.70,4931.60,5575.84,5121.28,4589.10
1247 - 72807 Daniel Ayertey,3329.21,4538.61,5470.91,5715.23,5789.99,5877.05,6260.06,1738.85,0.00,0.00,0.00,0.00
2092 - 61288 Sbeih company,4906.40,5500.55,6357.25,6434.15,6393.75,6605.25,5268.50,5917.00,6140.80,6455.25,5526.00,4808.50
2192 - 73487 Zeymane Corp,3384.95,3318.00,4526.93,3802.08,3582.60,4008.30,3242.90,3409.95,3531.07,3700.95,3829.30,3412.98
2241 - 44667 - Felman Corp Manuel Alonso,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2472.10,3534.20,2266.70
2241 - 44667 Manuel Alonso,2932.30,4033.00,5131.75,3858.95,4319.35,4618.65,3910.35,4035.10,2277.05,1059.80,0.00,0.00
2733 - 74600 Benny Jona,2011.37,3741.94,6737.36,7329.98,7601.59,7435.23,7090.66,6410.01,5049.29,5365.89,4955.56,4264.85
2809 - 95474 C & D Cab Co Inc.,5007.40,4760.16,4516.97,4071.02,3929.45,6918.61,7573.22,1383.60,6367.07,5980.90,5168.95,4919.05
2823 - 73307 Lee Express Inc,0.00,0.00,0.00,0.00,3123.50,6051.97,4200.64,3966.48,4672.85,4874.70,4425.40,3254.41
2823 - 73307 Seung Lee,3671.40,4922.01,5575.23,4685.36,2219.60,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3011 - 66308 JBL Cab Inc.,5436.67,5801.83,7016.57,4536.53,5737.64,6167.65,4837.62,4804.10,5862.43,5090.31,4398.46,5599.58
3094 - 24059 G.L.B. Cab Co,2906.35,2321.10,2957.20,4077.85,3334.71,3432.91,3176.45,2411.55,3611.17,3081.52,2832.90,2519.15
3141 - 87803 Zip Cab,5182.98,4145.65,5207.55,5783.13,6242.43,5724.01,5660.71,4264.70,3050.63,6149.68,6888.11,3465.10
3152 - 97284 Crystal Abernathy,2754.92,3846.55,4500.86,3830.48,4033.05,4831.27,4162.94,4149.56,3768.93,3616.06,2867.15,2338.25
3201 - C&D Cab Co Inc,5512.81,3837.93,5126.75,9435.86,2436.74,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3201 - CD Cab Co Inc,0.00,0.00,0.00,0.00,6946.45,4551.81,4562.08,4113.58,4717.79,2498.20,4699.54,4187.03
3319 - CD Cab Co,0.00,0.00,0.00,0.00,3689.49,10208.59,8487.97,6030.85,7025.97,0.00,0.00,0.00
3556 - 36214 RC Andrews Cab,1530.80,1640.64,1554.56,1447.70,1829.82,949.90,1250.22,1754.75,1192.15,1197.45,1839.00,1584.40
3591 - 63480 Chuks Cab,0.00,0.00,0.00,0.00,0.00,1229.85,7225.34,7109.09,6664.82,7146.73,2687.19,3014.45
3620 - 52292 David K. Cab Corp.,3361.52,2649.80,4390.78,3802.57,3817.87,5275.08,3922.04,3466.50,4742.85,4170.35,2942.60,1927.70
3623 - 72222 Arrington Enterprises,4451.35,4990.05,5411.15,4087.77,5524.40,5488.48,4598.85,4924.51,4699.85,3821.28,4348.08,3821.72
3669 - 85800 Jordan Taxi Inc,1259.95,2379.05,1134.50,0.00,0.00,0.00,0.00,0.00,1626.15,1398.22,1568.30,1884.05
4053 - 40193 Adwar H. Nikola,4916.06,4608.56,4857.53,4605.80,4830.10,4905.90,4872.51,4031.95,4404.64,4552.07,4120.45,3404.85
4197 - 41842 Royal Star,5091.89,5347.76,6758.46,5787.35,6695.32,6670.76,6421.60,5715.84,6577.66,6268.71,5675.44,5065.98
4615 - 83503 Tyrone Henderson,2483.05,2933.45,3259.65,2582.35,2815.65,3274.22,2354.70,3248.55,1325.90,3198.35,2775.00,2882.40
4623 - 27290 Jay Kim,5351.50,4857.35,5888.85,6055.86,5868.57,5943.90,5349.46,5648.30,5703.64,5903.85,5060.49,4452.28
4732 - Maude Lamy,0.00,0.00,0.00,36.50,0.00,12.50,0.00,0.00,0.00,0.00,0.00,0.00
4787 - 56058 Reny Cab Co,2620.13,2959.25,3095.01,2467.25,3009.97,3786.18,1687.05,3384.25,3765.20,3828.10,2853.20,2466.90
5006 - 39261 Salifu Bawa,3590.22,3694.96,5033.23,4085.82,3329.16,4096.26,3721.62,3022.80,2519.00,4608.42,3652.68,3710.98
5062 - 34841 Sam Mestas,905.06,603.05,1054.10,1061.35,2276.00,1524.05,939.85,939.56,665.15,815.46,944.40,1136.80
5074 - 54002 Ahzmi Inc,6303.05,5932.55,6472.38,6115.30,6347.15,6907.73,6297.05,4745.20,5354.49,5235.10,5304.06,3612.85
5129 - 87128,6326.62,6313.55,8716.51,8820.14,8945.48,9517.28,7384.85,8109.07,8504.18,7858.38,6677.15,2162.95
5724 - 75306 KYVI Cab Inc,4628.65,4708.45,5191.33,5002.25,4420.62,5654.40,4376.95,4989.12,4888.28,5040.64,4585.77,1325.85
585 - 88805 Valley Cab Co,2973.37,5244.20,6220.27,4141.15,1786.71,3803.95,3626.80,1788.07,5734.70,5909.66,3334.04,4532.87
5874 - 73628 Sergey Cab Corp.,4685.95,4890.85,5720.97,5572.45,5125.04,5475.73,5198.68,5662.35,5255.15,4945.81,4098.69,4490.60
5997 - 65283 AW Services Inc.,3862.84,4599.15,3773.48,4214.60,4517.07,2497.65,3049.52,3822.30,3698.81,4736.21,4031.31,1617.35
6057 - 24657 Richard Addo,2042.65,0.00,187.80,3097.90,1655.65,3311.21,3182.40,2799.86,3086.94,2088.60,1686.05,2168.70
6488 - 83287 Zuha Taxi,3104.32,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6574 - Babylon Express Inc.,5331.15,6444.23,6148.36,5759.45,6641.20,6189.38,5467.60,4868.45,6772.45,3996.97,5604.31,4535.62
6742 - 83735 Tasha ride inc,3418.40,4500.56,4768.53,4512.50,5100.05,5508.42,4922.10,4133.95,285.00,5570.79,3611.12,2953.43
6743 - 78771 Luhak Corp,5346.26,7519.40,5941.07,8292.35,7330.15,8727.90,8039.55,7727.07,8585.63,8306.00,6400.62,6254.47
6747 - Mueen Abdalla,4916.50,5277.06,6087.70,4549.30,5529.90,5956.75,4915.65,4849.11,4675.69,5034.42,3699.61,4144.35
Blue Ribbon Taxi Association Inc.,520958.23,549022.45,686056.67,743996.41,819746.92,812345.58,655934.28,647837.54,642050.41,660054.32,563114.53,434770.22
Chicago Medallion Leasing INC,69738.00,86950.47,202694.80,284541.97,317305.68,307476.03,276700.15,283903.33,333714.60,376748.84,326591.93,236196.17
Chicago Medallion Management,37946.55,57842.05,62849.01,72176.57,73475.97,74145.20,67883.02,69671.94,104046.87,144014.31,126340.53,134310.01
Choice Taxi Association,1288805.82,1390188.69,1624278.56,1661820.86,1690441.13,1728913.47,1537258.69,1404288.44,1481397.13,1556539.15,1288871.10,1084512.74
Dispatch Taxi Affiliation,1755625.16,1918218.93,2335611.70,2416975.71,2491767.07,2400232.01,2145021.82,1942210.49,2037468.50,2224779.89,1950121.38,1567415.98
KOAM Taxi Association,418767.71,429521.14,490887.04,527055.79,541689.76,539294.35,485033.50,468937.46,466374.62,473504.67,393196.56,278873.84
NoCompany,9316503.07,9593670.13,11086905.88,11238442.62,11620462.47,12041130.15,11311159.05,9898886.14,7444006.77,10890660.57,9541545.63,8405614.89
Northwest Management LLC,480694.46,571423.35,703928.45,691200.95,712742.80,668030.68,515971.70,443715.39,444249.88,622196.67,558036.60,419239.94
Patriot Trans Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,764.60,7173.05,14668.04,12917.95
Suburban Dispatch LLC,46.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Taxi Affiliation Services,5620991.53,5713357.68,6457070.71,6528249.99,6844702.93,6758138.86,6027161.15,5412150.78,4919551.69,4596340.57,3498093.47,2653075.96
Top Cab Affiliation,387875.73,368180.97,393125.53,415025.38,447009.69,454538.58,415453.67,395145.91,401504.03,414496.92,355907.99,314185.85

In [179]:
Taxis=Taxis.merge(aux_pago_mes,how = "left", left_on = "Company",right_index = True)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,MarTotalCharge,AprTotalCharge,MayTotalCharge,JunTotalCharge,JulTotalCharge,AugTotalCharge,SepTotalCharge,OctTotalCharge,NovTotalCharge,DicTotalCharge
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,5720.97,5572.45,5125.04,5475.73,5198.68,5662.35,5255.15,4945.81,4098.69,4490.60
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,62849.01,72176.57,73475.97,74145.20,67883.02,69671.94,104046.87,144014.31,126340.53,134310.01
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2472.10,3534.20,2266.70
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,8716.51,8820.14,8945.48,9517.28,7384.85,8109.07,8504.18,7858.38,6677.15,2162.95
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,11086905.88,11238442.62,11620462.47,12041130.15,11311159.05,9898886.14,7444006.77,10890660.57,9541545.63,8405614.89

In [180]:
del(aux_cash)
del(aux_pago_mes)
del(aux_credit_card)
del(aux_tipo_pago)

In [181]:
"""Cobro Total de propinas para cada Mes"""
aux_pago_mes = (df_junto_mes[["Mes","Company","tips"]].pivot_table(index = 'Company', columns = 'Mes', aggfunc = 'sum', fill_value = 0, 
                             values = 'tips'))
aux_pago_mes

Mes,Apr,Aug,Dic,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
Company,,,,,,,,,,,,
0118 - 42111 Godfrey S.Awir,975.52,0.00,593.36,0.00,0.00,348.50,873.98,857.04,671.00,624.85,769.85,616.86
0694 - 59280 Chinesco Trans Inc,273.97,337.46,223.97,250.15,230.50,0.00,302.20,329.97,344.80,344.11,436.53,457.43
1085 - 72312 N and W Cab Co,428.32,225.95,384.60,400.70,298.43,170.07,439.55,457.93,430.46,462.78,475.59,463.60
1247 - 72807 Daniel Ayertey,516.23,121.10,0.00,352.10,228.41,480.06,522.30,417.66,439.74,0.00,0.00,0.00
2092 - 61288 Sbeih company,1.90,0.00,5.00,3.55,9.00,0.00,18.25,6.00,11.75,7.00,5.00,4.05
2192 - 73487 Zeymane Corp,451.83,439.70,411.48,386.75,396.10,382.90,480.05,515.93,419.10,403.80,489.95,366.32
2241 - 44667 - Felman Corp Manuel Alonso,0.00,0.00,272.50,0.00,0.00,0.00,0.00,0.00,0.00,490.45,319.85,0.00
2241 - 44667 Manuel Alonso,459.95,546.75,0.00,495.70,386.95,532.10,607.05,678.10,568.35,0.00,116.55,337.55
2733 - 74600 Benny Jona,834.23,764.76,503.85,420.69,224.67,681.16,871.98,655.11,914.84,630.86,657.39,548.29
2809 - 95474 C & D Cab Co Inc.,390.52,148.85,600.05,479.66,604.20,824.72,783.11,520.22,371.70,529.35,715.65,752.32
2823 - 73307 Lee Express Inc,0.00,467.23,369.91,0.00,0.00,505.39,715.97,0.00,380.00,531.15,570.70,567.60
2823 - 73307 Seung Lee,543.11,0.00,0.00,516.76,313.00,0.00,0.00,635.73,254.35,0.00,0.00,0.00
3011 - 66308 JBL Cab Inc.,524.78,594.60,672.83,745.08,658.37,513.12,750.90,837.32,719.89,520.71,610.56,671.93
3094 - 24059 G.L.B. Cab Co,66.10,237.80,236.40,56.85,83.85,220.20,281.91,15.70,151.96,329.15,279.02,371.67
3141 - 87803 Zip Cab,625.88,479.95,397.60,32.90,611.73,597.46,614.26,17.30,690.93,838.11,646.93,297.88
3152 - 97284 Crystal Abernathy,274.73,296.91,175.50,297.30,200.42,332.69,410.77,310.11,366.80,218.15,305.06,280.68
3201 - C&D Cab Co Inc,889.61,0.00,0.00,361.78,515.56,0.00,0.00,522.75,195.49,0.00,0.00,0.00
3201 - CD Cab Co Inc,0.00,392.89,345.78,0.00,0.00,376.83,422.81,0.00,266.45,364.79,206.45,415.29
3319 - CD Cab Co,0.00,615.10,0.00,0.00,0.00,727.97,1136.84,0.00,382.74,0.00,0.00,140.47
3556 - 36214 RC Andrews Cab,48.20,37.75,25.65,59.89,77.65,29.72,26.15,54.56,78.57,110.25,38.20,18.65
3591 - 63480 Chuks Cab,0.00,675.59,295.45,0.00,0.00,644.84,91.60,0.00,0.00,307.19,707.23,638.07
3620 - 52292 David K. Cab Corp.,413.07,413.75,228.70,347.30,429.52,441.04,663.33,532.28,457.12,356.85,524.10,602.10
3623 - 72222 Arrington Enterprises,423.27,514.76,394.47,500.55,487.80,448.35,623.98,507.65,598.90,408.33,436.28,503.85
3669 - 85800 Jordan Taxi Inc,0.00,0.00,215.05,37.55,85.95,0.00,0.00,22.75,0.00,134.55,113.97,150.90
4053 - 40193 Adwar H. Nikola,619.55,450.20,427.35,574.31,540.51,591.76,595.40,562.53,598.60,458.95,584.57,548.89
4197 - 41842 Royal Star,703.30,595.34,547.23,659.21,509.99,638.85,761.51,792.71,787.32,562.19,670.46,724.91
4615 - 83503 Tyrone Henderson,141.35,132.80,271.65,129.70,128.60,104.95,188.47,161.65,161.65,196.75,148.60,37.40
4623 - 27290 Jay Kim,783.86,742.05,548.28,619.35,591.65,626.21,706.40,711.60,602.07,592.24,707.10,664.64
4732 - Maude Lamy,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4787 - 56058 Reny Cab Co,120.75,172.50,147.40,204.50,175.03,88.30,247.18,146.51,176.47,239.20,254.85,214.70
5006 - 39261 Salifu Bawa,378.07,249.55,298.98,378.46,322.12,345.12,423.26,502.98,340.41,419.43,442.17,248.00
5062 - 34841 Sam Mestas,125.85,74.06,106.05,54.10,89.76,80.10,135.30,113.65,229.25,110.40,65.71,48.90
5074 - 54002 Ahzmi Inc,533.80,386.20,377.85,540.80,601.05,458.30,539.48,607.63,395.90,419.06,319.85,305.74
5129 - 87128,1104.14,912.82,211.20,798.30,767.27,791.10,1141.53,1122.26,1072.98,801.90,967.38,1026.93
5724 - 75306 KYVI Cab Inc,600.75,594.87,145.60,561.70,467.20,434.45,714.15,617.83,481.87,551.52,580.39,582.78
585 - 88805 Valley Cab Co,492.40,212.57,340.62,560.45,350.77,315.30,146.45,618.77,146.96,343.54,529.91,630.45
5874 - 73628 Sergey Cab Corp.,586.20,655.10,414.60,578.85,374.85,548.43,677.73,530.22,554.04,401.44,362.31,606.65
5997 - 65283 AW Services Inc.,124.85,79.80,43.85,124.40,46.84,16.77,74.65,71.98,98.07,79.81,105.96,107.06
6057 - 24657 Richard Addo,264.65,209.11,167.45,0.00,188.15,304.90,282.96,22.30,138.90,158.30,175.35,290.19
6488 - 83287 Zuha Taxi,0.00,0.00,0.00,0.00,131.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6574 - Babylon Express Inc.,674.70,544.45,603.37,713.48,479.90,655.35,684.13,697.61,660.45,727.81,512.72,837.45
6742 - 83735 Tasha ride inc,580.50,476.45,341.93,516.06,398.05,621.35,669.17,568.03,655.80,430.37,596.04,18.00
6743 - 78771 Luhak Corp,291.35,554.82,440.47,83.15,51.66,485.30,262.40,63.07,214.90,519.12,638.25,674.63
6747 - Mueen Abdalla,514.25,473.01,415.50,508.06,452.85,503.15,693.25,687.15,656.75,449.76,549.67,484.34
Blue Ribbon Taxi Association Inc.,74161.59,62938.97,42242.08,52646.97,49662.46,61465.76,82732.41,66697.45,80723.58,58414.01,67324.61,63154.61
Chicago Medallion Leasing INC,26586.55,27152.08,22266.72,9000.82,6638.41,24970.57,29066.03,17841.22,29799.48,33847.95,37279.58,32426.96
Chicago Medallion Management,6320.87,5965.04,12946.86,5562.30,3813.20,5321.32,6318.22,5709.76,5913.72,12356.06,13883.69,9775.60
Choice Taxi Association,191390.87,156775.07,118555.67,156557.16,139076.58,167935.81,201403.88,184191.64,193242.06,149388.02,178406.62,168263.48
Dispatch Taxi Affiliation,250560.03,197006.19,162887.90,196994.40,175003.76,213716.82,250773.40,240095.62,260413.56,211946.91,238942.11,214171.83
KOAM Taxi Association,54253.95,46573.00,27699.52,41457.91,39356.26,47329.36,54606.66,48419.99,54795.65,40715.78,48213.38,46080.78
NoCompany,1081891.09,908966.91,767153.31,899148.36,839061.71,1005452.29,1143835.82,1032623.82,1096048.00,917670.41,1049956.66,711197.87
Northwest Management LLC,73429.37,44376.96,43587.93,60873.53,48946.57,50897.67,70404.64,74858.46,75715.94,60424.61,65980.42,46467.49
Patriot Trans Inc,0.00,0.00,677.95,0.00,0.00,0.00,0.00,0.00,0.00,1087.54,775.05,91.10
Suburban Dispatch LLC,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Taxi Affiliation Services,647497.55,510600.95,248004.80,553044.60,528093.98,555791.75,679603.77,626987.61,669228.15,344025.09,454529.19,478693.02
Top Cab Affiliation,39731.10,33569.60,28890.60,34359.33,34874.96,36582.85,41577.83,36557.58,41396.31,33436.81,38003.70,36260.75

In [182]:
meses=["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dic"]
aux_pago_mes=aux_pago_mes[meses]
aux_pago_mes

Mes,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dic
Company,,,,,,,,,,,,
0118 - 42111 Godfrey S.Awir,0.00,0.00,857.04,975.52,671.00,873.98,348.50,0.00,616.86,769.85,624.85,593.36
0694 - 59280 Chinesco Trans Inc,230.50,250.15,329.97,273.97,344.80,302.20,0.00,337.46,457.43,436.53,344.11,223.97
1085 - 72312 N and W Cab Co,298.43,400.70,457.93,428.32,430.46,439.55,170.07,225.95,463.60,475.59,462.78,384.60
1247 - 72807 Daniel Ayertey,228.41,352.10,417.66,516.23,439.74,522.30,480.06,121.10,0.00,0.00,0.00,0.00
2092 - 61288 Sbeih company,9.00,3.55,6.00,1.90,11.75,18.25,0.00,0.00,4.05,5.00,7.00,5.00
2192 - 73487 Zeymane Corp,396.10,386.75,515.93,451.83,419.10,480.05,382.90,439.70,366.32,489.95,403.80,411.48
2241 - 44667 - Felman Corp Manuel Alonso,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,319.85,490.45,272.50
2241 - 44667 Manuel Alonso,386.95,495.70,678.10,459.95,568.35,607.05,532.10,546.75,337.55,116.55,0.00,0.00
2733 - 74600 Benny Jona,224.67,420.69,655.11,834.23,914.84,871.98,681.16,764.76,548.29,657.39,630.86,503.85
2809 - 95474 C & D Cab Co Inc.,604.20,479.66,520.22,390.52,371.70,783.11,824.72,148.85,752.32,715.65,529.35,600.05
2823 - 73307 Lee Express Inc,0.00,0.00,0.00,0.00,380.00,715.97,505.39,467.23,567.60,570.70,531.15,369.91
2823 - 73307 Seung Lee,313.00,516.76,635.73,543.11,254.35,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3011 - 66308 JBL Cab Inc.,658.37,745.08,837.32,524.78,719.89,750.90,513.12,594.60,671.93,610.56,520.71,672.83
3094 - 24059 G.L.B. Cab Co,83.85,56.85,15.70,66.10,151.96,281.91,220.20,237.80,371.67,279.02,329.15,236.40
3141 - 87803 Zip Cab,611.73,32.90,17.30,625.88,690.93,614.26,597.46,479.95,297.88,646.93,838.11,397.60
3152 - 97284 Crystal Abernathy,200.42,297.30,310.11,274.73,366.80,410.77,332.69,296.91,280.68,305.06,218.15,175.50
3201 - C&D Cab Co Inc,515.56,361.78,522.75,889.61,195.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3201 - CD Cab Co Inc,0.00,0.00,0.00,0.00,266.45,422.81,376.83,392.89,415.29,206.45,364.79,345.78
3319 - CD Cab Co,0.00,0.00,0.00,0.00,382.74,1136.84,727.97,615.10,140.47,0.00,0.00,0.00
3556 - 36214 RC Andrews Cab,77.65,59.89,54.56,48.20,78.57,26.15,29.72,37.75,18.65,38.20,110.25,25.65
3591 - 63480 Chuks Cab,0.00,0.00,0.00,0.00,0.00,91.60,644.84,675.59,638.07,707.23,307.19,295.45
3620 - 52292 David K. Cab Corp.,429.52,347.30,532.28,413.07,457.12,663.33,441.04,413.75,602.10,524.10,356.85,228.70
3623 - 72222 Arrington Enterprises,487.80,500.55,507.65,423.27,598.90,623.98,448.35,514.76,503.85,436.28,408.33,394.47
3669 - 85800 Jordan Taxi Inc,85.95,37.55,22.75,0.00,0.00,0.00,0.00,0.00,150.90,113.97,134.55,215.05
4053 - 40193 Adwar H. Nikola,540.51,574.31,562.53,619.55,598.60,595.40,591.76,450.20,548.89,584.57,458.95,427.35
4197 - 41842 Royal Star,509.99,659.21,792.71,703.30,787.32,761.51,638.85,595.34,724.91,670.46,562.19,547.23
4615 - 83503 Tyrone Henderson,128.60,129.70,161.65,141.35,161.65,188.47,104.95,132.80,37.40,148.60,196.75,271.65
4623 - 27290 Jay Kim,591.65,619.35,711.60,783.86,602.07,706.40,626.21,742.05,664.64,707.10,592.24,548.28
4732 - Maude Lamy,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4787 - 56058 Reny Cab Co,175.03,204.50,146.51,120.75,176.47,247.18,88.30,172.50,214.70,254.85,239.20,147.40
5006 - 39261 Salifu Bawa,322.12,378.46,502.98,378.07,340.41,423.26,345.12,249.55,248.00,442.17,419.43,298.98
5062 - 34841 Sam Mestas,89.76,54.10,113.65,125.85,229.25,135.30,80.10,74.06,48.90,65.71,110.40,106.05
5074 - 54002 Ahzmi Inc,601.05,540.80,607.63,533.80,395.90,539.48,458.30,386.20,305.74,319.85,419.06,377.85
5129 - 87128,767.27,798.30,1122.26,1104.14,1072.98,1141.53,791.10,912.82,1026.93,967.38,801.90,211.20
5724 - 75306 KYVI Cab Inc,467.20,561.70,617.83,600.75,481.87,714.15,434.45,594.87,582.78,580.39,551.52,145.60
585 - 88805 Valley Cab Co,350.77,560.45,618.77,492.40,146.96,146.45,315.30,212.57,630.45,529.91,343.54,340.62
5874 - 73628 Sergey Cab Corp.,374.85,578.85,530.22,586.20,554.04,677.73,548.43,655.10,606.65,362.31,401.44,414.60
5997 - 65283 AW Services Inc.,46.84,124.40,71.98,124.85,98.07,74.65,16.77,79.80,107.06,105.96,79.81,43.85
6057 - 24657 Richard Addo,188.15,0.00,22.30,264.65,138.90,282.96,304.90,209.11,290.19,175.35,158.30,167.45
6488 - 83287 Zuha Taxi,131.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6574 - Babylon Express Inc.,479.90,713.48,697.61,674.70,660.45,684.13,655.35,544.45,837.45,512.72,727.81,603.37
6742 - 83735 Tasha ride inc,398.05,516.06,568.03,580.50,655.80,669.17,621.35,476.45,18.00,596.04,430.37,341.93
6743 - 78771 Luhak Corp,51.66,83.15,63.07,291.35,214.90,262.40,485.30,554.82,674.63,638.25,519.12,440.47
6747 - Mueen Abdalla,452.85,508.06,687.15,514.25,656.75,693.25,503.15,473.01,484.34,549.67,449.76,415.50
Blue Ribbon Taxi Association Inc.,49662.46,52646.97,66697.45,74161.59,80723.58,82732.41,61465.76,62938.97,63154.61,67324.61,58414.01,42242.08
Chicago Medallion Leasing INC,6638.41,9000.82,17841.22,26586.55,29799.48,29066.03,24970.57,27152.08,32426.96,37279.58,33847.95,22266.72
Chicago Medallion Management,3813.20,5562.30,5709.76,6320.87,5913.72,6318.22,5321.32,5965.04,9775.60,13883.69,12356.06,12946.86
Choice Taxi Association,139076.58,156557.16,184191.64,191390.87,193242.06,201403.88,167935.81,156775.07,168263.48,178406.62,149388.02,118555.67
Dispatch Taxi Affiliation,175003.76,196994.40,240095.62,250560.03,260413.56,250773.40,213716.82,197006.19,214171.83,238942.11,211946.91,162887.90
KOAM Taxi Association,39356.26,41457.91,48419.99,54253.95,54795.65,54606.66,47329.36,46573.00,46080.78,48213.38,40715.78,27699.52
NoCompany,839061.71,899148.36,1032623.82,1081891.09,1096048.00,1143835.82,1005452.29,908966.91,711197.87,1049956.66,917670.41,767153.31
Northwest Management LLC,48946.57,60873.53,74858.46,73429.37,75715.94,70404.64,50897.67,44376.96,46467.49,65980.42,60424.61,43587.93
Patriot Trans Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,91.10,775.05,1087.54,677.95
Suburban Dispatch LLC,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Taxi Affiliation Services,528093.98,553044.60,626987.61,647497.55,669228.15,679603.77,555791.75,510600.95,478693.02,454529.19,344025.09,248004.80
Top Cab Affiliation,34874.96,34359.33,36557.58,39731.10,41396.31,41577.83,36582.85,33569.60,36260.75,38003.70,33436.81,28890.60

In [183]:
aux_pago_mes.columns = [c + 'TotalTips' for c in aux_pago_mes.columns]
aux_pago_mes

,JanTotalTips,FebTotalTips,MarTotalTips,AprTotalTips,MayTotalTips,JunTotalTips,JulTotalTips,AugTotalTips,SepTotalTips,OctTotalTips,NovTotalTips,DicTotalTips
Company,,,,,,,,,,,,
0118 - 42111 Godfrey S.Awir,0.00,0.00,857.04,975.52,671.00,873.98,348.50,0.00,616.86,769.85,624.85,593.36
0694 - 59280 Chinesco Trans Inc,230.50,250.15,329.97,273.97,344.80,302.20,0.00,337.46,457.43,436.53,344.11,223.97
1085 - 72312 N and W Cab Co,298.43,400.70,457.93,428.32,430.46,439.55,170.07,225.95,463.60,475.59,462.78,384.60
1247 - 72807 Daniel Ayertey,228.41,352.10,417.66,516.23,439.74,522.30,480.06,121.10,0.00,0.00,0.00,0.00
2092 - 61288 Sbeih company,9.00,3.55,6.00,1.90,11.75,18.25,0.00,0.00,4.05,5.00,7.00,5.00
2192 - 73487 Zeymane Corp,396.10,386.75,515.93,451.83,419.10,480.05,382.90,439.70,366.32,489.95,403.80,411.48
2241 - 44667 - Felman Corp Manuel Alonso,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,319.85,490.45,272.50
2241 - 44667 Manuel Alonso,386.95,495.70,678.10,459.95,568.35,607.05,532.10,546.75,337.55,116.55,0.00,0.00
2733 - 74600 Benny Jona,224.67,420.69,655.11,834.23,914.84,871.98,681.16,764.76,548.29,657.39,630.86,503.85
2809 - 95474 C & D Cab Co Inc.,604.20,479.66,520.22,390.52,371.70,783.11,824.72,148.85,752.32,715.65,529.35,600.05
2823 - 73307 Lee Express Inc,0.00,0.00,0.00,0.00,380.00,715.97,505.39,467.23,567.60,570.70,531.15,369.91
2823 - 73307 Seung Lee,313.00,516.76,635.73,543.11,254.35,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3011 - 66308 JBL Cab Inc.,658.37,745.08,837.32,524.78,719.89,750.90,513.12,594.60,671.93,610.56,520.71,672.83
3094 - 24059 G.L.B. Cab Co,83.85,56.85,15.70,66.10,151.96,281.91,220.20,237.80,371.67,279.02,329.15,236.40
3141 - 87803 Zip Cab,611.73,32.90,17.30,625.88,690.93,614.26,597.46,479.95,297.88,646.93,838.11,397.60
3152 - 97284 Crystal Abernathy,200.42,297.30,310.11,274.73,366.80,410.77,332.69,296.91,280.68,305.06,218.15,175.50
3201 - C&D Cab Co Inc,515.56,361.78,522.75,889.61,195.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3201 - CD Cab Co Inc,0.00,0.00,0.00,0.00,266.45,422.81,376.83,392.89,415.29,206.45,364.79,345.78
3319 - CD Cab Co,0.00,0.00,0.00,0.00,382.74,1136.84,727.97,615.10,140.47,0.00,0.00,0.00
3556 - 36214 RC Andrews Cab,77.65,59.89,54.56,48.20,78.57,26.15,29.72,37.75,18.65,38.20,110.25,25.65
3591 - 63480 Chuks Cab,0.00,0.00,0.00,0.00,0.00,91.60,644.84,675.59,638.07,707.23,307.19,295.45
3620 - 52292 David K. Cab Corp.,429.52,347.30,532.28,413.07,457.12,663.33,441.04,413.75,602.10,524.10,356.85,228.70
3623 - 72222 Arrington Enterprises,487.80,500.55,507.65,423.27,598.90,623.98,448.35,514.76,503.85,436.28,408.33,394.47
3669 - 85800 Jordan Taxi Inc,85.95,37.55,22.75,0.00,0.00,0.00,0.00,0.00,150.90,113.97,134.55,215.05
4053 - 40193 Adwar H. Nikola,540.51,574.31,562.53,619.55,598.60,595.40,591.76,450.20,548.89,584.57,458.95,427.35
4197 - 41842 Royal Star,509.99,659.21,792.71,703.30,787.32,761.51,638.85,595.34,724.91,670.46,562.19,547.23
4615 - 83503 Tyrone Henderson,128.60,129.70,161.65,141.35,161.65,188.47,104.95,132.80,37.40,148.60,196.75,271.65
4623 - 27290 Jay Kim,591.65,619.35,711.60,783.86,602.07,706.40,626.21,742.05,664.64,707.10,592.24,548.28
4732 - Maude Lamy,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4787 - 56058 Reny Cab Co,175.03,204.50,146.51,120.75,176.47,247.18,88.30,172.50,214.70,254.85,239.20,147.40
5006 - 39261 Salifu Bawa,322.12,378.46,502.98,378.07,340.41,423.26,345.12,249.55,248.00,442.17,419.43,298.98
5062 - 34841 Sam Mestas,89.76,54.10,113.65,125.85,229.25,135.30,80.10,74.06,48.90,65.71,110.40,106.05
5074 - 54002 Ahzmi Inc,601.05,540.80,607.63,533.80,395.90,539.48,458.30,386.20,305.74,319.85,419.06,377.85
5129 - 87128,767.27,798.30,1122.26,1104.14,1072.98,1141.53,791.10,912.82,1026.93,967.38,801.90,211.20
5724 - 75306 KYVI Cab Inc,467.20,561.70,617.83,600.75,481.87,714.15,434.45,594.87,582.78,580.39,551.52,145.60
585 - 88805 Valley Cab Co,350.77,560.45,618.77,492.40,146.96,146.45,315.30,212.57,630.45,529.91,343.54,340.62
5874 - 73628 Sergey Cab Corp.,374.85,578.85,530.22,586.20,554.04,677.73,548.43,655.10,606.65,362.31,401.44,414.60
5997 - 65283 AW Services Inc.,46.84,124.40,71.98,124.85,98.07,74.65,16.77,79.80,107.06,105.96,79.81,43.85
6057 - 24657 Richard Addo,188.15,0.00,22.30,264.65,138.90,282.96,304.90,209.11,290.19,175.35,158.30,167.45
6488 - 83287 Zuha Taxi,131.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6574 - Babylon Express Inc.,479.90,713.48,697.61,674.70,660.45,684.13,655.35,544.45,837.45,512.72,727.81,603.37
6742 - 83735 Tasha ride inc,398.05,516.06,568.03,580.50,655.80,669.17,621.35,476.45,18.00,596.04,430.37,341.93
6743 - 78771 Luhak Corp,51.66,83.15,63.07,291.35,214.90,262.40,485.30,554.82,674.63,638.25,519.12,440.47
6747 - Mueen Abdalla,452.85,508.06,687.15,514.25,656.75,693.25,503.15,473.01,484.34,549.67,449.76,415.50
Blue Ribbon Taxi Association Inc.,49662.46,52646.97,66697.45,74161.59,80723.58,82732.41,61465.76,62938.97,63154.61,67324.61,58414.01,42242.08
Chicago Medallion Leasing INC,6638.41,9000.82,17841.22,26586.55,29799.48,29066.03,24970.57,27152.08,32426.96,37279.58,33847.95,22266.72
Chicago Medallion Management,3813.20,5562.30,5709.76,6320.87,5913.72,6318.22,5321.32,5965.04,9775.60,13883.69,12356.06,12946.86
Choice Taxi Association,139076.58,156557.16,184191.64,191390.87,193242.06,201403.88,167935.81,156775.07,168263.48,178406.62,149388.02,118555.67
Dispatch Taxi Affiliation,175003.76,196994.40,240095.62,250560.03,260413.56,250773.40,213716.82,197006.19,214171.83,238942.11,211946.91,162887.90
KOAM Taxi Association,39356.26,41457.91,48419.99,54253.95,54795.65,54606.66,47329.36,46573.00,46080.78,48213.38,40715.78,27699.52
NoCompany,839061.71,899148.36,1032623.82,1081891.09,1096048.00,1143835.82,1005452.29,908966.91,711197.87,1049956.66,917670.41,767153.31
Northwest Management LLC,48946.57,60873.53,74858.46,73429.37,75715.94,70404.64,50897.67,44376.96,46467.49,65980.42,60424.61,43587.93
Patriot Trans Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,91.10,775.05,1087.54,677.95
Suburban Dispatch LLC,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Taxi Affiliation Services,528093.98,553044.60,626987.61,647497.55,669228.15,679603.77,555791.75,510600.95,478693.02,454529.19,344025.09,248004.80
Top Cab Affiliation,34874.96,34359.33,36557.58,39731.10,41396.31,41577.83,36582.85,33569.60,36260.75,38003.70,33436.81,28890.60

In [184]:
Taxis=Taxis.merge(aux_pago_mes,how = "left", left_on = "Company",right_index = True)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,MarTotalTips,AprTotalTips,MayTotalTips,JunTotalTips,JulTotalTips,AugTotalTips,SepTotalTips,OctTotalTips,NovTotalTips,DicTotalTips
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,530.22,586.20,554.04,677.73,548.43,655.10,606.65,362.31,401.44,414.60
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,5709.76,6320.87,5913.72,6318.22,5321.32,5965.04,9775.60,13883.69,12356.06,12946.86
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,319.85,490.45,272.50
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,1122.26,1104.14,1072.98,1141.53,791.10,912.82,1026.93,967.38,801.90,211.20
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,1032623.82,1081891.09,1096048.00,1143835.82,1005452.29,908966.91,711197.87,1049956.66,917670.41,767153.31

In [185]:
del(aux_pago_mes)

In [186]:
"""Cobro Total realizado por peajes, para cada Mes"""
aux_pago_mes = (df_junto_mes[["Mes","Company","tolls"]].pivot_table(index = 'Company', columns = 'Mes', aggfunc = 'sum', fill_value = 0, 
                             values = 'tolls'))
aux_pago_mes

Mes,Apr,Aug,Dic,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
Company,,,,,,,,,,,,
0118 - 42111 Godfrey S.Awir,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
0694 - 59280 Chinesco Trans Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1085 - 72312 N and W Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1247 - 72807 Daniel Ayertey,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2092 - 61288 Sbeih company,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2192 - 73487 Zeymane Corp,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2241 - 44667 - Felman Corp Manuel Alonso,0.00,0.00,7.70,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2241 - 44667 Manuel Alonso,0.00,2.10,0.00,6.30,0.00,0.00,8.60,3.90,4.50,0.00,0.00,0.00
2733 - 74600 Benny Jona,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2809 - 95474 C & D Cab Co Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2823 - 73307 Lee Express Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2823 - 73307 Seung Lee,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3011 - 66308 JBL Cab Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3094 - 24059 G.L.B. Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3141 - 87803 Zip Cab,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3152 - 97284 Crystal Abernathy,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3201 - C&D Cab Co Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3201 - CD Cab Co Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3319 - CD Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3556 - 36214 RC Andrews Cab,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3591 - 63480 Chuks Cab,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3620 - 52292 David K. Cab Corp.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3623 - 72222 Arrington Enterprises,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3669 - 85800 Jordan Taxi Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4053 - 40193 Adwar H. Nikola,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4197 - 41842 Royal Star,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4615 - 83503 Tyrone Henderson,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4623 - 27290 Jay Kim,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4732 - Maude Lamy,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4787 - 56058 Reny Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5006 - 39261 Salifu Bawa,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5062 - 34841 Sam Mestas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5074 - 54002 Ahzmi Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.75,0.00,0.00,0.00
5129 - 87128,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5724 - 75306 KYVI Cab Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
585 - 88805 Valley Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5874 - 73628 Sergey Cab Corp.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5997 - 65283 AW Services Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6057 - 24657 Richard Addo,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6488 - 83287 Zuha Taxi,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6574 - Babylon Express Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6742 - 83735 Tasha ride inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6743 - 78771 Luhak Corp,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6747 - Mueen Abdalla,10.80,7.60,2.10,3.00,8.05,8.50,3.00,7.80,1.90,3.60,3.00,5.10
Blue Ribbon Taxi Association Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Chicago Medallion Leasing INC,28.90,62.25,60.20,24.40,33.25,71.20,110.50,29.90,49.65,101.90,86.20,93.26
Chicago Medallion Management,0.00,2.75,12.40,0.00,0.00,0.00,0.00,0.00,0.00,4.10,0.00,1.50
Choice Taxi Association,424.11,522.51,294.65,303.30,397.28,711.33,590.90,333.95,515.40,396.75,606.38,477.59
Dispatch Taxi Affiliation,1667.98,1304.89,1759.98,1514.67,1398.14,1678.89,1868.17,1717.48,1831.09,1352.70,1687.89,1574.79
KOAM Taxi Association,74.50,58.30,52.88,34.60,55.60,148.50,162.20,71.70,1177.44,99.80,102.10,90.90
NoCompany,502.19,443.55,308.02,386.02,1704.31,483.16,705.34,608.81,692.84,163.16,525.96,347.65
Northwest Management LLC,412.00,205.50,183.43,336.95,297.00,305.25,337.56,480.57,310.29,491.34,611.41,321.50
Patriot Trans Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.50,0.00,0.00
Suburban Dispatch LLC,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Taxi Affiliation Services,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.50,0.00,0.00
Top Cab Affiliation,135.28,78.40,23.00,121.30,90.75,59.50,135.00,59.40,126.59,20.80,53.20,66.50

In [187]:
meses=["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dic"]
aux_pago_mes=aux_pago_mes[meses]
aux_pago_mes

Mes,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dic
Company,,,,,,,,,,,,
0118 - 42111 Godfrey S.Awir,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
0694 - 59280 Chinesco Trans Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1085 - 72312 N and W Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1247 - 72807 Daniel Ayertey,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2092 - 61288 Sbeih company,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2192 - 73487 Zeymane Corp,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2241 - 44667 - Felman Corp Manuel Alonso,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7.70
2241 - 44667 Manuel Alonso,0.00,6.30,3.90,0.00,4.50,8.60,0.00,2.10,0.00,0.00,0.00,0.00
2733 - 74600 Benny Jona,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2809 - 95474 C & D Cab Co Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2823 - 73307 Lee Express Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2823 - 73307 Seung Lee,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3011 - 66308 JBL Cab Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3094 - 24059 G.L.B. Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3141 - 87803 Zip Cab,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3152 - 97284 Crystal Abernathy,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3201 - C&D Cab Co Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3201 - CD Cab Co Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3319 - CD Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3556 - 36214 RC Andrews Cab,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3591 - 63480 Chuks Cab,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3620 - 52292 David K. Cab Corp.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3623 - 72222 Arrington Enterprises,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3669 - 85800 Jordan Taxi Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4053 - 40193 Adwar H. Nikola,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4197 - 41842 Royal Star,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4615 - 83503 Tyrone Henderson,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4623 - 27290 Jay Kim,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4732 - Maude Lamy,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4787 - 56058 Reny Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5006 - 39261 Salifu Bawa,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5062 - 34841 Sam Mestas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5074 - 54002 Ahzmi Inc,0.00,0.00,0.00,0.00,3.75,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5129 - 87128,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5724 - 75306 KYVI Cab Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
585 - 88805 Valley Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5874 - 73628 Sergey Cab Corp.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5997 - 65283 AW Services Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6057 - 24657 Richard Addo,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6488 - 83287 Zuha Taxi,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6574 - Babylon Express Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6742 - 83735 Tasha ride inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6743 - 78771 Luhak Corp,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6747 - Mueen Abdalla,8.05,3.00,7.80,10.80,1.90,3.00,8.50,7.60,5.10,3.00,3.60,2.10
Blue Ribbon Taxi Association Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Chicago Medallion Leasing INC,33.25,24.40,29.90,28.90,49.65,110.50,71.20,62.25,93.26,86.20,101.90,60.20
Chicago Medallion Management,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.75,1.50,0.00,4.10,12.40
Choice Taxi Association,397.28,303.30,333.95,424.11,515.40,590.90,711.33,522.51,477.59,606.38,396.75,294.65
Dispatch Taxi Affiliation,1398.14,1514.67,1717.48,1667.98,1831.09,1868.17,1678.89,1304.89,1574.79,1687.89,1352.70,1759.98
KOAM Taxi Association,55.60,34.60,71.70,74.50,1177.44,162.20,148.50,58.30,90.90,102.10,99.80,52.88
NoCompany,1704.31,386.02,608.81,502.19,692.84,705.34,483.16,443.55,347.65,525.96,163.16,308.02
Northwest Management LLC,297.00,336.95,480.57,412.00,310.29,337.56,305.25,205.50,321.50,611.41,491.34,183.43
Patriot Trans Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.50,0.00
Suburban Dispatch LLC,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Taxi Affiliation Services,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.50,0.00
Top Cab Affiliation,90.75,121.30,59.40,135.28,126.59,135.00,59.50,78.40,66.50,53.20,20.80,23.00

In [188]:
aux_pago_mes.columns = [c + 'TotalTolls' for c in aux_pago_mes.columns]
aux_pago_mes

,JanTotalTolls,FebTotalTolls,MarTotalTolls,AprTotalTolls,MayTotalTolls,JunTotalTolls,JulTotalTolls,AugTotalTolls,SepTotalTolls,OctTotalTolls,NovTotalTolls,DicTotalTolls
Company,,,,,,,,,,,,
0118 - 42111 Godfrey S.Awir,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
0694 - 59280 Chinesco Trans Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1085 - 72312 N and W Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1247 - 72807 Daniel Ayertey,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2092 - 61288 Sbeih company,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2192 - 73487 Zeymane Corp,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2241 - 44667 - Felman Corp Manuel Alonso,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7.70
2241 - 44667 Manuel Alonso,0.00,6.30,3.90,0.00,4.50,8.60,0.00,2.10,0.00,0.00,0.00,0.00
2733 - 74600 Benny Jona,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2809 - 95474 C & D Cab Co Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2823 - 73307 Lee Express Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2823 - 73307 Seung Lee,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3011 - 66308 JBL Cab Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3094 - 24059 G.L.B. Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3141 - 87803 Zip Cab,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3152 - 97284 Crystal Abernathy,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3201 - C&D Cab Co Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3201 - CD Cab Co Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3319 - CD Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3556 - 36214 RC Andrews Cab,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3591 - 63480 Chuks Cab,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3620 - 52292 David K. Cab Corp.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3623 - 72222 Arrington Enterprises,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3669 - 85800 Jordan Taxi Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4053 - 40193 Adwar H. Nikola,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4197 - 41842 Royal Star,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4615 - 83503 Tyrone Henderson,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4623 - 27290 Jay Kim,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4732 - Maude Lamy,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4787 - 56058 Reny Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5006 - 39261 Salifu Bawa,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5062 - 34841 Sam Mestas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5074 - 54002 Ahzmi Inc,0.00,0.00,0.00,0.00,3.75,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5129 - 87128,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5724 - 75306 KYVI Cab Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
585 - 88805 Valley Cab Co,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5874 - 73628 Sergey Cab Corp.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5997 - 65283 AW Services Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6057 - 24657 Richard Addo,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6488 - 83287 Zuha Taxi,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6574 - Babylon Express Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6742 - 83735 Tasha ride inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6743 - 78771 Luhak Corp,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6747 - Mueen Abdalla,8.05,3.00,7.80,10.80,1.90,3.00,8.50,7.60,5.10,3.00,3.60,2.10
Blue Ribbon Taxi Association Inc.,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Chicago Medallion Leasing INC,33.25,24.40,29.90,28.90,49.65,110.50,71.20,62.25,93.26,86.20,101.90,60.20
Chicago Medallion Management,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.75,1.50,0.00,4.10,12.40
Choice Taxi Association,397.28,303.30,333.95,424.11,515.40,590.90,711.33,522.51,477.59,606.38,396.75,294.65
Dispatch Taxi Affiliation,1398.14,1514.67,1717.48,1667.98,1831.09,1868.17,1678.89,1304.89,1574.79,1687.89,1352.70,1759.98
KOAM Taxi Association,55.60,34.60,71.70,74.50,1177.44,162.20,148.50,58.30,90.90,102.10,99.80,52.88
NoCompany,1704.31,386.02,608.81,502.19,692.84,705.34,483.16,443.55,347.65,525.96,163.16,308.02
Northwest Management LLC,297.00,336.95,480.57,412.00,310.29,337.56,305.25,205.50,321.50,611.41,491.34,183.43
Patriot Trans Inc,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.50,0.00
Suburban Dispatch LLC,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Taxi Affiliation Services,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.50,0.00
Top Cab Affiliation,90.75,121.30,59.40,135.28,126.59,135.00,59.50,78.40,66.50,53.20,20.80,23.00

In [189]:
Taxis=Taxis.merge(aux_pago_mes,how = "left", left_on = "Company",right_index = True)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,MarTotalTolls,AprTotalTolls,MayTotalTolls,JunTotalTolls,JulTotalTolls,AugTotalTolls,SepTotalTolls,OctTotalTolls,NovTotalTolls,DicTotalTolls
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,0.00,0.00,0.00,0.00,0.00,2.75,1.50,0.00,4.10,12.40
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7.70
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,608.81,502.19,692.84,705.34,483.16,443.55,347.65,525.96,163.16,308.02

In [190]:
del(aux_pago_mes)

In [191]:
"""Guardamos un checkpoint"""
Taxis.to_csv(db_archive_path+"TAD.csv",index=False, encoding="utf-8")

## A nivel año

In [192]:
"""Cobro Total a lo largo del año"""
aux1 = df_junto[["Company","trip_total"]].groupby(by="Company").sum()
aux1

                                            trip_total
Company
0118 - 42111 Godfrey S.Awir               8.598396e+04
0694 - 59280 Chinesco Trans Inc           4.326664e+04
1085 - 72312 N and W Cab Co               5.062388e+04
1247 - 72807 Daniel Ayertey               3.871991e+04
2092 - 61288 Sbeih company                7.031340e+04
2192 - 73487 Zeymane Corp                 4.375001e+04
2241 - 44667 - Felman Corp Manuel Alonso  8.273000e+03
2241 - 44667 Manuel Alonso                3.617630e+04
2733 - 74600 Benny Jona                   6.799373e+04
2809 - 95474 C & D Cab Co Inc.            6.059640e+04
2823 - 73307 Lee Express Inc              3.456995e+04
2823 - 73307 Seung Lee                    2.107360e+04
3011 - 66308 JBL Cab Inc.                 6.528939e+04
3094 - 24059 G.L.B. Cab Co                3.666286e+04
3141 - 87803 Zip Cab                      6.176468e+04
3152 - 97284 Crystal Abernathy            4.470002e+04
3201 - C&D Cab Co Inc                     2.635009e+04
3201 - CD Cab Co Inc                      3.627648e+04
3319 - CD Cab Co                          3.544287e+04
3556 - 36214 RC Andrews Cab               1.777139e+04
3591 - 63480 Chuks Cab                    3.507747e+04
3620 - 52292 David K. Cab Corp.           4.446966e+04
3623 - 72222 Arrington Enterprises        5.616749e+04
3669 - 85800 Jordan Taxi Inc              1.125022e+04
4053 - 40193 Adwar H. Nikola              5.411042e+04
4197 - 41842 Royal Star                   7.207677e+04
4615 - 83503 Tyrone Henderson             3.313327e+04
4623 - 27290 Jay Kim                      6.608405e+04
4732 - Maude Lamy                         4.900000e+01
4787 - 56058 Reny Cab Co                  3.592249e+04
5006 - 39261 Salifu Bawa                  4.506515e+04
5062 - 34841 Sam Mestas                   1.286483e+04
5074 - 54002 Ahzmi Inc                    6.862691e+04
5129 - 87128                              8.933616e+04
5724 - 75306 KYVI Cab Inc                 5.481231e+04
585 - 88805 Valley Cab Co                 4.909579e+04
5874 - 73628 Sergey Cab Corp.             6.112227e+04
5997 - 65283 AW Services Inc.             4.442029e+04
6057 - 24657 Richard Addo                 2.530776e+04
6488 - 83287 Zuha Taxi                    3.104320e+03
6574 - Babylon Express Inc.               6.775917e+04
6742 - 83735 Tasha ride inc               4.928485e+04
6743 - 78771 Luhak Corp                   8.847047e+04
6747 - Mueen Abdalla                      5.963604e+04
Blue Ribbon Taxi Association Inc.         7.735888e+06
Chicago Medallion Leasing INC             3.102562e+06
Chicago Medallion Management              1.024702e+06
Choice Taxi Association                   1.773732e+07
Dispatch Taxi Affiliation                 2.518545e+07
KOAM Taxi Association                     5.513136e+06
NoCompany                                 1.223890e+08
Northwest Management LLC                  6.831431e+06
Patriot Trans Inc                         3.552364e+04
Suburban Dispatch LLC                     4.623000e+01
Taxi Affiliation Services                 6.502889e+07
Top Cab Affiliation                       4.762450e+06

In [193]:
aux1.columns = ["YearTotalCharge"]
aux1

                                          YearTotalCharge
Company
0118 - 42111 Godfrey S.Awir                  8.598396e+04
0694 - 59280 Chinesco Trans Inc              4.326664e+04
1085 - 72312 N and W Cab Co                  5.062388e+04
1247 - 72807 Daniel Ayertey                  3.871991e+04
2092 - 61288 Sbeih company                   7.031340e+04
2192 - 73487 Zeymane Corp                    4.375001e+04
2241 - 44667 - Felman Corp Manuel Alonso     8.273000e+03
2241 - 44667 Manuel Alonso                   3.617630e+04
2733 - 74600 Benny Jona                      6.799373e+04
2809 - 95474 C & D Cab Co Inc.               6.059640e+04
2823 - 73307 Lee Express Inc                 3.456995e+04
2823 - 73307 Seung Lee                       2.107360e+04
3011 - 66308 JBL Cab Inc.                    6.528939e+04
3094 - 24059 G.L.B. Cab Co                   3.666286e+04
3141 - 87803 Zip Cab                         6.176468e+04
3152 - 97284 Crystal Abernathy               4.470002e+04
3201 - C&D Cab Co Inc                        2.635009e+04
3201 - CD Cab Co Inc                         3.627648e+04
3319 - CD Cab Co                             3.544287e+04
3556 - 36214 RC Andrews Cab                  1.777139e+04
3591 - 63480 Chuks Cab                       3.507747e+04
3620 - 52292 David K. Cab Corp.              4.446966e+04
3623 - 72222 Arrington Enterprises           5.616749e+04
3669 - 85800 Jordan Taxi Inc                 1.125022e+04
4053 - 40193 Adwar H. Nikola                 5.411042e+04
4197 - 41842 Royal Star                      7.207677e+04
4615 - 83503 Tyrone Henderson                3.313327e+04
4623 - 27290 Jay Kim                         6.608405e+04
4732 - Maude Lamy                            4.900000e+01
4787 - 56058 Reny Cab Co                     3.592249e+04
5006 - 39261 Salifu Bawa                     4.506515e+04
5062 - 34841 Sam Mestas                      1.286483e+04
5074 - 54002 Ahzmi Inc                       6.862691e+04
5129 - 87128                                 8.933616e+04
5724 - 75306 KYVI Cab Inc                    5.481231e+04
585 - 88805 Valley Cab Co                    4.909579e+04
5874 - 73628 Sergey Cab Corp.                6.112227e+04
5997 - 65283 AW Services Inc.                4.442029e+04
6057 - 24657 Richard Addo                    2.530776e+04
6488 - 83287 Zuha Taxi                       3.104320e+03
6574 - Babylon Express Inc.                  6.775917e+04
6742 - 83735 Tasha ride inc                  4.928485e+04
6743 - 78771 Luhak Corp                      8.847047e+04
6747 - Mueen Abdalla                         5.963604e+04
Blue Ribbon Taxi Association Inc.            7.735888e+06
Chicago Medallion Leasing INC                3.102562e+06
Chicago Medallion Management                 1.024702e+06
Choice Taxi Association                      1.773732e+07
Dispatch Taxi Affiliation                    2.518545e+07
KOAM Taxi Association                        5.513136e+06
NoCompany                                    1.223890e+08
Northwest Management LLC                     6.831431e+06
Patriot Trans Inc                            3.552364e+04
Suburban Dispatch LLC                        4.623000e+01
Taxi Affiliation Services                    6.502889e+07
Top Cab Affiliation                          4.762450e+06

In [195]:
Taxis=Taxis.merge(aux1,how = "left", left_on = "Company",right_index = True)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,AprTotalTolls,MayTotalTolls,JunTotalTolls,JulTotalTolls,AugTotalTolls,SepTotalTolls,OctTotalTolls,NovTotalTolls,DicTotalTolls,YearTotalCharge
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.112227e+04
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,0.00,0.00,0.00,0.00,2.75,1.50,0.00,4.10,12.40,1.024702e+06
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7.70,8.273000e+03
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,8.933616e+04
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,502.19,692.84,705.34,483.16,443.55,347.65,525.96,163.16,308.02,1.223890e+08

In [196]:
del(aux1)

In [197]:
"""Cobro Total de peajes a lo largo del año"""
aux1 = df_junto[["Company","tolls"]].groupby(by="Company").sum()
aux1.head(3)

                                 tolls
Company
0118 - 42111 Godfrey S.Awir        0.0
0694 - 59280 Chinesco Trans Inc    0.0
1085 - 72312 N and W Cab Co        0.0

In [198]:
aux1.columns = ["YearTotalTolls"]
aux1.head(3)

                                 YearTotalTolls
Company
0118 - 42111 Godfrey S.Awir                 0.0
0694 - 59280 Chinesco Trans Inc             0.0
1085 - 72312 N and W Cab Co                 0.0

In [199]:
Taxis=Taxis.merge(aux1,how = "left", left_on = "Company",right_index = True)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,MayTotalTolls,JunTotalTolls,JulTotalTolls,AugTotalTolls,SepTotalTolls,OctTotalTolls,NovTotalTolls,DicTotalTolls,YearTotalCharge,YearTotalTolls
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.112227e+04,0.00
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,0.00,0.00,0.00,2.75,1.50,0.00,4.10,12.40,1.024702e+06,20.75
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7.70,8.273000e+03,7.70
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,8.933616e+04,0.00
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,692.84,705.34,483.16,443.55,347.65,525.96,163.16,308.02,1.223890e+08,6871.01

In [200]:
del(aux1)

In [201]:
"""Cobro Total de propinas a lo largo del año"""
aux1 = df_junto[["Company","tips"]].groupby(by="Company").sum()
aux1.head(3)

                                    tips
Company
0118 - 42111 Godfrey S.Awir      6330.96
0694 - 59280 Chinesco Trans Inc  3531.09
1085 - 72312 N and W Cab Co      4637.98

In [202]:
aux1.columns = ["YearTotalTips"]
aux1.head(3)

                                 YearTotalTips
Company
0118 - 42111 Godfrey S.Awir            6330.96
0694 - 59280 Chinesco Trans Inc        3531.09
1085 - 72312 N and W Cab Co            4637.98

In [203]:
Taxis=Taxis.merge(aux1,how = "left", left_on = "Company",right_index = True)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,JunTotalTolls,JulTotalTolls,AugTotalTolls,SepTotalTolls,OctTotalTolls,NovTotalTolls,DicTotalTolls,YearTotalCharge,YearTotalTolls,YearTotalTips
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.112227e+04,0.00,6290.42
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,0.00,0.00,2.75,1.50,0.00,4.10,12.40,1.024702e+06,20.75,93886.64
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,0.00,0.00,0.00,0.00,0.00,0.00,7.70,8.273000e+03,7.70,1082.80
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,8.933616e+04,0.00,10717.81
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,705.34,483.16,443.55,347.65,525.96,163.16,308.02,1.223890e+08,6871.01,11453006.25

In [204]:
del(aux1)

## A  nivel año

In [205]:
"""Mes con mayor cantidad Total Cobrada"""
aux1 = df_junto_mes[["trip_total","Company","Mes"]].groupby(["Company","Mes"]).agg({"trip_total":"sum"}).sort_values(by = ("trip_total"),ascending = False)
aux1

                                  trip_total
Company                     Mes
NoCompany                   Jun  12041130.15
                            May  11620462.47
                            Jul  11311159.05
                            Apr  11238442.62
                            Mar  11086905.88
...                                      ...
6742 - 83735 Tasha ride inc Sep       285.00
6057 - 24657 Richard Addo   Mar       187.80
Suburban Dispatch LLC       Jan        46.23
4732 - Maude Lamy           Apr        36.50
                            Jun        12.50

[575 rows x 1 columns]

In [206]:
aux2 = dict()
for c in company.values():
    try:
        aux2[c]=aux1.loc[(c)].head(1).index[0]
    except:
        pass
Taxis["MostChargedMonth"]=Taxis["Company"].map(aux2)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,JulTotalTolls,AugTotalTolls,SepTotalTolls,OctTotalTolls,NovTotalTolls,DicTotalTolls,YearTotalCharge,YearTotalTolls,YearTotalTips,MostChargedMonth
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,0.00,0.00,0.00,0.00,0.00,0.00,6.112227e+04,0.00,6290.42,Mar
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,0.00,2.75,1.50,0.00,4.10,12.40,1.024702e+06,20.75,93886.64,Oct
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,0.00,0.00,0.00,0.00,0.00,7.70,8.273000e+03,7.70,1082.80,Nov
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,0.00,0.00,0.00,0.00,0.00,0.00,8.933616e+04,0.00,10717.81,Jun
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,483.16,443.55,347.65,525.96,163.16,308.02,1.223890e+08,6871.01,11453006.25,Jun

In [207]:
del(aux1)
del(aux2)

In [208]:
"""Mes con mayor cantidad de viajes"""
aux1 = df_junto_mes[["taxi_id","Company","Mes"]].groupby(["Company","Mes"]).agg({"taxi_id":"count"}).sort_values(by = ("taxi_id"),ascending = False)
aux1

                                 taxi_id
Company                     Mes
NoCompany                   Mar   692675
                            Jun   686296
                            Apr   679453
                            May   670447
                            Jul   667539
...                                  ...
6057 - 24657 Richard Addo   Mar       18
6742 - 83735 Tasha ride inc Sep       13
Suburban Dispatch LLC       Jan        1
4732 - Maude Lamy           Jun        1
                            Apr        1

[575 rows x 1 columns]

In [209]:
aux2 = dict()
for c in company.values():
    try:
        aux2[c]=aux1.loc[(c)].head(1).index[0]
    except:
        pass
Taxis["MonthWithMostTrips"]=Taxis["Company"].map(aux2)
Taxis

,Company,QuantityOfTaxis,AvgTripsPerTaxi,MaxTripsPerTaxi,MinTripsPerTaxi,MaxTripTotalForTaxi,AvgTotalForTaxi,MaxTollsFeeTaxi,AvgTollsFeeTaxi,MaxExtraFeeTaxi,...,AugTotalTolls,SepTotalTolls,OctTotalTolls,NovTotalTolls,DicTotalTolls,YearTotalCharge,YearTotalTolls,YearTotalTips,MostChargedMonth,MonthWithMostTrips
0,3623-Arrington Enterprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5874 - Sergey Cab Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5874 - 73628 Sergey Cab Corp.,1.0,2839.000000,2839.0,2839.0,61122.0,61122.0,0.0,0.000000,3337.0,...,0.00,0.00,0.00,0.00,0.00,6.112227e+04,0.00,6290.42,Mar,Mar
3,Chicago Medallion Management,32.0,2276.906250,7341.0,55.0,104261.0,32021.0,10.0,0.625000,5479.0,...,2.75,1.50,0.00,4.10,12.40,1.024702e+06,20.75,93886.64,Oct,Dic
4,3011 - JBL Cab Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2241 - 44667 - Felman Corp Manuel Alonso,NaN,NaN,203.0,203.0,8273.0,8273.0,7.0,NaN,922.0,...,0.00,0.00,0.00,0.00,7.70,8.273000e+03,7.70,1082.80,Nov,Nov
117,4197 - Royal Star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,5129 - 87128,1.0,5618.000000,5618.0,5618.0,89336.0,89336.0,0.0,0.000000,5557.0,...,0.00,0.00,0.00,0.00,0.00,8.933616e+04,0.00,10717.81,Jun,Mar
119,Chicago Elite Cab Corp. (Chicago Carriag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NoCompany,2470.0,2967.544534,12100.0,1.0,219719.0,48336.0,1750.0,2.781781,16267.0,...,443.55,347.65,525.96,163.16,308.02,1.223890e+08,6871.01,11453006.25,Jun,Mar

In [210]:
"""Guardamos el csv"""
Taxis.to_csv(db_archive_path+"TAD_Arredondo_GInda_JesusAntonio.csv",index=False, encoding="utf-8")